[2020-07-01 20:52] ExperimentsInHonesty opened #2 "Create project card for OSA Project"
### Overview
Provide collateral for the hackforla.org website

### Action Items
- [ ]   Gather items
  - [ ]  600 x 400 image
     - [ ]  Alt image text
  - [ ]  Name of project
  - [ ]  A blurb about the project
  - [ ]  Links (github, slack channel url, Testing Site, Live Site, etc.)
  - [ ]  Any resources for a Getting Started link (a link to a wiki, readme(s) or both)
  - [ ]  What you are loo

[2020-07-02 03:46] ExperimentsInHonesty commented on #2
[code]
![opensourceautomations-lg](https://user-images.githubusercontent.com/37763229/86290891-0e2b3f00-bba3-11ea-9bbf-2c556fa9324b.png)
![gears-green-red](https://user-images.githubusercontent.com/37763229/86310724-932e4c80-bbd3-11ea-8001-b39cc1f2aae9.png)

[2020-07-02 04:00] ExperimentsInHonesty commented on #2
This is the tool I used to create the gears, incase we decide they need to be remade: https://svgsilh.com/svgedit/editor/svg-editor.html?url=/svg/2170648.svg

[2020-07-04 22:03] NivenPrasad opened #3 "Role Identification"
### Overview
We need to build a team for the 100Automations site.

### Action Items
- [x] Review the roles document
- [x] Identify initial list
- [x] Add requirements to current needs doc

### Resources/Instructions
[General Role Definitions](https://docs.google.com/document/d/1X6d6-Sm_QDQPobiRfqachCSajAOpqRLVUsdCnczhhts/edit#heading=h.7brglf3y33hh
)

[Project Recruiting Current Needs](https://doc

[2020-07-04 22:39] NivenPrasad opened #4 "DNS setup for 100Automations.com/.org/.net"
### Overview
Figure out how to point the DNS at GitHub url.

### Action Items

- [ ] Review current setup for HackforLA.org
- [ ] Identify exact settings
- [ ] Bonnie log in to Google Domains and change DNS

### Resources/Instructions
Cloudflare login

[2020-07-04 22:45] NivenPrasad opened #5 "One-sheet for project"
### Overview
Write a one-sheet for the 100Automations project including milestones for the next 6 months.

### Action Items

- [x] Review VRMS one-sheet
- [x] Review Civic Opportunity Project one-sheet
- [x] Produce First Draft of 100Automations project
- [x] Prepare questions for review with Bonnie

### Resources/Instructions
[VRMS Doc](https://docs.google.com/document/d/1lsRUAAMs1b60LOqQb9H6c4Ky

[2020-07-04 22:51] jafow commented on #4
not sure if we're using github pages to host a static site, but if so configuring the DNS for a github page was surprisingly simple last time I did it. [here's a link to the relevant docs](https://docs.github.com/en/github/working-with-github-pages/configuring-a-custom-domain-for-your-github-pages-site)

[2020-07-04 22:56] NivenPrasad commented on #5
Purpose of project:
Make it as easy as possible for the following:
- People to get credit for high-value contributions to GitHub and general open source community
- To publicize useful code to reduce repetitive work across the above community
- Website maintenance to support the above goals
- We want to encourage people to have a place to connect their automation ideas with talent to bring those a

[2020-07-05 00:28] ExperimentsInHonesty commented on #4
Yep. Ghpages to host a static site.  We use the same method on hackforla.org

[2020-07-05 16:01] abi-a opened #6 "Identifying the OKR's"
### Overview
We need to collaborate on identifying how best we will measure the successes using milestones and measurable results.

### Action Items
- [x] Identify overview of steps for Niven and Bonnie to review
   - [x] Team independently reviews Abi's doc.
- [x] Meeting with Team (Bonnie, Abi and Niven)
   - [x] Drafting set of OKRs
   - [x] Abi to identify the availability of Niven and Herself

[2020-07-06 03:36] NivenPrasad opened #7 "Create social media accounts for 100automations"
### Overview
Create social media accounts for 100automations.

### Action Items
Set up accounts for:

- [x] Twitter
- [x] Instagram
- [x] Facebook

### Resources/Instructions

[2020-07-08 15:40] NivenPrasad commented on #7
Social media accounts now set up - view here:

Twitter: https://twitter.com/100automations
Instagram: https://www.instagram.com/100automations/?hl=en
Facebook (Page): https://www.facebook.com/100automations-110926860687433/?modal=admin_todo_tour

@ExperimentsInHonesty 3 things to discuss:

1. Where to deposit login info/passwords for these profiles
2. Okay to make you an admin for the Facebook pag

[2020-07-08 17:11] ExperimentsInHonesty commented on #7
Hi @NivenPrasad I removed the label good first issue.  That label is for issues that a novice who is joining your project can do, not for PM issues.

[2020-07-08 23:37] ExperimentsInHonesty commented on #7
@NivenPrasad sure make me an additional admin on the facebook.

[2020-07-08 23:40] ExperimentsInHonesty commented on #2
1. Progress - some
2. Blocker - need to show logo to PM
3. Availability: 1 day this week
4. ETA: end of week

[2020-07-09 00:03] ExperimentsInHonesty opened #8 "Update Readme for website"
### Overview
Readme needs an update so that people thinking about joining our project know how to contribute.

### Action Items

- [x] Review the readme resource and figure out what we can include in ours.  Also look at the one for civic opportunity as an example
- [x] Update our readme
- [x] Send to Bonnie for review

### Resources/Instructions
[Hack for LA's default readme](https://github.com/ha

[2020-07-09 22:28] ExperimentsInHonesty commented on #2
@NivenPrasad I finished building the new logo based on what we talked about.  I am sending this issue to the website team to add to the website.

[2020-07-10 20:08] NivenPrasad opened #10 "Notify VRMS of 100Automations' Team Meeting Times"
### Overview
VRMS needs to know details of 100Automations' weekly team meetings

### Dependency
project card to be added to website

### Action Items
Notify VRMS of weekly team meetings once project card issue completed

### Resources/Instructions

[Project Card Issue](#2 )

[2020-07-11 04:22] NivenPrasad opened #12 "Update Readme for futureautomations"
### Overview
The futureautomations Readme needs an update so that people who want to contribute to the futureautomations repository know how the project flow works.

### Action Items

- [ ] Update the futureautomations Readme
- [ ] Send to Bonnie for review

### Resources/Instructions
[futureautomations Readme](https://github.com/100Automations/futureautomations/blob/master/README.md)

[2020-07-11 20:09] NivenPrasad opened #13 "Create issue template for futureautomations"
### Overview
An issue template for automation creators to use to ensure a minimum quality standard for automations as it makes its way through the creation workflow.

### Action Items
- [x] Review templates for current automation ideas
- [x] Draft a template here in the comments
- [x] Review with various
- [x]  Add to the futureautomations repo

### Resources/Instructions
[futureautomations repo](

[2020-07-11 22:13] ExperimentsInHonesty commented on #5
@NivenPrasad my edits are done.  Its ready to make into a pdf.  When you have the pdf link add it to the readme.  Here is an example of a project that has one: https://github.com/hackforla/civic-opportunity/blob/master/README.md

[2020-07-11 22:22] ExperimentsInHonesty commented on #7
Here is the logo
![100automationslogo](https://user-images.githubusercontent.com/37763229/87234895-58be6f80-c38a-11ea-86d6-2bc359f81beb.png)

[2020-07-14 19:33] NivenPrasad commented on #8
Hi @ExperimentsInHonesty here is the [draft ReadMe for Website repo](https://docs.google.com/document/d/1Y4MpA5AscYJg7t6VcPVbRO_5iwwIdJWE1RYu7zjgSKU/edit#) for your review.

[2020-07-14 19:36] NivenPrasad commented on #5
@ExperimentsInHonesty pdf of one-sheet now uploaded so moving this issue to the Done column

[100Automations Project One-sheet](https://github.com/100Automations/Website/blob/master/100Automations_Project_One_Sheet.pdf)

[2020-07-16 23:51] ExperimentsInHonesty commented on #7
Initial setup completed.

[2020-07-16 23:51] #7 closed

[2020-07-16 23:54] ExperimentsInHonesty commented on #6
@abi-a Checking in with you to see if you will have time to work on this issue, or we should put it back in the prioritized backlog.  No pressure, just checking your status.  If you are working on this please provide update:
1. Progress:
2. Blocks:
3. Availability:
4. Eta:

[2020-07-17 00:00] ExperimentsInHonesty commented on #8
here is the ops slack channel link: https://hackforla.slack.com/archives/CV7QGL66B

[2020-07-17 00:05] ExperimentsInHonesty commented on #8
@NivenPrasad after current changes.  go ahead and make it live.

[2020-07-17 00:24] ExperimentsInHonesty commented on #3
UI designer (must have)
UX content writer (nice to have)
front end dev (don't need now, will need after initial design)
back end dev (don't need now, will need after initial design)

[2020-07-17 00:26] ExperimentsInHonesty commented on #3
@NivenPrasad put must have and nice to have into this sheet https://docs.google.com/spreadsheets/d/1xnrwTL4kCFhecLQmXwFWVPyWjgc3DC6aQYWq8ZF_QDI/edit#gid=0

[2020-07-17 01:59] #5 closed

[2020-07-18 20:38] NivenPrasad commented on #8
@ExperimentsInHonesty current changes made and now moving issue to Done.

[2020-07-18 20:41] NivenPrasad commented on #3
@ExperimentsInHonesty edit access requested to make changes to sheet - waiting to be granted

[2020-07-18 21:04] ExperimentsInHonesty commented on #6
sent a message to @abi-a on slack.

[2020-07-18 21:19] ExperimentsInHonesty opened #14 "Assets for website"
### Overview
We will collect assets to put onto website and wiki in this issue

### Action Items
- [ ] First Item
   - [ ] Workshop for Automation https://www.meetup.com/hackforla/events/qlggsrybckbdc/

### Resources/Instructions
[100 Automations Youtube Channel](https://www.youtube.com/channel/UCS_BOwZ5Hj3pGHN0gmx4gAA/?guided_help_flow=5)

[2020-07-18 21:28] ExperimentsInHonesty opened #15 "Validate information collection from automation creators for website content"
### Overview
We need to review the information we intend to collect from automation creators, so that we can present each automation in a way that is valuable to our audience

### Action Item
- [x]  Review the template below with Automation Creators on the Ops group, and identify any additional information they would like to see.
   - [ ] Update the template
- [ ] Review the template with Automati

[2020-07-18 21:37] ExperimentsInHonesty opened #16 "Identify Audience for website"
### Overview
We need to know who we are designing this website for

### Action Items
- [ ] Review the one sheet and pull out all the audience types and put in this issue
- [ ] Identify audiences we have not named
- [ ] Review with Bonnie
- [ ] Review with Creators
- [ ] Identify other people to ask including ops group

### Resources/Instructions
https://github.com/100Automations/Website/blob/maste

[2020-07-18 21:50] ExperimentsInHonesty commented on #13
@salice @jafow @cnk @joelparkerhenderson

We are trying to figure out what type of questions we should ask when people are suggesting ideas for automations.  Would love to have your thoughts about this.

### Possible Questions
- Overview
- Current State ("as-is" most likely something manual but could be partially automated)
- Future Development
- Action Items/Research
- Stakeholders
- Anticipated

[2020-07-18 22:37] NivenPrasad commented on #3
@ExperimentsInHonesty roles now added to Current Needs doc so moving this issue to Done

[2020-07-18 23:12] NivenPrasad commented on #14
@ExperimentsInHonesty Youtube channel now set up and Resources/Instructions section updated in Issue. Also added to Quick Links on project board

[2020-07-19 01:37] salice commented on #13
Maybe add language and estimate on how big the project would be?

[2020-07-22 23:23] NivenPrasad opened #17 "Research other open source automation repos on GitHub"
### Overview
Find out how other open source automation repos approach creating automations to see what we can implement with our own automations.

### Action Items

- [x] Search Github for 3-4 open source automation repos
- [x] Fill out competitive analysis template

### Resources/Instructions
[Competitive analysis template](https://docs.google.com/spreadsheets/d/1eEx5xuqgYcTF_0qHFsa0hRfcpBmeY5Lf5

[2020-07-23 02:00] jafow commented on #13
I'd be interested to know:
- what is the "trigger" for this automation? What starts it? What is it responding to? Is it time-based (e.g. 1x/week) or event-based (e.g. someone just created a new github issue on a repo?)
- how much "manual" or custom input does it require? The best (ie the easiest to build, test, maintain, use) automations are ones that do 1 thing the same way every time based on a

[2020-07-25 04:48] NivenPrasad opened #18 "Create site map with UI/UX navigation flow"
### Overview
We need to create a flexible structure for the website to accommodate MVP requirements and growth beyond.

### Dependency
Requirements gathering summary Issue #25

### Action Items
- [ ] Product/UI/UX
  - [ ] Review requirements summary with UI/UX team
  - [ ] Ideate on potential designs
- [ ] UI/UX
  - [ ] Create site map
    - [ ] Review with Product
  - [ ] Create style guide issue

[2020-07-25 04:51] NivenPrasad opened #19 "Write copy for the website"
### Overview
Copy for the website

### Dependency
[Requirements gathering milestone complete ](https://github.com/100Automations/Website/projects/1?card_filter_query=milestone%3A%22Website+Requirements+Gathering%22)

### Action Items
- [ ] Review requirements summary document
- [ ] Write draft language for design process

### Resources/Instructions
- Requirements summary document

[2020-07-25 04:58] NivenPrasad opened #20 "Decide/develop our own style guide"
### Overview
Develop style guide for the overall navigation and visual appearance of the site.

### Action Items
- [x] Define a color guide
- [x] Define a typography system
- [x] Create key components

### Resources/Instructions
- Figma File: https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=243%3A363
- Reference to [Hack for LA Figma](https://www.figma.com/fil

[2020-07-25 16:29] abi-a commented on #6
Sincere apologies. I will add above a link to a resource we can use to identify the OKRs

[2020-07-25 20:42] NivenPrasad opened #21 "Update Team Roster"
### Overview
Rolling roster of team participants.

### Action Items
Add or update your info into the team roster.

### Resources/Instructions
[100Automations Team Roster](https://docs.google.com/spreadsheets/d/1nc1mmRAVwbn8TqM-Jb6sgSPD4xadbItt8fq3irEg274/edit#gid=0)

[2020-07-25 20:46] NivenPrasad opened #22 "Create personas"
### Overview
Create personas for the users of the website and GitHub workflow.

### Action Items
- [ ] Create Google Doc with User Personas
- [ ] Review with Bonnie

### Resources/Instructions

[2020-07-25 20:54] NivenPrasad opened #23 "Website Use Metrics"
### Overview
Identify how we will track and measure web analytics.

### Action Items
- [x] Research and discuss options
- [ ] Decide on approach to data instrumentation

### Resources/Instructions
[OKRs Issue](https://github.com/100Automations/Website/issues/6)

[2020-07-25 21:36] NivenPrasad commented on #13
@salice @jafow @cnk @joelparkerhenderson @tylerthome

Thank you everyone for your input on this! We've come up with a refined list below for our template. Any last thoughts?

### Possible Questions
- Overview (What kind of repetitive thing do you have to do often and what is the benefit of automating it?)
- Current State ("as-is" most likely something manual but could be partially automated)
- Fut

[2020-07-25 21:41] NivenPrasad opened #24 "Create automation card for Pre-commit-hook-starter"
### Overview
Provide collateral for the OpenSourceAutomations.org website

### Action Items
- [ ]   Gather items
  - [x]  600 x 400 image
     - [x]  Alt image text
  - [x]  Name of automation
  - [x]  A blurb about the automation
  - [ ]  Links (github, slack channel url, Testing Site, Live Site, etc.)
  - [ ] Healthy project files (see resources for instructions)
     - [ ]  Readme.md URL
     -

[2020-07-25 22:05] ExperimentsInHonesty commented on #4
Have currently forwarded the traffic to https://github.com/100Automations and will point the dns at the website url: 100automations.github.io

[2020-07-25 22:28] NivenPrasad commented on #8
Waiting for automation template issue #13 to get resolved. Once that happens, update link in ReadMe to the template.

[2020-07-25 22:43] NivenPrasad commented on #22
Duplicate issue.

[2020-07-25 22:43] #22 closed

[2020-07-25 22:57] NivenPrasad opened #25 "Write Project Requirements Summary Document"
### Overview
We need a requirements summary to share with website design and to complete the initial requirements gathering milestone.

### Dependency
Requirements gathering milestone complete

### Action Items
- [x]  Review all the items in the [requirements gathering milestone](https://github.com/100Automations/Website/projects/1?card_filter_query=milestone%3A%223+-+website+requirements+gatherin

[2020-07-25 23:22] NivenPrasad commented on #8
Closing this issue because initial launch of ReadMe is done.

[2020-07-25 23:22] #8 closed

[2020-07-25 23:28] NivenPrasad opened #26 "Update ReadMe"
### Overview
We need an up to date ReadMe to communicate effectively new users, contributors, and visitors on a continuous basis.

### Dependency
Waiting for automation template issue #13 to get resolved.

### Action Items
- [ ] Once that happens, update link in ReadMe to the template
- [ ] New person to review ReadMe identifying unanswered questions that could be addressed
  - [ ] Post suggestion

[2020-07-25 23:39] NivenPrasad opened #27 "Role Recruitment"
### Overview
We need to recruit contributors for this project on an ongoing basis.

### Note
Last comment on this sheet will have our current recruiting needs listed.

### Action Items
- [x] Check last comment on recruiting sheet and update as necessary
- [ ] If updates made, update spreadsheet

### Resources/Instructions
- [Hack for LA Recruiting Current Needs](https://docs.google.com/spreadsheet

[2020-07-25 23:42] NivenPrasad commented on #27
We need a UI/UX designer (must have) and a UX writer (nice to have).

[2020-07-25 23:43] #3 closed

[2020-07-29 03:16] NivenPrasad commented on #13
From Ops meeting 7/28
For the template:
- Impact - who benefits and how?
- Platform
- Output (What's desired? What do we not want to see?)
Specific example:
- Automated Slack

[2020-07-29 03:29] NivenPrasad commented on #15
Ops meeting 7/28 input:
- Create harness repo that would make it easy to incorporate other scripts or executable automations as opposed to elaborate automation app
- See for reference: Standards for organizing Unix POSIX tooling directories: https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html
- See for reference: Standards for Unix POSIX file system layouts: https://en.wik

[2020-07-29 23:42] NivenPrasad commented on #6
@ExperimentsInHonesty will reach out to CfA to find out if they can provide some guidance:
- Article: https://www.whatmatters.com/articles/code-for-america-okrs-local-government/

[2020-07-30 00:03] NivenPrasad commented on #2
@ExperimentsInHonesty has created issues in the Website and VRMS repos for changes to be made to the project card:
- https://github.com/hackforla/website/issues/659
- https://github.com/hackforla/VRMS/issues/232

[2020-07-30 04:44] NivenPrasad commented on #13
Automation proposal template in the futureautomations repo now updated to include suggested changes above so now closing this issue.

[2020-07-30 04:44] #13 closed

[2020-08-01 16:39] ExperimentsInHonesty commented on #10
opened this issue on VRMS repo https://github.com/hackforla/VRMS/issues/232

[2020-08-01 19:50] NivenPrasad commented on #6
[Current working OKRs document](https://docs.google.com/document/d/1ZeLLdg8fwkWyr9IRF2UqMRoI94JVGyJrMeU73CmSFa4/edit#)

[2020-08-01 21:11] NivenPrasad commented on #4
Moving this issue back to IceBox until website is ready to be live at the URL.

[2020-08-01 21:14] NivenPrasad commented on #15
This has been validated us much as we're able to until we have mock-ups of the website.

[2020-08-01 21:14] #15 closed

[2020-08-08 20:56] NivenPrasad commented on #24
Hi @salice! Checking in with you to see if you will have time to work on this issue, or we should put it back in the prioritized backlog. No pressure, just checking your status. If you are working on this please provide update:

Progress:
Blocks:
Availability:
Eta:

[2020-08-08 21:41] NivenPrasad commented on #2
@ExperimentsInHonesty reached out to Website team regarding the Getting Started section of Project page and VRMS team regarding team meeting times.

[2020-08-13 00:38] NivenPrasad opened #28 "Create sketches for website pages"
### Overview
We need initial sketches for the website pages.

### Action Items
- [x] Review Figma Board for outline of content for 5 pages
- [x] Produce first sketches of pages
- [x] Review with team

### Resources/Instructions
[Project Figma Board](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=0%3A1)

[2020-08-13 01:04] NivenPrasad commented on #27
Have onboarded UI/UX Designer - Camila Arias

[2020-08-18 18:42] rblaz001 opened #29 "Create automation card for Gather Data Types - Jekyll"
### Overview
Provide collateral for the OpenSourceAutomations.org website

### Action Items
- [ ]   Gather items
  - [x]  600 x 400 image
     - [x]  Alt image text
  - [x]  Name of automation
  - [x]  A blurb about the automation
  - [x]  Links (github, slack channel url, Testing Site, Live Site, etc.)
  - [x] Healthy project files (see resources for instructions)
     - [x]  Readme.md URL
     -

[2020-08-18 23:25] rblaz001 commented on #29
I'm considering renaming the script and repo to Gather Data Types. I designed a logo for Gather Data Types in case I move forward with this decision.

![Gather Data Types](https://user-images.githubusercontent.com/35281980/90574997-3e3c9a80-e16f-11ea-900f-6651de397c78.png)

[2020-08-19 18:47] NivenPrasad commented on #6
Hi @ExperimentsInHonesty, I requested the CfA workshop recording and slides on OKRs from CfA - have posted the links under Resources in this issue

[2020-08-20 19:52] NivenPrasad opened #30 "Compliance with Open Source Logo Guidelines"
### Overview
We need to review the open source logo guidelines to ensure there is no misuse of the logo in our project.

### Action Items
- [ ] Review open source logo guidelines
- [ ] Make note on Project Figma Board about what (if any) restrictions to use there are so that these are incorporated in the design process
- [ ] Review website designs before launch to ensure compliance with guidelines

[2020-08-24 21:04] ExperimentsInHonesty opened #31 "Create automation card for True GitHub Contributors"
### Overview
Provide collateral for the OpenSourceAutomations.org website

### Action Items
- [x]   Gather items
  - [x]  600 x 400 image
     - [x]  Alt image text
  - [x]  Name of automation
  - [x]  A blurb about the automation
  - [x]  Links (github, slack channel url, Testing Site, Live Site, etc.)
  - [x] Healthy project files (see resources for instructions)
     - [x]  Readme.md URL
     -

[2020-08-24 21:05] ExperimentsInHonesty commented on #31
![Screen Shot 2020-08-24 at 2 03 06 PM](https://user-images.githubusercontent.com/37763229/91096384-cd83fb00-e612-11ea-9592-d06c17c37138.png)
Alt text : Some GitHub profile Images of people who have contributed to the hackforla.org website

[2020-08-24 21:21] ExperimentsInHonesty commented on #29
@rblaz001 lets talk about blurb, I feel like we could say more.  Let's work on it together.  How about coming 15 min early to sunday meeting.

[2020-08-24 23:28] rblaz001 commented on #29
Yeah I agree with you, I'll come up with some ideas in the meantime that might better represent the project and I will show up 15 minutes earlier to our Sunday meeting so we can go over them.

[2020-08-25 02:03] ExperimentsInHonesty opened #32 "Get setup on 1password"
### Overview
We need to add our 100 Automations passwords to the password system that Hack for LA uses so that they can be available for the organization.

### Action Items
- [ ] Read this draft: https://github.com/hackforla/website/issues/701#issuecomment-679316669
- [ ] Prepare a list of accounts and passwords that we will need to store
- [ ] Work with Bonnie to get setup on the system
- [ ] Fol

[2020-08-26 20:45] KianBadie commented on #31
Will fill in blank fields when I have them.

@ExperimentsInHonesty should I create/add the repo to 100 Automations once it is done? Or can it be a repo with active development on the unfinished project? Because right now, the repo and readme links below do not exists, but will once the repo is created. Also, since this tool isn't being used in the website yet (but the idea behind it is being used)

[2020-08-26 22:39] NivenPrasad commented on #16
Reviewed audience list with Ops team on 08/25. Feedback:
- (Note from Ops meeting: could this firmed up? How does it compare to other solutions - what is the compelling value prop?)
- (Note from Ops meeting: how do we know these are good personas? People are using it. How do we prioritize these?)
- (Note from Ops meeting: are there any wider buckets that could roll some of these facets up e.g. Com

[2020-08-29 22:58] ExperimentsInHonesty commented on #10
It still not showing up properly.  Here is our latest communication with the team: https://github.com/hackforla/VRMS/issues/232#issuecomment-683350553

[2020-08-30 19:37] ExperimentsInHonesty commented on #29
![Screen Shot 2020-08-30 at 12 32 10 PM](https://user-images.githubusercontent.com/37763229/91668001-92277780-eabd-11ea-893a-a7061a7cb520.png)

[2020-08-30 19:39] rblaz001 commented on #29
Updated blurb:

When using Github and Jekyll it is easy to end up with files that are missing data types, with no built in way to enforce uniformity.  The Jekyll-Gather-Data-Types automation creates reports that identify what data types are being used across all files in a collection and what might be missing from individual files in order to target code for remediation.   Future functionality cou

[2020-08-30 19:46] ExperimentsInHonesty commented on #29
https://docs.github.com/en/articles/setting-guidelines-for-repository-contributors
https://docs.github.com/en/articles/adding-a-security-policy-to-your-repository
https://docs.github.com/en/articles/adding-support-resources-to-your-project

[2020-09-02 23:52] NivenPrasad commented on #28
@CamilaArias  Looks like you added a User Flow on the Figma board- are some of these actions and some of these pages? Perhaps we can distinguish between what these are by color coding? Happy to catch up on this.

[2020-09-03 00:25] ExperimentsInHonesty commented on #31
Q1: should I create/add the repo to 100 Automations once it is done? Or can it be a repo with active development on the unfinished project?
A1: Yes, create it now

Q2: since this tool isn't being used in the website yet (but the idea behind it is being used), should I still have the the "if status in use, used in codebase..." field be to hackforla?
A2: Yes and I refactored the way we ask about it.

[2020-09-03 03:16] ExperimentsInHonesty commented on #29
@rblaz001 We added some additional requirements, so I am doing a recap her of what we still need for your automation.

- [ ] Advice Needed: (type in short description of what you need)
- [ ] Healthy project files (see links for instructions)
   - [ ]  contributing.md URL see [GitHub's guide: Setting guidelines for repository contributors](https://docs.github.com/en/articles/setting-guidelines-for-

[2020-09-05 22:07] NivenPrasad commented on #10
This issue has now been fixed and the meeting times, including header, are now showing up.

[2020-09-06 08:13] CamilaArias commented on #28
@NivenPrasad I believe this was before I joined the call that day so you know what follows, but just for future reference we decided we need a User Journey for different types of users to map what they would be looking for and therefore how to best help them find it.

[2020-09-06 16:32] rblaz001 commented on #29
Advice Needed:
I would like some advice on how to set up a proper testing suite for my automation. We need to make sure that we can validate that my automation is working as intended.

I would also like some UX advice for setting up a command line interface with menus. The current version of the script only uses flags but I am considering the use of a simple command line menu system in order to si

[2020-09-06 16:43] rblaz001 commented on #29
README requires updating to adhere to new requirements

[2020-09-07 21:55] KianBadie commented on #31
@ExperimentsInHonesty I have created my repository for 100 Automations. It has a read.me but it is very outdated.

[2020-09-07 22:06] ExperimentsInHonesty commented on #31
Will edit fields as necessary.

@ExperimentsInHonesty should I create/add the repo to 100 Automations once it is done? Or can it be a repo with active development on the unfinished project? Because right now, the repo and readme links below do not exists, but will once the repo is created. Also, since this tool isn't being used in the website yet (but the idea behind it is being used), should I st

[2020-09-08 22:08] KianBadie commented on #31
I updated the [readme](https://github.com/100Automations/true-github-contributors/blob/mixin/readme.md) and created first drafts for the [support](https://github.com/100Automations/true-github-contributors/blob/mixin/SUPPORT.md), [security policy](https://github.com/100Automations/true-github-contributors/blob/mixin/SECURITY.md), and [contributing](https://github.com/100Automations/true-github-con

[2020-09-09 18:41] ExperimentsInHonesty commented on #31
@CamilaArias @NivenPrasad Here is the finished project card for True GitHub Contributors.  Let's discuss at next meeting.

[2020-09-09 22:10] NivenPrasad commented on #28
@CamilaArias @ExperimentsInHonesty I put together User Stories in this document to help get the ball rolling on User Journey Mapping:

https://docs.google.com/document/d/1u53qfwgYW8isruErcqOZJL_1J66QGYAU8P2UxkmdOL0/edit?usp=sharing

[2020-09-10 00:24] #10 closed

[2020-09-10 02:55] ExperimentsInHonesty commented on #31
**600x400 Image:**
![Screen Shot 2020-08-24 at 2 03 06 PM](https://user-images.githubusercontent.com/37763229/91096384-cd83fb00-e612-11ea-9592-d06c17c37138.png)
**Alt text:**  Some GitHub profile Images of people who have contributed to the hackforla.org website

**Name of automation:** True GitHub Contributors
**Blurb:** Node module used to extend GitHub's API Client octokit/rest.js to fetch new

[2020-09-10 04:07] ExperimentsInHonesty commented on #29
@rblaz001 when you say

Do you want a mockup? or some other kind of UX advice?  Please specify.

[2020-09-10 04:31] ExperimentsInHonesty commented on #29
@rblaz001

You could also check what Kian has written for his SUPPORT.md file https://github.com/100Automations/true-github-contributors/blob/mixin/SUPPORT.md.

We put a link in there for people to join the slack for 100Automations if they have support questions the readme doesn't answer.

[2020-09-10 05:57] ExperimentsInHonesty commented on #16
@NivenPrasad I added a lot of content from the above to https://github.com/100Automations/Website/projects/2.  - lets talk about this at our next meeting.

[2020-09-10 06:14] ExperimentsInHonesty commented on #17
Most of the resources on the web are just articles about major open source projects leaving out all the little interesting projects.
There is this though
https://npm.community/
https://www.npmjs.com/package/liveql (here is my friends project.  It seems to be getting attention long after being published).  So this should be part of our process.

[2020-09-10 06:16] ExperimentsInHonesty commented on #25
We need to add a sample media kit/todo list for each new automation to follow.

[2020-09-12 20:18] rblaz001 commented on #29
Updated  the SUPPORT.md file as requested and removed the UX advice requested. As discussed last Sunday the command line menu is low priority so it is to early to ask for that advice.

[2020-09-13 00:34] kcoronel opened #33 "Social Media Assets"
### Overview
We will drop-in any assets used for our social media channels.

### Resources/Instructions
Twitter Image
Facebook Image
Instagram Image

[2020-09-13 00:38] #33 closed

[2020-09-14 02:25] NivenPrasad commented on #24
**600x400 image:** [TO BE ADDED]

**Alt text:** [TO BE ADDED]

**Name of automation:** Pre-commit hooks
**Blurb:**

Links:

**Repo:** https://github.com/100Automations/github-actions

**Resources:**

Readme: https://github.com/100Automations/github-actions/blob/master/README.md
contributing.md:
security.md:
support.md:

**Help wanted:**
**Status:**
**Used in codebase:**

[2020-09-14 03:31] NivenPrasad commented on #24
Hi @salice! I've put together the above to "package" the github-actions repo into an automation that we can showcase on the website as we're building it.

We'll need to add contributing.md, security.md, and support.md files to the repo (this is a minimum threshold that we're implementing for all automations that enter the project) but I've already put together some text [for it here](https://docs.

[2020-09-17 00:41] NivenPrasad opened #34 "Make health files in the .github-automations repo"
### Overview
We need to make default health files in the .github repo so that developers for new automations don't need to create new ones when they set up an automation

### Action Items

- [x] Create default support.md file
- [x] Create default contributing.md file
- [x] Create default security.md file

### Resources/Instructions
See [true-github-contributors repo](https://github.com/100Automati

[2020-09-19 17:55] NivenPrasad commented on #24
Discussed with @salice this week and have updated the checklist. Health files text is ready in the doc link in the above comment - I have to create the files in the repository.

Note that the status has been set as "Needs to be built" which is not completely accurate - the developer, Sophia, is planning to augment and build further on the code so this is the status that most closely resembles that

[2020-09-27 04:05] CamilaArias commented on #31
Should we add **languages** here since we are now showing them?
**Healthy files** aren't being shown on the cards.
**Links**, we're only showing the link to the repo through the Readme button.
For the **codebase** should we specify we need the link to the repo and logo?

[2020-09-28 19:10] ExperimentsInHonesty commented on #28
![Screen Shot 2020-09-28 at 12 05 12 PM](https://user-images.githubusercontent.com/37763229/94475137-8219bb00-0183-11eb-84f6-636858ad6658.png)

[2020-10-03 21:37] NivenPrasad opened #35 "Create a default Code of Conduct file in .github"
### Overview
A Code of Conduct file is necessary for repos to meet community health standards. We need to create a default one so that any automations include this as part of their repo.

### Action Items
- [x] Craft a Code of Conduct file that links to the Hack for LA code of conduct and create a default file in the .github repo

### Resources/Instructions
[Hack for LA Code of Conduct](https://gi

[2020-10-07 20:42] NivenPrasad opened #36 "Create a Guide: Creating a Good Read.me for Your Automation"
### Overview
We need to create website content with a mark-down approach so that development can be easily updated. This is the issue to create a mark-down file for the "Creating a Good Read.me for Your Automation" guide.

### Dependency
Waiting for other guides to be done to see if this needs any additional formatting.

### Action Items
- [x] Write mark-down for the guide instructions in a commen

[2020-10-08 02:54] ExperimentsInHonesty opened #37 "Marketing review of mvp site content plan"
### Overview
Identify what marketing assets we need to support the project objectives

### Dependancy
#78

### Action Items
- [x] Ask Marketing what content needs to be added to the website to support its marketing efforts
- [ ] Ask Marketing to review the activities we are trying to support

### Background

- 100 Automations website will be public facing.
- It is in MVP site design at the moment

[2020-10-10 16:38] ExperimentsInHonesty opened #38 "Feature Idea: Related guide links"
### Overview
As a visitor to the site who selects a guide randomly I want to be to see how things are connected so that I can get a better understanding of how things work on the site or project

### Action Items
- [ ] review @CamilaArias 's idea
@Bonnie @Niven Prasad I just thought it might improve the UX a bit if we had a section on the side for related guides, as you said you prefer smaller gui

[2020-10-10 16:58] ExperimentsInHonesty commented on #31
Here is the final details for this project

![true-github-contributors-3](https://user-images.githubusercontent.com/37763229/92680204-258f5280-f2df-11ea-9946-27d222bddf15.png)

**Alt text:**  Some GitHub profile Images of people who have contributed to the hackforla.org website and titles under some names indicating Designer, Stakeholder, Product all in uppercase text.

**Description:** GitHub’s C

[2020-10-10 21:16] ExperimentsInHonesty opened #39 "Social Media previews"
### Overview
We need preview images for each automation and for our own website repo

### Action Items
  -  [x] template for each automation
      - [x] name of automation
      - [x] image unique to their automation
      - [x] 100 Automations logo
- [x] social media preview image for 100 automations website
   - [x] our logo

### Resources/Instructions
![repository-open-graph-template](https://u

[2020-10-10 21:19] NivenPrasad commented on #36
Creating a Good Read.me for your Automation

See an example of a good 100 Automations Read.me: True GitHub Contributors

A good 100 Automations Read.me should have the following content:

# Title

## Overview
What kind of repetitive thing do you have to do often and what is the benefit of automating it?

### Problem Being Solved

### Value Created from Solution

### Solution (simplified explanatio

[2020-10-10 21:55] NivenPrasad opened #40 "Write Emotional Social Media Posts for Users to Communicate Message About 100 Automations"
### Overview
We need to write posts/content that different categories users can use to communicate about 100 Automations.

### Action Items

- [ ] Write posts for use on Facebook
- [ ] Write posts for use on Instagram
- [ ] Write posts for use on Twitter
- [ ] Write posts for use on YouTube

### Resources/Instructions
[100 Automations One Sheet](https://github.com/100Automations/Website/blob/maste

[2020-10-10 22:04] NivenPrasad commented on #40
**User Groups**
Automation Creators
Automation Ideators
Mentors of Automation Creators
People who want to promote the 100 Automations site
People who used the automations

[2020-10-10 22:09] NivenPrasad opened #41 "Create a Guide: Preparing Your Automation for Publication"
### Overview
We need to create website content with a mark-down approach so that development can be easily updated. This is the issue to create a mark-down file for the "Preparing Your Automation for Publication" guide.

### Action Items
- [x] Write mark-down for the guide instructions in a comment on this issue.
- [x] Create a mark-down file for this guide and add it to a folder called _guides

[2020-10-10 22:09] NivenPrasad commented on #41
This is what we’ll need from you to prepare your automation for publication on the website:

Image

A 600 x 400 image that reflects the type of automation
Alt image text

Description of Automation

See our Guide to Writing About Your Automation

Health Files

See Supporting Your Automation with Community

Current status of Automation

 in use and ready to deploy
 in use and being refactored
 ready

[2020-10-10 22:13] NivenPrasad opened #42 "Create a Guide: Writing Short Descriptions for Your Automation"
### Overview
We need to create website content with a mark-down approach so that development can be easily updated. This is the issue to create a mark-down file for the "Writing About Your Automation" guide.

### Action Items
- [x] Write mark-down for the guide instructions in a comment on this issue.
- [x] Create a mark-down file for this guide and add it to a folder called _guides
   - [x] Call

[2020-10-10 22:14] NivenPrasad commented on #42
How to Write a Narrative Description

Here are two examples:

Example 1:

“GitHub’s Contributor’s endpoint only shows the people who put in pull requests.  On cross functional teams that use GitHub to manage projects, contributions from non code contributors (Designers, Product/Project Managers, Business Analysts, Q/A testers, etc.) are represented by comments on issues. 

True GithHub Contribut

[2020-10-10 22:24] ExperimentsInHonesty commented on #37
https://github.com/100Automations/Website/issues/40

[2020-10-10 22:28] NivenPrasad commented on #37
Notes from marketing meeting on 10.10.20:
- Went through the MVP website designs
- Went through user groups in [issue 40](https://github.com/100Automations/Website/issues/40)
- What are the categories of things to include in the Press Kit? So that designer knows what else to include in Press Kit page
- Downloadable press kit would be nice - much easier for PR people
- One-sheet for press - if you'

[2020-10-10 22:44] NivenPrasad opened #43 "Create a Guide: Supporting Your Automation with Community"
### Overview
We need to create website content with a mark-down approach so that development can be easily updated. This is the issue to create a mark-down file for the "Supporting Your Automation with Community" guide.

### Action Items
- [ ] Write mark-down for the guide instructions in a comment on this issue.
- [ ] Create a mark-down file for this guide and add it to a folder called _guides

[2020-10-10 22:45] NivenPrasad commented on #43
Supporting Your Automation with Community

100Automations wants to list your automation. In order to do that your automation needs to have:

- a contributing file to communicate how people should contribute
   - See GitHub tutorial (link to:   https://docs.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors)
   - Include the type of contribution you’re l

[2020-10-10 22:46] NivenPrasad opened #44 "Create Guide: Evaluating A New Automation Idea"
### Overview
We need to create website content with a mark-down approach so that development can be easily updated. This is the issue to create a mark-down file for the "Evaluating A New Automation Idea" guide.

### Action Items
Content
- [ ] Write a draft outline

Product
- [ ] Paste mark-down for the guide instructions in a comment on this issue.
- [ ] Create a mark-down file for this guide and

[2020-10-10 22:46] NivenPrasad commented on #44
Create or Publish Your First Automation

COMING SOON

[2020-10-11 20:32] ExperimentsInHonesty opened #47 "Create a guide: Writing a Technical Description for Your Automation"
### Overview
We need to create website content with a mark-down approach so that development can be easily updated. This is the issue to create a mark-down file for the "Writing a Technical Description for Your Automation" guide.

### Action Items
- [ ] Write mark-down for the guide instructions in a comment on this issue.
- [ ] Create a mark-down file for this guide and add it to a folder called

[2020-10-11 20:36] ExperimentsInHonesty opened #48 "Create a guide: Writing an Article about your Automation"
### Overview
We need to create website content with a mark-down approach so that development can be easily updated. This is the issue to create a mark-down file for the "Writing an Article about your Automation" guide.

### Action Items
- [x] Review True GitHub Contributors article outline and create a guideline for how to write an article
- [x] Write mark-down for the guide instructions in a comm

[2020-10-11 22:01] philippricefry commented on #37
Would rename this page "Press"

Suggested layout for this specific page (in order of hierarchy on page):

1: Press Releases & Media Alerts (should drop down OR open to another page where releases will be both downloadable and archived OR can open to a Google Drive)
2: Assets (should drop down OR open to another page OR open to a google drive where media can download things like logos, bios, fact s

[2020-10-12 05:34] ExperimentsInHonesty commented on #41
---
title: Preparing Your Automation for Publication
description: Gather the items in this guide before submitting your automation for publication.
status: active
display: true
---
# Preparing Your Automation for Publication

## Instructions
This is what we’ll need from you to prepare your automation for publication on the website:

- [Image](#image)
- [Alt image text](#alt-text)
- [Description of

[2020-10-12 06:22] ExperimentsInHonesty commented on #43
In order to finish the above draft we need to do the following:
- [ ] Add a template file for the following types and link them
   - [ ] CONTRIBUTING.md
   - [ ] SECURITY.md
   - [ ] SUPPORT.md
   - [ ] README.md
- [ ] Write an overview for
   - [ ] readme
   - [ ] license sections
- [ ] Add a link to the Code of Conduct file on true-github-contributors once kian has accepted the PR

[2020-10-15 00:14] NivenPrasad commented on #27
10.14. Discussed that we need front-end Javascript developer.

[2020-10-15 00:21] NivenPrasad commented on #17
Done.

[2020-10-15 00:21] #17 closed

[2020-10-15 00:51] NivenPrasad commented on #37
Great feedback! Discussed with @CamilaArias @ExperimentsInHonesty on 10.14.
Assigning now to Design to start framing contents for Press page, which should be the following:
1. Press releases
2. Assets section - with icons for Logos, Bios, Fact Sheets etc
3. Section for Contact 100 Automations Press Office with copy: "Are you a member of the media? Please send us a note at 100Automations@hackforla.

[2020-10-15 00:58] NivenPrasad commented on #31
Hi @CamilaArias - please make an extra card on the Figma board that reflects the information in [the comment directly above](https://github.com/100Automations/Website/issues/31#issuecomment-706579504).

[2020-10-16 15:09] NivenPrasad commented on #29
Hi @rblaz001, we are mocking up the automation info for the website - what programming language(s) is/are associated with your automation?

[2020-10-16 16:42] rblaz001 commented on #29
@NivenPrasad The script is written in 100% Python and the data it processes is in YAML.

[2020-10-23 14:44] NivenPrasad opened #49 "Create a logo for 100 Automations"
### Overview
We need to create a logo for the project.

### Action Items
- [x] Ideate themes
- [x] Ideate first designs
- [x] Discuss with group and produce finalists or new version
- [x] Get feedback
- [x] Finalize logo
- [x] Clean up the Figma page with logo

### Resources/Instructions

[Project Figma Board](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=2

[2020-10-28 23:15] NivenPrasad commented on #34
Pull requests created [here](https://github.com/100Automations/.github/pulls)

[2020-10-29 00:50] NivenPrasad opened #50 "Memes for Social"
### Overview
We need some clever memes for social.

### Action Items
- [x] List all pain points that 100 Automations is designed to solve
- [x] Add brief text that describes the pain and the solution in a pair

### Resources/Instructions
[Requirements Doc](https://docs.google.com/document/d/1GvI9SssKWr0ewXgjM9qCEB8rSgmKyQpiLKZt2PbGafM/edit#heading=h.4g4fancxvw7h)
[Project One-sheet](https://docs.g

[2020-10-31 23:15] NivenPrasad commented on #28
All page sketches are completed.

[2020-10-31 23:15] #28 closed

[2020-10-31 23:17] NivenPrasad commented on #37
@CamilaArias once mock-ups are done, we will send to Philip for review.

[2020-10-31 23:21] NivenPrasad commented on #49
@CamilaArias when done cleaning up Figma page for logo, you can go ahead and close this issue.

[2020-10-31 23:43] ExperimentsInHonesty commented on #50
Here is how the memes address our issues
- Automation Creators
Bernie - share your automation with us
Gru, office, headache - pain point is doing unnecessary work
simpsons - pain point is helping but not really helping
Spong Bob - pain point needs peer review (could be better addressed)
Crying cat , applause- not getting enough recognition
Girl - needs advice
Change my mind guy - pain point docume

[2020-10-31 23:44] ExperimentsInHonesty commented on #50
@CamilaArias will still need one or more that demonstrate that mentoring Automations creators is exponential value

[2020-11-03 00:53] ExperimentsInHonesty commented on #43
This can be turned into a guide once the readme guide is done and linked - see Issue https://github.com/100Automations/Website/issues/36

[2020-11-03 00:57] ExperimentsInHonesty commented on #36
@NivenPrasad I think this is page is good to make a file out of now.  So when we next get together I can walk you through it.  And then once this one is done, we will have a url to insert into #43 and it can go live as well.

[2020-11-05 01:22] #34 closed

[2020-11-05 01:24] #41 closed

[2020-11-05 01:24] #42 closed

[2020-11-05 01:26] #36 closed

[2020-11-05 01:43] NivenPrasad opened #53 "Landing page to capture user personas"
### Overview
We need to create a landing page to capture which profile of visitor is visiting our page. Depending on their profile, the page will then dynamically render.

### Action Items
- [ ] Review user personas
- [ ] Mock-up landing page
- [ ] Reviews with team

### Resources/Instructions
[User personas](https://github.com/100Automations/Website/projects/2)

[2020-11-05 01:50] NivenPrasad opened #54 "Create a Guide: Your Automation Beyond 100 Automations"
### Overview
We need to create website content with a mark-down approach so that development can be easily updated. This is the issue to create a mark-down file for the "Your Automation Beyond 100 Automations" guide.

### Action Items
- [ ] Write mark-down for the guide instructions in a comment on this issue.
- [ ] Create a mark-down file for this guide and add it to a folder called _guides
   -

[2020-11-05 02:34] CamilaArias commented on #37
- Banner for social media: open source development (include our logo)

[2020-11-05 02:39] CamilaArias commented on #50
- Meme for Product Managers - Mr Bean wink
- Meme for Employers - something about you don't know nothing about a developer but if they code automations or have been mentored by 100A you know they're good?
- Ideas for closed source vs open source

@ExperimentsInHonesty could you comment the wording for the first two? Not sure what sounds good.

[2020-11-07 22:17] ExperimentsInHonesty commented on #50
Mr Brean - PM - when you see an increase in traffic because you publicized your project by extracting and publishing reusable code on 100Automations and it drives traffic to your project which was your intention all along

[2020-11-07 22:23] ExperimentsInHonesty commented on #50
Employers - Evaluating a Developer from their GitHub and LinkedIn profile - Developers who publish their work on 100Automations

[2020-11-07 22:26] ExperimentsInHonesty commented on #50
Developers who go it alone vs Developers who are part of the 100Automations community
wandering in the desert or picture of guy in basement vs community picture (peer review, mentorship, users)

[2020-11-07 22:29] ExperimentsInHonesty commented on #50
Organizations making Civic Tech tools using closed source (wolf in sheep's clothing)
vs using open source (a lot of people helping each other)

[2020-11-07 22:35] ExperimentsInHonesty commented on #50
mentoring automation developers
![Screen Shot 2020-11-07 at 2 35 01 PM](https://user-images.githubusercontent.com/37763229/98452686-70262300-2106-11eb-8542-4e2e9998de94.png)

[2020-11-11 21:44] CamilaArias commented on #49
Forgot to do this. The logo is in the Branding page with the different variants and explorations have been moved to the Logo Explorations page.

[2020-11-11 21:44] #49 closed

[2020-11-12 00:58] NivenPrasad commented on #39
@CamilaArias has created:

- two versions of the website preview
- templates for each automation we have so far (we have versions with different colors, with names, and without names)

@ExperimentsInHonesty - we can discuss how to test and decide on versions.

[2020-11-12 01:14] NivenPrasad commented on #50
@CamilaArias and I made a meme for:
Employers evaluating potential candidate's competency  through their LinkedIn and GitHub vs candidate's contribution to 100 Automations

[2020-11-12 01:25] NivenPrasad opened #55 "Write a Press Release"
### Overview
We need to write a press release for the project. We have a Press Kit page and a Press Release, Bio, and Fact Sheet section. We need to write a press release to add to it.

### Action Items
- [x] Confer with marketing team to find out what content should be included in the press release.
- [x] Interview team members for the relevant information
- [x] Write a draft
- [x] Get it reviewe

[2020-11-14 22:29] NivenPrasad opened #56 "Update logos on social media"
### Overview
We need to update the logos and banners on social media accounts.

### Action Items
- [x] Update Facebook account logo
- [x] Update Facebook account background
- [x] Update Instagram account logo
- [x] Update YouTube account logo
- [x] Add YouTube account background (we don't have one yet, but we can add one)
- [x] Update GitHub account
- [x] Update Twitter account logo
- [x] Update T

[2020-11-14 22:33] NivenPrasad opened #57 "Create an Issue Template: Suggest a Guide"
### Overview
We need to create a "Suggest a Guide" form/issue - there is a card on the website called "Suggest a Guide" that when clicked on, should take the user to this form.

### Dependency
This template issue will have to be created and then the guide can be created and the template issue edited to link to the guide page until there is a real guide on the site.

### Action Items
- [x] Create t

[2020-11-14 22:52] NivenPrasad commented on #23
Google Tags Manager is an easy to use option - we should consider this and also think about whether we need to involve marketing team on setting up instrumentation for website use metrics.

[2020-11-19 00:36] NivenPrasad commented on #55
We need to jot down bullet points for press release, bios, fact sheets. Get bios for Kian, Sophia, Raudel, the 100 Automations team. This can then go to the marketing team.

[2020-11-19 01:01] ExperimentsInHonesty commented on #57
What would the title of the guide be
Example: Write a Short Narrative Description about Your Automation

What would the description of the guide be?
Example: A good narrative description will increase targeted traffic to your repository.  This guide helps you create one.

Who needs this guide
**_insert people we serve here as a check list_**

If you have any images (screen shots or other) that you

[2020-11-19 01:02] ExperimentsInHonesty commented on #57
@NivenPrasad Please add whatever else you think this needs and format how you like before creating a new template issue in the website repo.

[2020-11-19 01:12] ExperimentsInHonesty opened #58 "Create a Guide: How to suggest a guide for 100 Automations"
### Overview
We need a guide to share with people how to suggest a guide while also making sure that people don't repeat other peoples suggestions.

### Action Items
- [x] Write mark-down for the guide instructions in a comment on this issue.
- [ ] Create a mark-down file for this guide and add it to a folder called _guides
   - [ ] Call the file a name with dashes that is as short as possible

[2020-11-19 01:23] ExperimentsInHonesty commented on #58
what needs to be in this guide is

**DRY**
how to find guides that are already written or have been suggested, so that you don't duplicate work:  view this link
https://github.com/100Automations/Website/issues?q=is%3Aissue+is%3Aopen+label%3A%22feature%3A+guides%22

**Help us prioritize our backlog**
If you do find a guide suggestion in our issues, but that has not yet been worked on, feel free to

[2020-11-19 01:27] ExperimentsInHonesty commented on #58
@NivenPrasad please review this

[2020-11-25 18:32] NivenPrasad commented on #6
[Reviewed and updated document](https://docs.google.com/document/d/1ZeLLdg8fwkWyr9IRF2UqMRoI94JVGyJrMeU73CmSFa4/edit#)

[2020-11-28 22:11] NivenPrasad commented on #43
Checklist completed. Now closing issue.

[2020-11-28 22:11] #43 closed

[2020-11-28 22:17] NivenPrasad commented on #16
Last remaining item is creating proto-personas from the cards in https://github.com/100Automations/Website/projects/2
This will be used as the basis for creating a new page that tells how each persona uses the site.

[2020-11-28 22:25] NivenPrasad commented on #27
@NivenPrasad to keep checking the new-joiner-orientation channel for developers.
@CamilaArias reaching out to Zayd who is potentially interested in helping with JS development.

[2020-11-28 22:39] NivenPrasad opened #59 "Write Bio - Content Creator: Sophia Alice"
### Name

### Bio
_A 1-2 paragraph professional bio_

### Quote
_A quote from you about automations_

### Motivations
_What are your internal motivations for creating an automation?_

_What are your external motivations for creating an automation?_

### Picture

_Can we use your LinkedIn pic?_

[2020-11-28 22:41] NivenPrasad commented on #25
We're going to gather bios for content creators - we have created separate issues for these.

Bios page for creators (perhaps a pdf). Additionally:
- a quote from the creators e.g. what they've gotten out of creating the content, or why they think automating is important
- motivations, internal and external, for sharing
@NivenPrasad to ask creators
@CamilaArias to think about layout for bios

Bios

[2020-11-28 22:46] NivenPrasad commented on #25
Landing page for persona value propositions:
- Will contain a list of the personas
- Top meme for each persona, to get people's attention
- Value propositions for each persona
- How to navigate the site (may be in the value prop or may be separate)
- Describe persona's pain points (e.g. I'm not getting recognition I deserve at work)
- How the site and community solves that persona's pain points th

[2020-11-28 22:52] NivenPrasad opened #60 "Create Landing Page for Visitor Personas"
We need to create a landing page to capture different personas who visit the site and the related value propositions.

## Resources

See high-level requirements for page:
https://github.com/100Automations/Website/issues/25#issuecomment-735300466

[2020-11-28 23:00] NivenPrasad commented on #37
@CamilaArias is working on making it so that you can make the two interfaces consistent, in relation to being able to share the memes.

[2020-11-29 00:02] ExperimentsInHonesty commented on #37
Pinterest uses the download icon as the way to navigate to share

**Desktop Pinterest**
![Screen Shot 2020-11-28 at 3 57 44 PM](https://user-images.githubusercontent.com/37763229/100528499-8158d180-3192-11eb-982b-343b83873ded.png)

Mobile
![Screen Shot 2020-11-28 at 3 57 32 PM](https://user-images.githubusercontent.com/37763229/100528501-8453c200-3192-11eb-9d15-d47d2ea4b121.png)

**What is behind

[2020-11-29 02:17] ExperimentsInHonesty commented on #50
https://www.pxfuel.com/en/free-photo-qnlut
![people-city-diverse-diversity](https://user-images.githubusercontent.com/37763229/100530131-f7653480-31a2-11eb-9c14-d89e81fc592d.jpg)
![business-businessman-businesswoman-caucasian](https://user-images.githubusercontent.com/37763229/100530133-fc29e880-31a2-11eb-958b-c4bc356db51c.jpg)

https://www.pikrepo.com/fksik/man-in-black-suit-jacket-doing-peace-si

[2020-11-29 03:10] ExperimentsInHonesty commented on #39
@CamilaArias can you export [these images](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=791%3A303) in the size they need to be and add them to a folder on the google drive and link it here

[2020-11-29 03:28] ExperimentsInHonesty commented on #57
- [ ] Software developers of all skill levels
- [ ] People with ideas for automation
- [ ] People looking for automations (Project Managers, Business Analysts, Portfolio Owners)
- [ ] Employers
- [ ] Open source advocates
- [ ] Product Managers

[2020-11-29 04:52] ExperimentsInHonesty opened #61 "Create an Issue Template: Write Bio - [INSERT TYPE]: [INSERT NAME]"
### Overview
Create an Issue Template to request a bio from people we want to profile on the site (content creators, site builders, mentors, etc.).

### Dependency
Write a guide about how to write the bio and identify motivations #62

### Action Items
- [ ] Create two templates
   - [x] Template #1 - Content Creator
      - [x] Specify Default title of issue is: Write Bio - Content Creator: [INSER

[2020-11-29 04:57] ExperimentsInHonesty commented on #61
TEMPLATE #1 - Content Creator

Default title of issue is: Write Bio - Content Creator: [INSERT NAME]

Default labels:

-----

### Name

### Bio
_A 1-2 paragraph professional bio_

### Quote
_A quote from you about automations_

### Motivations
_What are your internal motivations for creating an automation?_

_What are your external motivations for creating an automation?_

### Picture

_Can we use

[2020-11-29 04:58] ExperimentsInHonesty commented on #61
TEMPLATE #1 - Site Builder

Default title of issue is: Write Bio - Site Builder: [INSERT NAME]

Default labels:

-----

### Name

### Bio
_A 1-2 paragraph professional bio_

### Quote
_A quote from you about automations_

### Motivations
_What are your internal motivations for creating the 100 Automations site?_

_What are your external motivations for creating the 100 Automations site?_

### Pict

[2020-11-29 05:35] ExperimentsInHonesty opened #62 "Create a Guide: Write your Open Source Automation Creator Bio"
### Overview
We need to create website content with a mark-down approach so that development can be easily updated. This is the issue to create a mark-down file for the "Write your Open Source Automation Creator Bio " guide.

### Action Items
- [ ] Write mark-down for the guide instructions in a comment on this issue.
- [ ] Create a mark-down file for this guide and add it to a folder called _guid

[2020-11-29 05:42] ExperimentsInHonesty commented on #57
@NivenPrasad looking back at this, it definitely needs more formatting to be like the other guides

[2020-11-29 06:29] ExperimentsInHonesty commented on #62
---
title: Write your Open Source Automation Creator Bio
description: People want to know the authors behind automations on our site, writing a good bio is easy once you know what to cover.
status: coming soon
display: true
---
# Write your Open Source Automation Creator Bio

## Instructions
This is what we’ll need from you so that we can promote you in our marketing efforts.

- [Name](#name)
- [B

[2020-11-29 07:25] ExperimentsInHonesty commented on #30
We decided to create a new logo to better represent the project. This issue can now be closed.

[2020-11-29 07:26] #30 closed

[2020-11-29 07:45] ExperimentsInHonesty commented on #56
![100Automations](https://user-images.githubusercontent.com/37763229/100536199-c6e9be80-31d3-11eb-8cb5-14ed5313c93f.png)

[2020-11-29 08:31] ExperimentsInHonesty commented on #32
I sent an invite to @CamilaArias @NivenPrasad.  Those must be accepted, and then they must be added to the vault.  Then Niven can add the following passwords:
- [ ] twitter
- [ ] instagram
- [ ] email

[2020-11-29 09:28] #35 closed

[2020-11-29 09:29] ExperimentsInHonesty opened #63 "Retroactively fix all the existing repos with appropriate community health files from .github-automations repo"
### Overview
We need to add community health files to each project. We need to create a default one so that any automations include this as part of their repo.

### Action Items
- [ ] Add this Code of Conduct to all the existing projects on the repo
   - [ ] https://github.com/100Automations/cherp - discuss what this is
   - [ ] https://github.com/100Automations/github-actions - needs to be rename

[2020-11-29 09:30] ExperimentsInHonesty commented on #35
The repos that were created before the default file was installed will need to be added.  See issue #63

[2020-11-29 19:03] NivenPrasad commented on #32
@ExperimentsInHonesty accepted 1password invitation today. Once added to vault, will store the social media and gmail account passwords over in the shared vault.

[2020-11-29 19:20] NivenPrasad commented on #55
Bios will have own issue cards assigned to those whose bios we need.

[2020-11-29 19:37] NivenPrasad opened #64 "Write Bio - Content Creator: Kian Badie"
### Overview
We need some info to put on our site about you, so that we can market your automation.

### Action item
- [ ] Provide
   - [ ] Name
   - [ ] Bio: _A 1-2 paragraph professional bio_
   - [ ] Quote:  _A quote from you about automations_
   - [ ] Motivations
      - [ ] Internal:  _What are your internal motivations for creating an automation?_
      - [ ] External: _What are your extern

[2020-11-29 19:44] NivenPrasad opened #65 "Write Bio - Site Builder: Niven Prasad"
### Overview
We need some info to put on our site about you, so that we can market the site.

### Action item
- [ ] Provide
   - [ ] Name
   - [ ] Bio: _A 1-2 paragraph professional bio_
   - [ ] Quote:  _A quote from you about automations_
   - [ ] Motivations
      - [ ] Internal:  _What are your internal motivations for building the site?_
      - [ ] External: _What are your external motivatio

[2020-11-29 19:49] NivenPrasad opened #66 "Write Bio - Site Builder: Camila Arias"
### Overview
We need some info to put on our site about you, so that we can market the site.

### Action item
- [x] Provide
   - [x] Name
   - [x] Bio: _A 1-2 paragraph professional bio_
   - [x] Quote:  _A quote from you about automations_
   - [x] Motivations
      - [x] Internal:  _What are your internal motivations for building the site?_
      - [x] External: _What are your external motivatio

[2020-11-29 19:59] NivenPrasad opened #67 "Write Bio - Site Builder: Bonnie Wolfe"
### Overview
We need some info to put on our site about you, so that we can market the site.

### Action item
- [ ] Provide
   - [ ] Name
   - [ ] Bio: _A 1-2 paragraph professional bio_
   - [ ] Quote:  _A quote from you about automations_
   - [ ] Motivations
      - [ ] Internal:  _What are your internal motivations for building the site?_
      - [ ] External: _What are your external motivatio

[2020-12-02 21:04] NivenPrasad commented on #58
Hi @ExperimentsInHonesty - this looks good! Here are my comments from review:

- I think it'd be helpful to let contributors know what takes place between them finishing a guide and the guide getting published on the website. E.g. "Once a guide is ready for publication, move it to the Review column where one of the 100 Automations content team will conduct a final review before the guide is publis

[2020-12-02 21:16] NivenPrasad commented on #56
The logos have all been updated.

[2020-12-02 21:34] NivenPrasad commented on #57
@ExperimentsInHonesty this looks good. Minor edit but I think that the "Credit" title might be better as "Credit for Published Guide" as some people with a ready automation will come looking straight for that use case and so this directs them there more quickly.

[2020-12-02 21:45] NivenPrasad commented on #61
[Pull request for Content Creator Bio Template](https://github.com/100Automations/Website/pull/68)

[2020-12-02 21:50] NivenPrasad commented on #61
Here is the [Pull request for the Site Builder Bio Template](https://github.com/100Automations/Website/pull/69)

[2020-12-03 00:32] ExperimentsInHonesty commented on #58
Niven said:

Bonnie response:
People can't move things on the project board because they don't have write access.  That has to be granted one person at a time.  If someone is going to write a guide, they should connect with us on Slack.  alternately, they could write it, up as an issue and then put in PR to commit the content, which we would review and write back with comments.  Let's talk it out

[2020-12-03 00:52] ExperimentsInHonesty opened #71 "Fix all instances of title of project: 100 Automations"
### Overview
We need to use the title consistently throughout the project.

### Action Item
Identify where the title is being used incorrectly and make changes
- [x] Readme
- [x] Issues
- [x] Meme

[2020-12-03 01:15] ExperimentsInHonesty commented on #58
@NivenPrasad -
Camilla and I met and and ended up deciding that 100 Automations  should be "100 Automations" instead of 100Automations.  I made an issue to make those changes #71

[2020-12-03 02:11] ExperimentsInHonesty commented on #56
![100automations-hero](https://user-images.githubusercontent.com/37763229/100954644-d0bc3c00-34c9-11eb-8f89-ddae53f04b0d.png)

[2020-12-03 17:57] ExperimentsInHonesty commented on #56
@NivenPrasad I changed my mind about how the twitter logo, its fine.  I reviewed all the other accounts and updated the todo list above.  The only items that remain are:
Update Twitter account background
Add YouTube account background (we don't have one yet, but we can add one)

[2020-12-05 22:25] NivenPrasad commented on #32
All passwords now included in 1Password.

[2020-12-05 22:25] #32 closed

[2020-12-05 23:12] NivenPrasad commented on #24
@NivenPrasad to check on PRs and confirm all assets are available for the card, before next meeting.

[2020-12-05 23:16] NivenPrasad commented on #29
@ExperimentsInHonesty will create the sample markdown file.

[2020-12-05 23:18] NivenPrasad commented on #27
New PM will take over responsibility of checking channel for new joiners/developers.

[2020-12-05 23:20] NivenPrasad commented on #39
@CamilaArias are you able to export these files? If you have already done so, please paste the URL in the issue here.

[2020-12-07 03:44] KianBadie commented on #64
I will come back to edit this.

- **Bio:** I'm Kian, a fresh web developer with a little over a year of participating in and contributing to open source work. I was the Lead Developer for the Hack for LA website team and created the True GitHub Contributors package for 100 Automations.
- **Quote:**
- **Motivations**:
   - **Internal:**
   - **External:**
- **Picture:** [Linkedin](https://www.linke

[2020-12-09 18:27] NivenPrasad commented on #56
@ExperimentsInHonesty Twitter and YouTube backgrounds now updated.

[2020-12-09 21:26] NivenPrasad commented on #6
@NivenPrasad turn Google Doc into HfLA template:
https://docs.google.com/spreadsheets/d/12SHS1MqdrelWjWf2xjZd9gMeQ6JFI2E9sZ2B3ODZ1bU/edit#gid=30376616

[2020-12-09 21:28] Olivia-Chiong commented on #27
@Olivia-Chiong will start recruiting developers

[2020-12-09 22:21] Olivia-Chiong commented on #20
@CamilaArias Bonnie shared this [style guide](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3686%3A93) for the hack for LA website and was wondering if we could develop the same for this project. Are you able to take a look and let us know if you are able to work on this?

[2020-12-10 00:33] CamilaArias commented on #50
Uploading memes here: https://drive.google.com/drive/folders/10vaCzqqoAGc6STIlYEKUZ_6y9nTjSF-n?usp=sharing

[2020-12-10 00:37] NivenPrasad commented on #37
Progress: @CamilaArias has reviewed the above comment.
Blocks: None.
Availability: Available.
Eta: Saturday

[2020-12-10 00:45] NivenPrasad commented on #50
@CamilaArias has updated folder and Figma.

[2020-12-10 00:45] #50 closed

[2020-12-10 00:54] NivenPrasad commented on #20
Progress: This has been started in Figma: ["Tokens and Components" page](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=243%3A363)
Blocks: None
Availability: Available
Eta: 2 weeks

[2020-12-10 00:56] NivenPrasad commented on #39
@CamilaArias has uploaded the previews in [this folder](https://drive.google.com/drive/folders/10vaCzqqoAGc6STIlYEKUZ_6y9nTjSF-n?usp=sharing).

[2020-12-10 00:56] #39 closed

[2020-12-10 01:00] #56 closed

[2020-12-10 01:09] NivenPrasad commented on #24
We need to create a new image and re-write the description to relate more closely to the new "Pre-commit hook starter kit" name.

[2020-12-10 01:16] NivenPrasad opened #73 "Create automation image and social media preview: Pre-commit hook starter kit"
### Objective
We need to create a new image for the Pre-commit hooks starter kit automation and then create a social media preview for it.

### Dependency
#24

### Action Items

- [ ] Create image
- [ ] Create social media preview
- [ ] Review with team
- [ ] Add to folder

### Resources
[Figma Board](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=791%3A303)

[2020-12-10 01:28] NivenPrasad commented on #58
In progress: @NivenPrasad working on it
Blocks: none
Eta: Saturday

[2020-12-10 01:29] NivenPrasad commented on #57
In progress: @NivenPrasad working on it
Blocks: none
Eta: Saturday

[2020-12-10 01:39] NivenPrasad opened #74 "Create a Wiki"
### Overview

We need to create a Wiki for the 100 Automations website development team.

### Action Items

- [x] Create a Wiki
- [x] Review with team
- [x] Implement the Wiki

### Resources
[Hack for LA Website Wiki](https://github.com/hackforla/website/wiki)

[2020-12-10 01:59] NivenPrasad opened #75 "Create workflows for suggested automations"
### Overview
We need to create ideal workflows for suggested automations.

### Action Items
- [ ] Design and create a button on the Home Page
- [ ] Edit the readme on the [futureautomations repo](https://github.com/100Automations/futureautomations) to define the as-is workflow
- [ ] Ideate on an ideal workflow for future state

### Resources
[Figma board](https://www.figma.com/file/zGyhV8Z6sLohatY

[2020-12-10 03:14] ExperimentsInHonesty commented on #29
WIP - still needs the following
- [ ] author info
- [ ] identification #
- [ ] details about card image size (for wiki)
- [ ] discuss rollover with team
- [ ] discuss status with team and camilla specifically re the chips and where they are represented on the figma
- [ ] discuss with team lock icon for as seen on.
---
# 'identification' is the 9 digit ID for your repo in the GitHub API.
identifica

[2020-12-11 20:23] NivenPrasad commented on #6
New [OKRs Google Sheet for 100 Automations](https://docs.google.com/spreadsheets/d/178wkyjmXPQ8PPM8jjWElUQ0qEcsvzaa12IEAlwYf_uA/edit?usp=drive_web&ouid=115147153382252034796)

[2020-12-12 19:07] NivenPrasad opened #76 "Carry out automation discovery"
### Overview
We need to have a continuous automation discovery and follow-up process to help automation creation velocity.

### Action Items
- [ ] Follow up with automation creators every 2 weeks
- [ ] Post notes, if applicable as comments in this issue

### Resources

[2020-12-12 19:21] NivenPrasad commented on #57
[Here is the PR](https://github.com/100Automations/Website/pull/77) to merge the template.

[2020-12-12 22:32] Olivia-Chiong opened #78 "Investigate Sharethis Package"
### OVERVIEW
We need to understand the limitations and constraints of ShareThis for the purpose of sharing the images to social media and downloading them.

### ACTION
- [ ] Dev to investigate using ShareThis for social media and download buttons on images.
- [ ] Create a shortlist of what we can control or identify what is clearly defined in the documentation and provide a link to it.
- [ ] Answe

[2020-12-12 22:41] Olivia-Chiong commented on #37
This is being paused due to  investigation of #78

[2020-12-12 22:46] Olivia-Chiong commented on #27
Recruited Dean and Amy to the project. Continuing to recruit more.

[2020-12-12 23:02] #57 closed

[2020-12-12 23:08] #58 closed

[2020-12-12 23:35] Olivia-Chiong opened #80 "Improve documentation for internal contributors to outside contributors"
### Overview
We need a clear path for outside contributors so that 100 Automations visitors can start contributing immediately.

### Actions
- [ ] Review and edit the readme guide
  - [ ] Link to the health files, one paragraph description on how they can get involved
- [ ] Establish guidelines for issues on repositories.
  - [ ] Adding a link to the community guide

### Resources
[Guides](https:/

[2020-12-13 00:17] Olivia-Chiong opened #81 "Write Bio - Site Builder: Olivia Chiong"
### Overview
We need some info to put on our site about you, so that we can market the site.

### Action item
- [x] Provide
   - [x] Name
   - [x] Bio: _A 1-2 paragraph professional bio_
   - [x] Quote:  _A quote from you about automations_
   - [x] Motivations
      - [x] Internal:  _What are your internal motivations for building the site?_
      - [x] External: _What are your external motivatio

[2020-12-13 00:38] Olivia-Chiong commented on #6
@Olivia-Chiong To pull list of issues and identify the issues missing from OKRs. Go through list of missing issues with the team at the next meeting.

[2020-12-14 23:12] ExperimentsInHonesty commented on #14
![Screen Shot 2020-12-14 at 3 11 06 PM](https://user-images.githubusercontent.com/37763229/102146941-bca80100-3e1e-11eb-884c-c77a9b7d5f92.png)

[2020-12-14 23:40] ExperimentsInHonesty commented on #14
![Screen Shot 2020-12-14 at 3 23 26 PM](https://user-images.githubusercontent.com/37763229/102148055-9edb9b80-3e20-11eb-9610-d17c856cef84.png)

![Screen Shot 2020-12-14 at 3 23 10 PM](https://user-images.githubusercontent.com/37763229/102147909-62a83b00-3e20-11eb-8ad5-27488429a738.png)

![Screen Shot 2020-12-14 at 3 28 33 PM](https://user-images.githubusercontent.com/37763229/102148308-11e51200-3e

[2020-12-15 23:56] mdothman commented on #78
# Investigative report on ShareThis Package

## Overview
For a quick and easy installation on your site, you can simply copy and paste the code from [ShareThis](https://platform.sharethis.com/). If you want to share something that isn't inline, picture, video, or the page itself, you can create a custom button for sharing whatever you like.

## Heads Up
**You always need the code in the header of

[2020-12-16 08:43] Olivia-Chiong commented on #6
[Issues spreadsheet](https://docs.google.com/spreadsheets/d/1p9clOgYQPTqFHFEammGqtM13MDzZVm8N3wYF_VJmCqA/edit#gid=0) created and ready for review.

[2020-12-16 10:33] Olivia-Chiong commented on #81
Name: Olivia Chiong

Bio: To do lists make me happy. I believe words have the power to change the world and numbers always tell a story. My philosophy is when something you want doesn't exist, go out and create it. Other than being a writer, published author, productivity hacker and accidental activist, I'm also a supermom by day and product manager by night. I'm making use of my project managemen

[2020-12-16 20:39] NivenPrasad commented on #65
### Name
Niven Prasad

### Bio: A 1-2 paragraph professional bio
Product Manager for 100 Automations. Background in 8+ years of problem-solving as a corporate lawyer around the world, 2+ years as a product manager and leader at early stage startups and technology institutions in San Francisco. Super curious learner and loves collaborating with others to build things that have a positive impact!

#

[2020-12-17 00:35] NivenPrasad commented on #24
@NivenPrasad to follow up with @salice on the outstanding action items.

[2020-12-17 00:49] NivenPrasad commented on #27
@Olivia-Chiong will connect with the Civic Opportunity team post-xmas to discuss content writer pipeline.

[2020-12-17 00:49] ExperimentsInHonesty commented on #78
This is great research with the finding that we will need to have the download button in addition to the social share button.

[2020-12-17 00:51] NivenPrasad commented on #37
Investigation of #78 concluded - all the images will need 2 icons:
1. One for sharing
2. One for download

[2020-12-17 00:59] NivenPrasad commented on #37
Need:

- Content for Bios page
- Content for Fact Sheet
- Press release

Once we have that content, @CamilaArias can do mock-ups of the Bios page and Fact Sheet (could be a page or modal). @Olivia-Chiong will make issues for the Fact Sheet, Bios page, and Press Release (or ensure they exist) and link them here in this issue.

[2020-12-17 01:23] NivenPrasad commented on #61
Templates have been created.

[2020-12-17 01:23] #61 closed

[2020-12-17 01:30] NivenPrasad commented on #29
@ExperimentsInHonesty will make a file in the repository and update the Wiki with details about the template.

[2020-12-17 01:51] ExperimentsInHonesty opened #85 "Create a CONTRIBUTING.md file for our repo"
### Overview
We need new developers to get up to speed fast with minimal verbal instructions for dev environment setup in order to spend our time on unique issues instead.

### Action Item
Copy read.me from Hfla website and make a new contributing.md file

### resources
https://github.com/hackforla/website/blob/gh-pages/README.md

[2020-12-17 03:37] mdothman commented on #78
@ExperimentsInHonesty Thank you, I will be editing to include more information on custom data-attributes: attaching a description, tags, title, etc.

[2020-12-19 17:57] mdothman commented on #78
I updated the report just now. I have included additional information on data-attributes, and a link, provided by ShareThis, to a coding sanding box for visualization.  I also reported my observations when working with the code in my own coding sandbox.  I worked on images specifically for our purposes.

[2020-12-19 18:36] NivenPrasad commented on #24
Progress: @salice working on it
Blocks: None
Availability: Available
Eta: Looking to get it done over the weekend but otherwise by Tuesday

[2020-12-19 19:13] Olivia-Chiong opened #86 "Content for Bio Pages"
### OVERVIEW
Team members to complete their bio so we can populate the Bios page.

### ACTION ITEMS
- [ ] Bio for @ExperimentsInHonesty
- [ ] Bio for @NivenPrasad
- [ ] Bio for @CamilaArias
- [ ] Bio for @Olivia-Chiong
- [ ] Bio for @mdothman
- [ ] Bio for @amyflo

[2020-12-19 19:20] Olivia-Chiong commented on #37
Bio pages - #86
Fact Sheet - Is one of the action items on #55
Press Release - #55

[2020-12-19 19:22] #81 closed

[2020-12-19 19:22] Olivia-Chiong commented on #27
Invite Audrey to join our team.

[2020-12-19 19:24] Olivia-Chiong commented on #74
Currently studying Wikis of other teams.

[2020-12-19 22:11] #65 closed

[2020-12-19 22:40] Olivia-Chiong commented on #86
@CamilaArias For the contributor bio page refer to #59

Contributor card should include name, automations affiliation, link to bio and Linkedin profile.

Website team card should include name, role, link to bio and Linkedin profile (contact info TBD)

[2020-12-19 22:42] Olivia-Chiong commented on #29
@amyflo will remove spaces and do another commit.

[2020-12-19 22:58] Olivia-Chiong commented on #78
This tool is not going to work, we are going to look at other tools.

[2020-12-19 22:58] #78 closed

[2020-12-19 23:01] Olivia-Chiong opened #87 "Investigate other tools for social media image sharing"
### OVERVIEW
We need to find a tool that allows images to be shared to social media including pre-defined text.

### ACTION ITEMS
Research for a tool that shares images individually and allows for customization of pre-defined text.

[2020-12-19 23:06] Olivia-Chiong opened #88 "Write Bio - Site Builder: Muhi-Dean Othman"
### Overview
We need some info to put on our site about you, so that we can highlight your participation.

### Action item
- [ ] Provide
   - [ ] Name
   - [ ] Bio: _A 1-2 paragraph professional bio_
   - [ ] Quote:  _A quote from you about automations_
   - [ ] Motivations
      - [ ] Internal:  _What are your internal motivations for creating the 100 Automations site?_
      - [ ] External: _Wha

[2020-12-19 23:14] Olivia-Chiong opened #89 "Update Hack for LA website project information"
### OVERVIEW
Get team information to update Hack for LA website project card. Send information to Hack for LA team.

### Action Items
Get Name, Slack ID, Github Handle and Role from the following
- [x] Olivia
- [x] Dean
- [x] Audrey
- [x] Jason

[2020-12-19 23:44] Olivia-Chiong commented on #44
Ideas to include
- Make sure it does not already exist
- Is it feasible?
- Time required to code it vs time required for the task

[2020-12-19 23:55] Olivia-Chiong commented on #48
@ExperimentsInHonesty @nahyungkim1220 and @KianBadie to meet and review True Github Contributors article together.

[2020-12-20 00:05] Olivia-Chiong commented on #25
@Olivia-Chiong will move task board from Figma into Website Requirements document.

[2020-12-20 00:51] Olivia-Chiong commented on #89
Name: Olivia Chiong
Slack ID: U01GJC7VC6L
Github Handle: Olivia-Chiong
Role: Product Manager

Name: Muhi-Dean Othman
Slack ID: U01F5K8DDPW
Github Handle: mdothman
Role: Full-Stack Developer

Name: Audrey Kim
Slack ID: U01H0CXBTUM
Github Handle: nahyungkim1220
Role: UX Writer

Name: Amy Lo
Slack ID: U01H2D487CY
Github Handle: amyflo
Role: Front-End Developer

Name: Jason Brown
Slack ID: U01G7G1HMU1

[2020-12-20 01:31] Olivia-Chiong commented on #37
Paused pending #87

[2020-12-20 01:33] Olivia-Chiong opened #91 "Write Bio - Site Builder: Audrey Kim"
### Overview
We need some info to put on our site about you, so that we can highlight your contributions.
### Action item
- [x] Provide
   - [x] Name
   - [x] Bio: _A 1-2 paragraph professional bio_
   - [x] Quote:  _A quote from you about automations_
   - [x] Motivations
      - [x] Internal:  _What are your internal motivations for creating the 100 Automations site?_
      - [x] External: _What

[2020-12-23 01:07] NivenPrasad commented on #71
[Pull request for changes to readme](https://github.com/100Automations/Website/pull/92)

[2020-12-23 06:14] nahyungkim1220 commented on #91
### Name
Audrey N. Kim

**Bio:** Hi, my name is Audrey and I'm a Content Writer at 100 Automations. I'm a recent grad from UC Berkeley (Go Bears!) with a BA in English who is curious about tech and communication. Before graduating, I worked at HarperOne as an Editorial Intern, and worked as a writing tutor teaching ESL students. I'm excited to get to work with others to make a positive contributio

[2020-12-23 08:40] superbunker commented on #44
Created placeholder document in _guides: [Evaluating Your New Automation Idea](evaluating-new-automation-idea.md)

[2020-12-24 00:38] Olivia-Chiong commented on #87
Update from @mdothman

Image sharing tools are out there, but facebook has placed a few obstacles.

Cont. og meta tags (og stands for Open Graph) were introduced by facebook, and since 2019 they no longer accept arbitrary values given for title, description and image. Facebook does a page crawl before compiling a graph composed from og meta tags. That is how facebook shares, and the tool I am look

[2020-12-24 01:48] ExperimentsInHonesty commented on #67
### Name
Bonnie Wolfe

### Bio
Bonnie Wolfe is a serial tech entrepreneur, technical educator, speaker, community builder, software product manager, program manager and consultant. As the current Executive Director of Hack for LA, she has grown the organization to the largest weekly hack night series in the world with 20 project teams of over 400 active participants globally, focusing solely on op

[2020-12-24 02:43] Olivia-Chiong opened #94 "Make a list of memes that can be used for Press Releases"
### Overview
Make a list of memes that can be used for press releases so we can plan for project information to be distributed in a strategic manner.

### Action Items
- [x] Review the memes located in the Figma
- [ ] Make a shortlist of memes that are suitable to be turned into Press Releases and include talking points linked to goals in product one page
- [ ] Review with the team

### Resources/

[2020-12-24 02:45] Olivia-Chiong opened #95 "Create standard template for issues"
### Overview
Create standard template for issues so issue creator has all the necessary fields

### Action Items
- [ ] Create standard template
- [ ] Review template with Product team

### Resources/Instructions

[2020-12-24 10:22] Olivia-Chiong commented on #25
Completed moving of items on task board in Figma into Website Requirements document. Pending review.

[2020-12-24 20:19] Olivia-Chiong opened #96 "Provide automation description for Terraform AWS Terragrunt Modules"
### Overview
Provide automation description for Terraform AWS Terragrunt Modules to be used on automation card for 100 automations website.

### Action Items
- [ ] Please provide a description for your [automation](https://github.com/100Automations/terraform-aws-terragrunt-modules).
- [ ] Please make a README for your automation, see our guide under resources.

### Resource

[Readme requirements f

[2020-12-24 20:45] Olivia-Chiong commented on #18
![image](https://user-images.githubusercontent.com/75456721/103105919-e1059980-45e5-11eb-823f-331112f88be8.png)
Reference: https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=25%3A0

[2020-12-24 21:23] Olivia-Chiong commented on #25
Go through the workflow on Figma and move Figma annotations into requirements document.
Separate items into MVP and post MVP.

[2020-12-24 22:07] #53 closed

[2020-12-24 23:53] nahyungkim1220 commented on #48
Draft 1: https://docs.google.com/document/d/1Vi74RhpZn2U8o79iimO6KesKRaY2zip-F0ANKxTq1go/edit

[2020-12-25 22:27] nahyungkim1220 commented on #55
Draft 1: https://docs.google.com/document/d/1Vi74RhpZn2U8o79iimO6KesKRaY2zip-F0ANKxTq1go/edit

[2020-12-26 16:55] NivenPrasad commented on #96
Hi @darpham, this issue helps us get the automation ready for the website - can you and/or Prashant attend to the action items? I have sent Prashant an invite to this repo but I don't think he's had a chance to accept yet.

Let me know if you had any queries - here to help!

[2020-12-26 18:25] mdothman commented on #88
# Muhi-Dean Othman

## Static Site Architect

I am a full-stack web developer who is dedicated to creating cutting edge interface friendly applications.  I tested out of high school at 16 from Fountain Valley High School. I transferred to the University of California Davis in 2013, and left in 2015. I worked mostly part-time jobs in retail.

In 2019 I decided I would pursue a career in web develop

[2020-12-26 21:26] nahyungkim1220 commented on #94
Maybe we can write about addressing this issue:
- When you find an automation that does exactly what you’ve been working on for months

These could go into an article about the diff. guides/help our website provides:
- When you've got the best idea for an automation, but you're not a developer
- Spent 4 months writing code; Received 0 github stars
- Joining an open-source project where none of the

[2020-12-26 21:55] mdothman commented on #87
# Image Sharing report

## Overview

Meta tags are used by facebook page crawler. This can be used to our advantage given site structure. We want to have a carousel of images with pop-up share and download buttons. If this site wants to be constructed optimally we are going to turn those images into buttons with background preview images.

The background image of the link to the post will be that

[2020-12-26 22:00] NivenPrasad commented on #71
ReadMe and issues updated. Just need to update one meme with help of @CamilaArias

[2020-12-26 22:10] Olivia-Chiong commented on #87
Based on the analysis, if we want people to share memes from our site, each meme will have to have its own landing page.

[2020-12-26 22:11] #87 closed

[2020-12-26 22:13] nahyungkim1220 commented on #55
###  How to Write an Article About Your Automation
#### Tell your journey like it’s a story. What challenges did you run into? How did you try to tackle them? Ultimately, what resolution did you come to?
#### Tips: Break down big chunks of information under headlines. Always give examples (snippets of code) when you can.

- **Title:** Should be short and straight to the point, preferably not longe

[2020-12-26 22:13] nahyungkim1220 commented on #48
###  How to Write an Article About Your Automation
#### Tell your journey like it’s a story. What challenges did you run into? How did you try to tackle them? Ultimately, what resolution did you come to?
#### Tips: Break down big chunks of information under headlines. Always give examples (snippets of code) when you can.

- **Title:** Should be short and straight to the point, preferably not longe

[2020-12-26 22:16] #95 closed

[2020-12-26 22:18] Olivia-Chiong commented on #29
Progress: None
Blockers: ?
Availability: ?
ETA: ?

@amyflo are you able to please provide an update for this?

[2020-12-26 22:19] Olivia-Chiong commented on #31
Progress: None
Blockers: ?
Availability: ?
ETA: ?

@amyflo are you able to please provide an update for this?

[2020-12-26 22:19] NivenPrasad opened #97 "Confirm MVP for the Press Kit Page"
### Overview

We need confirm the MVP for press kit page.

### Action Items

- [x] Product to come up with requirements for what this looks like
- [x] Review with team
- [x] Design to mock up changes
- [x] Review current press kit page with team
- [x] Create issue for any changes
- [x] Finalize for mvp

### Resources

[Press Kit Page](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automation

[2020-12-26 22:19] Olivia-Chiong commented on #85
Progress: None
Blockers: ?
Availability: ?
ETA: ?

@amyflo are you able to please provide an update for this?

[2020-12-26 22:21] NivenPrasad opened #98 "Landing Pages for Memes"
### Overview

We need to landing pages for each meme.

### Action Items

- [ ] Product to come up with requirements for what this looks like
- [ ] Review with team
- [ ] Design to mock up changes
- [ ] Review changes with team and finalize for mvp

### Resources

[Press Kit Page](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=791%3A30)

[2020-12-26 22:38] NivenPrasad opened #99 "Create issue on marketing board for press release review"
### Overview
We need to get marketing to review our draft press release by creating an issue on the marketing board.

### Action Items
- [ ] Bonnie to create an issue on the marketing board to get their review on our draft press release

### Resources/Instructions
[Draft press 100 Automations release issue](https://github.com/100Automations/Website/issues/55)
[Draft 100 Automations press release G

[2020-12-26 23:28] Olivia-Chiong commented on #94
For each of the above articles, Product needs to come up with the process.

Process for Press Releases should be Objective -> Guide -> Metric -> Press Release.

When you've got the best idea for an automation, but you're not a developer
- Non developer's guide to writing an automation proposal

Spent 4 months writing code; Received 0 github stars
- How to publicize your automation

Joining an open

[2020-12-27 00:56] Olivia-Chiong opened #100 "Create a favicon for 100 Automations"
### Overview
We need to create a favicon for 100 Automations so our website is recognizable in browsers.

### Action Items
- [x] Create a standard favicon
- [x] Review with team

### Resources/Instructions
[How to design a favicon](https://www.creativebloq.com/illustrator/create-perfect-favicon-12112760)

[2020-12-27 01:22] Olivia-Chiong opened #101 "Create holding landing page for website"
### Overview
Create holding landing page for website to be used once domain is redirected to website instead of wiki.

### Action Items
Product
- [ ] Create content to go on landing page
- [ ] Include links to the following
   - [ ] overview of project
   - [ ] email button for anyone who wants to be notified of official launch.
   - [ ] if you want to join 100 Automations website team, go to volu

[2020-12-27 19:20] #88 closed

[2020-12-28 01:35] #89 closed

[2020-12-28 23:37] amyflo commented on #31
Hi @Olivia-Chiong ! I was on holiday and missed the meetings last week.
Progress: looking through the Github / understanding documentation
Blockers: I am struggling a bit with understanding the documentation for the page
Availability: working on it!
ETA: unsure yet

[2020-12-30 21:45] nahyungkim1220 commented on #48
---
title: Writing an Article for Your Automation
description: If you want to write an article about your automation, consider these tips on content and structure.
status: in progress
display: true
---

# Writing an Article for Your Automation
If you're thinking about writing an article about your automation, start here!
A great article increases your visibility as a developer, and opens room for

[2020-12-30 21:46] nahyungkim1220 commented on #48
Created a mark-down file for this guide and added it to a folder called _guides: [Writing an Article for Your Automation](https://github.com/100Automations/Website/blob/master/_guides/writing-articles-for-automations.md)

[2020-12-31 00:16] NivenPrasad commented on #24
Checked in with @salice - had to attend to other priorities and will address this post-holiday/New Year's week.

[2020-12-31 00:18] NivenPrasad commented on #20
@CamilaArias is away until January 3, 2021.

[2020-12-31 00:39] superbunker commented on #44
Progress: Made updates based on comments
Blockers: no
Availability: lookin' good
ETA: Draft seems pretty close to done

[2020-12-31 00:44] Olivia-Chiong commented on #31
### Overview
Create project file for true github contributors so that the project will appear when the website is launched

### Action Items
- [ ]
- [ ]

### Resources

[2020-12-31 00:50] ExperimentsInHonesty commented on #31
@amyflo - here are the instructions on what you are supposed to do for this issue https://github.com/100Automations/Website/issues/31#issuecomment-752803377

[2020-12-31 00:53] nahyungkim1220 commented on #55
[Draft2](https://docs.google.com/document/d/1MjVkvLVDqd5v5XMQft4b4WGM-tvNA2vWwpo0z3yTlCY/edit?usp=sharing).

[2020-12-31 01:00] Olivia-Chiong opened #103 "Dockerise the 100 automations website"
### Overview
Dockerise the 100 automations website to prepare for web development.

### Action Items
- [x] Install Docker on the repo
- [x] Website should be 100automations.org
- [x] Test forking the repo as if you are a new developer. Confirm it works using instructions from Hack for LA website.

### Resources/Instructions
https://github.com/100Automations/Website
https://github.com/hackforla/web

[2020-12-31 01:17] Olivia-Chiong commented on #44
Change title to "Self-Evaluating an Automation Idea"

[2020-12-31 01:30] Olivia-Chiong commented on #48
@nahyungkim1220 to contact Ben Swerdlow about article writing.

[2020-12-31 04:55] Olivia-Chiong opened #104 "Establish Project Story Points"
### Overview
Establish project story points so we can better estimate project timeline

### Action Items
Product
- [ ] Map user stories into user stories template
- [ ] Determine priority of each story
- [ ] Determine MVP functionalities

Development
- [ ] Estimate effort required

### Resources/Instructions
[100 Automations Story Points](https://docs.google.com/spreadsheets/d/1XJOWLgtBB3Ksrae3Y89

[2020-12-31 06:01] Olivia-Chiong opened #105 "Create SECURITY file"
### Overview
Create SECURITY file

### Action Items
- [x] Click on link to [create new file](https://github.com/100Automations/Website/new/gh-pages)
- [x] Name the file SECURITY.md
- [x] Read the [community support file guide](https://github.com/100Automations/Website/blob/gh-pages/_guides/community-support-for-automations.md) for example of content
- [x] Include in the file: To report security is

[2020-12-31 06:02] Olivia-Chiong opened #106 "Create SUPPORT file"
### Overview
Create SUPPORT file

### Action Items

- [ ] Create SUPPORT file: Users should join the slack channel to report issues with the 100 Automations website

### Resources/Instructions
See this github guide for healthy repository https://docs.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file

[2020-12-31 06:04] Olivia-Chiong opened #107 "Create CODE OF CONDUCT file"
### Overview
Create CODE OF CONDUCT file

### Action Items

- [ ] Create CODE OF CONDUCT file: link to the Hack for LA code of conduct : https://github.com/hackforla/codeofconduct

### Resources/Instructions
See this github guide for healthy repository https://docs.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file

[2021-01-02 00:28] ExperimentsInHonesty opened #109 "Post MVP outreach to potential high value contributors"
### Overview
We want to invite contributors who understand the value and are already prolific in order to increase the visibility of the project and attract more of same.  Think oss influencers.

### Action Items
- [ ] Add names to the Potential Contributors list
- [ ] Once site is launched and has 10 or more automations, reach out to one of the people on this list and see how the overture is rece

[2021-01-02 05:43] Olivia-Chiong commented on #74
I've refined the Wiki and it is ready for review.

[2021-01-02 07:24] Olivia-Chiong commented on #27
Created [new form](https://forms.gle/LGXf7DABcnaSUFxm7) for recruitment purposes.

[2021-01-02 21:54] Olivia-Chiong commented on #94
Objective: Get more people to submit automation ideas
Guide: Non developer's guide to writing an automation proposal
Metric: 50 new automation ideas in futureautomations by 6 months after launch
Press Release: When you've got the best idea for an automation, but you're not a developer

Objective: Build a community of people who writing better code by supporting each other to maintain quality stand

[2021-01-02 21:54] superbunker commented on #44
Updated with suggested changes, and adding more items from the Automations Proposal Template

[2021-01-02 22:05] Olivia-Chiong commented on #103
@mdothman will find someone in #ops to review the PR and once approved, we will merge.

[2021-01-02 22:20] Olivia-Chiong opened #111 "Create a css framework"
### Overview
Create a css framework so developers can refer to it and build consistently beautiful websites.

### Action Items
- [ ] Create a framework using Material Design
- [ ] Review with the team

### Resources/Instructions

[2021-01-02 22:24] Olivia-Chiong commented on #44
@superbunker to update this into new PR.

[2021-01-02 22:44] Olivia-Chiong commented on #27
@superbunker to help with replacing header for form.

[2021-01-02 22:50] #94 closed

[2021-01-02 22:53] Olivia-Chiong commented on #24
@superbunker to create a replacement image for the logo

[2021-01-02 23:42] #74 closed

[2021-01-05 15:07] nahyungkim1220 commented on #55
Update (1/4/21): Elle and another marketing volunteer will look at it and get back to me by Thursday.

[2021-01-05 21:50] Olivia-Chiong opened #115 "Create Miro Board for 100 Automations"
### Action Items
- [x] Create a Gmail account (example: civictechindex@gmail.com) for your project if it does not yet exist
   - [x] If it already exists, connect with Bonnie to do password recovery for the Gmail account.
- [x] Add Gmail account to 1Password vault and use hackforla.org email as the recovery email address
- [x] Sign up for Miro using the Gmail account
- [x] Create a new board
- [x]

[2021-01-05 22:49] Olivia-Chiong opened #116 "Iterate on Landing Page copy and buttons"
### Overview
The top portion of the Landing page is confusing and requires clarification.

### Action Items
- [ ] Clarify what the two submit buttons do and if they are the same
- [ ] Create copy to clarify what "contribute" and "submit" means
- [ ] When you click submit - it should go to a readme.md or a wiki that shows two paths for ideators or developers.

![image](https://user-images.githubuse

[2021-01-05 22:54] Olivia-Chiong opened #117 "Add title cards for futureautomations project board"
### Overview
We need to add title cards for futureautomations project board so people viewing it can understand where the automations stands in the process.

### Action Items
- [x] Create title note cards that explains each column for the project board
- [x] Ensure the cards explain how to move to the next column

### Resources/Instructions
[futureautomations project board](https://github.com/100A

[2021-01-05 23:03] Olivia-Chiong commented on #115
Miro board created - https://miro.com/app/board/o9J_lZziQ3g=/

[2021-01-05 23:03] #115 closed

[2021-01-05 23:08] Olivia-Chiong opened #118 "Create MVP Personas and User Stories on Miro Board"
### Overview
We will create personas and user stories on Miro Board to use in story points and website workflow.

### Action Items
- [ ]  Create MVP persona boards for
  - [ ] Developer
  - [ ] Ideator

### Resources/Instructions
[Miro Board](https://miro.com/app/board/o9J_lZziQ3g=/)

[2021-01-06 20:16] NivenPrasad commented on #117
Hi @Olivia-Chiong, @ExperimentsInHonesty - I've added title cards to the [futureautomations project board](https://github.com/100Automations/futureautomations/projects/1). Some further comments from doing this:

- I see the futureautomations project board as user facing so I developed the notes with supporting UX for ideators and developers in mind
- Since it's user facing, it would be helpful to

[2021-01-06 20:20] NivenPrasad commented on #96
Update on 1/6/21: @darpham with limited availability this week but looking to work on it over this weekend.

[2021-01-06 22:57] Olivia-Chiong commented on #116
Product would like the team to look at this page and provide feedback on the UX experience

- [ ] If you were a developer, is this clear enough? What would you like to see?
- [ ] If you were an ideator, is this clear enough? What would you like to see?

[2021-01-06 23:35] superbunker commented on #24
An idea for a replacement logo --
![gpch-0106_1517](https://user-images.githubusercontent.com/47950704/103833031-b92a2300-5034-11eb-967b-94db5f8fe11e.jpg)

[2021-01-06 23:39] superbunker commented on #27
revised form header --
![100_automations_google_form_header-0106_1249](https://user-images.githubusercontent.com/47950704/103833249-5e44fb80-5035-11eb-9a5c-bbfd3c329240.png)

[2021-01-07 00:39] NivenPrasad commented on #117
@nahyungkim1220, @superbunker @mdothman can you please provide feedback on whether the notes in the columns:

- make clear what the cards in the column contain
- there is a clear and easy to understand workflow from one column to the next

[2021-01-07 00:47] NivenPrasad commented on #27
@ExperimentsInHonesty has approved.

[2021-01-07 00:52] NivenPrasad commented on #24
Logo approved.

[2021-01-07 00:56] ExperimentsInHonesty commented on #117
Done column
![Screen Shot 2021-01-06 at 4 54 42 PM](https://user-images.githubusercontent.com/37763229/103837126-e6300300-503f-11eb-8aff-c321ca6cf16c.png)

What is your plan for automations that turn out not to be created.  For instance the one that is in there now, didn't need to be created because it already exists.

[2021-01-07 01:16] NivenPrasad opened #120 "Write Bio - Site Builder: Jason Brown"
### Overview
We need some info to put on our site about you, so that we highlight your contributions.

### Action item
- [ ] Provide
   - [ ] Name
   - [ ] Bio: _A 1-2 paragraph professional bio_
   - [ ] Quote:  _A quote from you about automations_
   - [ ] Motivations
      - [ ] Internal:  _What are your internal motivations for creating the 100 Automations site?_
      - [ ] External: _What ar

[2021-01-07 01:25] NivenPrasad opened #121 "Research on whether to create a template or guide for automation graphics"
### Overview
We need to research whether we need a template or guide for automation graphics.

### Action Items
- [x] Research whether a template is appropriate for automation graphics
- [x] Research whether a guide is appropriate for automation graphics
- [x] Review with team
- [ ] Add to _guides folder

### Resources/Instructions

[2021-01-07 01:27] ExperimentsInHonesty opened #122 "Review the 100Automations press release"
### Overview
We need a review of the 100 Automations Press release so that we can start working on a guide for all press releases per project.

### Action Items
- [ ] Review press release draft

### Resources/Instructions
[Press release most recent draft](https://docs.google.com/document/d/1dlHJqM33siqfla48aewZQC_Xpz6x_b7cqN5G7bA6Ab8/edit)

[2021-01-07 01:28] #122 closed

[2021-01-07 01:31] ExperimentsInHonesty commented on #99
https://github.com/hackforla/marketing/issues/9

[2021-01-07 01:31] #99 closed

[2021-01-07 03:55] NivenPrasad commented on #44
PR approved and merged. Issue now moving to Done.

[2021-01-08 06:42] Oskar-Adam-Zloch commented on #116
Yes!

- Contribute word is rather not suit to be primary, it sounds more like after clicking it, I would join developers working on the
   100 Automations page to help them.

   I think that submitting new automation should be primary, and joining existing automation secondary,
   something like "Submit new" or "Join existing" would create more context.

- Main title is just repeating brand/logo n

[2021-01-09 07:03] Olivia-Chiong commented on #24
@salice is working on it this weekend and will provide update next week.

[2021-01-09 08:08] NivenPrasad commented on #48
Hi @nahyungkim1220 - I've reviewed the PR and requested one minor edit.

[2021-01-09 08:18] Olivia-Chiong opened #123 "Automate the updating of OKR sheet using Zapier"
### Overview
Automate the updating of OKR sheet using Zapier to make tracking WBS more efficient.

### Action Items
- [x] Create OKR labels
- [x] Set up OKR and WBS spreadsheet
- [ ] Create zap in Zapier

### Resources/Instructions
[OKR & WBS spreadsheet](https://docs.google.com/spreadsheets/d/178wkyjmXPQ8PPM8jjWElUQ0qEcsvzaa12IEAlwYf_uA/edit#gid=688048273)
[Zapier](www.zapier.com)

[2021-01-09 19:52] #48 closed

[2021-01-09 21:22] nahyungkim1220 commented on #55
Update: Elle gave feedback on Thursday (1/7/21). Her feedback is mostly about the title and subtitle.
[Elle's feedback in the comments](https://docs.google.com/document/d/1dlHJqM33siqfla48aewZQC_Xpz6x_b7cqN5G7bA6Ab8/edit)

Update: Draft has been revised to incorporate Elle's feedback.
Draft 4

[2021-01-09 22:04] superbunker commented on #120
need to work on some "personal branding" issues -- could use a week or two for this

[2021-01-09 22:06] superbunker commented on #121
Suggestion that we offer project image design as one of our "value ads"

[2021-01-09 22:34] Olivia-Chiong commented on #121
We have agreed to develop a guide for developers to either create their own logo with best practices or open an issue to get a UI designer to do it for them. @superbunker is going to draft the guide.

[2021-01-09 22:39] Olivia-Chiong commented on #111
@ExperimentsInHonesty will connect @mdothman with Josh Bubar and David Rubenstein for some css help.

[2021-01-09 22:53] Olivia-Chiong commented on #20
@ExperimentsInHonesty will add @CamilaArias to UI/UX board.

@CamilaArias and @mdothman will meet to discuss best practices for style guide.

[2021-01-09 23:15] Olivia-Chiong commented on #71
Meme updated.

[2021-01-09 23:15] #71 closed

[2021-01-10 00:01] Olivia-Chiong opened #125 "Make a list of all the functions that are required on the Homepage"
### Overview
Make a list of all the functions that are required on the Homepage so we can confirm we have all the features and workflows covered.

### Action Items
Product
- [ ] Make a list of all the functions a user will use when they visit the homepage
- [ ]  Validate it against the homepage in Figma.

### Resources/Instructions
[Figma](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Autom

[2021-01-10 00:16] NivenPrasad commented on #117
Team reviewed the columns and we iterated on the workflow and cards.

[2021-01-10 00:22] #117 closed

[2021-01-12 05:25] NivenPrasad commented on #125
### List of functions on Homepage:
- Contribute to an in progress automation
  - maintenance
  - refactoring
  - support for user
  - documentation
  - peer review
  - to be built
- Submit an idea for automation
- Submit a worked-on automation
- Find an automation that could be useful for my project
- View current automations
- View the status of current automations
- Read guides related to automa

[2021-01-13 23:48] nahyungkim1220 commented on #55
Update: Revised draft to include Bonnie's suggestions.
Notes: This draft is written more like a news article than the previous versions. References and outline is at the bottom of the article.
[Draft 5](https://docs.google.com/document/d/1xBEWJWzyGKTI9FixGrPcY_TcZf24KOk9JP5423DTf24/edit)

[2021-01-14 00:15] Olivia-Chiong commented on #24
@salice has started working on this and it will be ready on Friday 1/15

[2021-01-14 00:16] Olivia-Chiong commented on #6
Progress: Working on the Zapier integration for the OKRs sheet
Blocks: Trying to get it to add AND update the sheet when issues get closed
Availability: Some
ETA: Need a week to do this, so likely 1/20

[2021-01-14 00:18] Olivia-Chiong commented on #123
Progress: Zapier set up correctly, but not all labels are showing accurate, still in testing phase
Blocks: wanted to create an auto update for status from "open" to "closed"
Availability: Some availability
ETA: 1/16

[2021-01-14 00:23] NivenPrasad commented on #96
Update on 1/13/21: @darpham, could you provide update when you get the chance on:

Status:
Blockers:
Availability:
Eta:

[2021-01-14 00:25] superbunker commented on #121
topics for project image guide:
 - finding original art
 - check policies for use of existing logos. eg: [GitHub logo guidelines](https://github.com/logos)
 - content advice (image,text y/n?)
 - fonts, colors, layout

[2021-01-14 01:04] NivenPrasad commented on #125
From discussion:

3 buttons by Users (with CTAs below):

Pick your path:

For Ideators:
- Have an idea for an automation

For Automation Builders:
- Help an existing automation
- Find an automation to build
- Build your own automation here

Learn more:
- Get more information

[2021-01-14 01:07] NivenPrasad commented on #125
Action Items:

- Flows for CTAs.
- Wireframes.
- @NivenPrasad to create issues for these.

[2021-01-14 01:09] NivenPrasad commented on #111
@mdothman, @CamilaArias and @Olivia-Chiong meeting on 1/14 to discuss.

[2021-01-14 01:19] NivenPrasad commented on #121
Issue for reference: https://github.com/hackforla/website/issues/707

[2021-01-14 01:24] mdothman commented on #111
@mdothman is meeting with Josh Bubar on 1/14 for style guidance.

[2021-01-14 01:24] NivenPrasad commented on #118
Updated for dependency.

[2021-01-14 01:28] #91 closed

[2021-01-16 07:37] NivenPrasad commented on #125
### Flows:

#### For Ideators:
- Have an idea for automation
   - Visit website Home Page -> See button for submit idea -> Click on button ->
      - Taken to Guide on Evaluating your idea -> Link in Guide to Future Automations Readme -> Click on Link -> Taken to Future Automations Readme -> Link to Future Automations Board -> Click on Link -> Taken to Future Automations Board **OR**
      - Taken

[2021-01-16 18:50] mdothman commented on #111
# 100 Automations CSS Framework

## Overview

The purpose of this report is to provide the reader with a design system and style guide the project. We will not be using a css framework, instead we will be designing our own framework using SASS.

## Class Names

Class names will be semantic and descriptive.

| Class | Description |
| ----- | ----------- |
|  |
## Folder System

Since Jekyll is comp

[2021-01-16 20:21] Olivia-Chiong commented on #24
@salice is still working on it and will be done Monday 1/18.

[2021-01-16 20:23] Olivia-Chiong commented on #6
I would like to have a Product discussion on whether our Key Results are reflective of the work we are doing and how many of the tasks we are doing seem to fall into one single bucket. It seems to me we may want to keep the Objectives but break Key Results into smaller, more well defined results so that the tasks are better spread out over various OKRs.

[2021-01-16 21:46] nahyungkim1220 commented on #62
Update: I assigned myself to this card(?).

I am currently researching
- What recruiters are looking for in developers
- What software engineers' LinkedIn profiles look like.

[2021-01-16 21:54] superbunker commented on #121
Guide drafted, still quite rough. May need to narrow the focus so it doesn't get too long?

[2021-01-16 21:57] mdothman commented on #111
@CamilaArias and @mdothman will be meeting to discuss class names and folder structure on 1/17

[2021-01-16 22:02] nahyungkim1220 commented on #55
Update: Revised draft to Niven and Dean's feedback.
[Draft 6](https://docs.google.com/document/d/1Rr3ueR6lTIAwcDGrEqyS0HJVIjmqlGRaldrcMkCMcGA/edit)

[2021-01-16 22:17] Olivia-Chiong commented on #20
@CamilaArias and @mdothman are still working together with the team from Hack for LA website and will provide updates next week.

[2021-01-16 22:21] ExperimentsInHonesty commented on #4
I reset the settings.  Check at next meeting

[2021-01-16 22:22] Olivia-Chiong commented on #55
@ExperimentsInHonesty will review before next meeting on 1/20

[2021-01-16 22:23] Olivia-Chiong commented on #120
@superbunker will have this done by 1/24

[2021-01-16 22:34] Olivia-Chiong commented on #121
@superbunker will update the header with 3 # and also include a menu for navigation.

[2021-01-16 22:39] Olivia-Chiong commented on #62
@ExperimentsInHonesty will provide some LinkedIn profiles for reference

[2021-01-16 23:07] ExperimentsInHonesty commented on #62
Tim Malstead:
https://www.linkedin.com/in/timmalstead/
I am a full stack software engineer and designer seeking to help make the world a more just and equitable place through the use of beautiful, intuitive and helpful software. My goal is to create software that helps solve tough problems for real people. I approach each project with a careful eye toward design, ease of use and performance.

[2021-01-16 23:24] nahyungkim1220 commented on #67
Quotes from Bonnie from [Press Release Draft 6:](https://docs.google.com/document/d/1Rr3ueR6lTIAwcDGrEqyS0HJVIjmqlGRaldrcMkCMcGA/edit)
- “Developers spend hours researching and testing, then resort to writing code from scratch because it can’t be used.”
- “Too many open-source programs can’t be used because they’re intertwined with the applications using them. 100 Automations is a way of separatin

[2021-01-16 23:45] Olivia-Chiong commented on #44
We need to include a link at the bottom of this readme to [Automation Proposal](https://github.com/100Automations/futureautomations/issues/new?assignees=&labels=documentation%2C+review&template=-automation-proposal.md&title=%5BAutomation+Name%5D+Proposal)

[2021-01-16 23:46] Olivia-Chiong commented on #125
## Have an idea for automation?
***
Put text here that includes the following information:
* Who gets to work the idea/bring the idea to market? (You or somebody else if you don't want/don't have the skills to do it)
* Why 100 automations would love your idea and how we would use it
* First, you submit your idea, once it is approved, you can either work on it, or builders can find it on our projec

[2021-01-16 23:49] Olivia-Chiong commented on #125
Went through the user flow on the wiki with the team and came to the decision that we need to have landing page guides.

### Ideators
* Have an idea guide page

### Builders
* How to contribute to an existing automation guide page
* How to build other automations guide page
* How to build your own automation guide page

[2021-01-16 23:56] Olivia-Chiong commented on #125
### Want to build or contribute to an automation?

***

Automations on our site are in various levels of development. Some of them need help. Some of them are ready to use. Here's an anatomy of an automation card that tells you exactly everything you need to know about automations. (this could be a separate link)

[2021-01-17 00:02] Olivia-Chiong commented on #125
### Want to build an automation?
***
Include more information about the process of selecting an idea etc
If you are looking for an something to build, we have a list of peer-reviewed automation proposals available for your selection [here](https://github.com/100Automations/futureautomations/projects/1#column-9876973)

[2021-01-17 01:54] Olivia-Chiong commented on #59
Sophia Alice is a data scientist with a mathematics degree from the University of Chicago.  She has worked in education, real estate, and research.  Currently working for Data Skeptic on spam detection she is also very active in the volunteer community, as a volunteer with HackforLA, on the HostHomes project, and on the leadership team for Out In Tech.

[2021-01-20 01:10] Olivia-Chiong opened #126 "Create a Have an idea for automation? guide"
### Overview
We need to create a guide for ideators so there is a landing page and flow for the ideator user journey.

### Dependency

#223

### Action Items
## Have an idea for automation?
***
Put text here that includes the following information:
* Who gets to work the idea/bring the idea to market? (You or somebody else if you don't want/don't have the skills to do it)
* Why 100 automations wou

[2021-01-20 01:13] Olivia-Chiong opened #127 "Create a Want to contribute to an automation? guide"
### Overview
We need to create a guide for builders so there is a landing page and flow for the contributing builder user journey.

### Action Items
Automations on our site are in various levels of development. Some of them need help. Some of them are ready to use. Here's an anatomy of an automation card that tells you exactly everything you need to know about automations. (this will link to a sep

[2021-01-20 01:17] Olivia-Chiong opened #128 "Project Card Anatomy"
### Overview
Create a guide for the project card anatomy so it can be clear for users.

### Action Items
Create a guide for the project card anatomy with screenshots and explanation.

### Resources/Instructions
[Figma ](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=248%3A7443)

[2021-01-20 01:24] Olivia-Chiong opened #129 "Create Want to build an automation? guide"
### Overview
We need to create a guide for builders so there is a landing page and flow for the builders user journey.

### Action Items
If you have your own idea, read "Have an idea for an automation?"
Include more information about the process of selecting an idea etc
If you are looking for an something to build, we have a list of peer-reviewed automation proposals available for your selection [

[2021-01-20 01:28] Olivia-Chiong opened #130 "Create automation creator landing page guide"
### Overview
We need to create a landing page for the automation creation process so users can understand the process

### Action Items
An overview of the automation creation process (with screenshots of the futureautomations board) and links to each of the 3 guides

Product
- [x] Write a draft outline
- [x] Paste mark-down for the guide instructions in a comment on this issue.
- [ ] Review with t

[2021-01-20 01:33] Olivia-Chiong opened #131 "Create A guide for an overview of how to use the automations in your own projects"
### Overview
We need to create a landing page for the overview of how to use the automations in your own projects.

### Action Items
We need to create a landing page for the overview of how to use the automations in projects so users who come to the website can understand how to search and use the automations available.

### Resources/Instructions
#125

[2021-01-20 22:17] ExperimentsInHonesty commented on #67
I Revised the quotes a bit.  ill review them in context of the document later.
- ~“Developers spend hours researching and testing, then resort to writing code from scratch because it can’t be used.”~
- “Too many open-source automations or code snipits can’t be used because they’re intertwined with the applications using them. 100 Automations is a way of separating and documenting code well so that

[2021-01-20 23:30] nahyungkim1220 commented on #62
Update:
- Added to Bio Example 1 & description (Includes & Does not include)
- Added Quote Examples
- Expanded on Motivation descriptions & added examples

[2021-01-20 23:32] NivenPrasad commented on #96
Hi @darpham, are you able to please give a quick update on this? Happy to sync up to work together on this sometime if preferred!

[2021-01-21 00:16] superbunker commented on #121
Guide updated—changed formatting, added menu with anchors. Still working on content for image rights/attribution details, and overall design advice.

Question about formatting: for standards and accessibility, should we stick to the heading hierarchy? (eg: only use H3 below an H2)

[2021-01-21 00:22] superbunker commented on #120
On track. Will try to have it done before Saturday meeting.

[2021-01-21 00:38] NivenPrasad commented on #111
@mdothman and @CamilaArias aiming for classes and design system to be set up by Saturday 1/23.

[2021-01-21 01:03] NivenPrasad opened #132 "Establish standardized guide formatting"
### Overview
We need to establish consistent formatting across the guides.

### Action Items
  - [x] Audit and fix current guides for consistency
  - [x] Decide on heading hierarchy
  - [x] Audit all guides to get current status (see below)
  - [x] add categories to metadata - #375
     - [x] check/confirm all guide categories - #397
  - [x] confirm builder/contributor usage - #395
  - [x] finaliz

[2021-01-23 02:11] nahyungkim1220 commented on #67
Thank you Bonnie! Revised quotes have been added to the article.

[2021-01-23 02:13] nahyungkim1220 commented on #55
Bonnie's revised quotes have been added to [Draft 6](https://docs.google.com/document/d/1Rr3ueR6lTIAwcDGrEqyS0HJVIjmqlGRaldrcMkCMcGA/edit).

[2021-01-23 02:15] nahyungkim1220 commented on #62
Update:
- Revised draft to feedback (Bio's are for developer collaboration, not outside parties)

[2021-01-23 19:58] nahyungkim1220 commented on #132
# Title
Description of guide

Navigation
- [Topic 1](#topic1)
- [Topic 2](#topic2)
- [Topic 3](#topic3)

<a name="topic1"></a>
### Topic 1
Description of topic

#### Example 1:

**Includes:**
- Lorem ipsum
- Lorem ipsum

**Does not include:**
- Lorem ipsum
-Lorem ipsum

#### Example 2:

**Includes:**
- Lorem ipsum
- Lorem ipsum

**Does not include:**
- Lorem ipsum
- Lorem ipsum

[2021-01-23 21:24] superbunker commented on #120
## Jason Brown

*Bio:*
I’m a researcher, designer, and web developer who wants to help artists and non-profits use technology to achieve their goals.
I’ve been an instructional technologist at Pomona College, Technical Coordinator for the Calarts School of Critical Studies, and board member of Machine Project, an arts non-profit in Los Angeles. I’m currently the executive janitor at Betalevel, a b

[2021-01-23 21:30] mdothman commented on #111
# Class Naming System

## Overview

This is a report for establishing the fundamental naming system of 100 Automations. 100 Automations will have a component based naming system for the purpose of future modification.

### Class names

[code]

- Class names will be composed of three components:
  - A title displaying site purpose
  - A class name describing component
  - A variable describing styl

[2021-01-23 21:36] NivenPrasad commented on #125
Have started visual representation of user flows in the [Figma board](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=1593%3A525) in a page called "PM Sandbox".

[2021-01-23 21:45] superbunker commented on #121
Converted to bullet style, reduced the design advice, focused a bit more on "don't get us sued" issues.

[2021-01-23 22:43] NivenPrasad commented on #55
@ExperimentsInHonesty will be reviewing revised version and making comments/suggestions in the doc.

[2021-01-23 22:48] NivenPrasad commented on #62
#### Notes on Motivation Part:
Community impact motivation (external) vs personal/enlightened self interest motivation (internal)

[2021-01-23 23:01] NivenPrasad commented on #62
List technologies used on 100 Automations automations. To see more of my technical skills, frameworks, languages, please go to my LinkedIn profile.

[2021-01-23 23:13] NivenPrasad opened #133 "Update automation card template for language/technologies section"
### Overview
Update the automation card template so that it asks a creator to set out the technologies and frameworks used in the automation and not just language.

### Action Items
Update the automation card template in the "Language" section to "Languages and Technologies".

### Resources/Instructions
[Automation card template](https://github.com/100Automations/futureautomations/blob/master/.git

[2021-01-23 23:24] mdothman opened #134 "Create a Site Architecture Document"
### Overview

The site architecture should be explained in a way that while looking at the repository the purpose of all files is explained.

### Action Items

- [ ] Explain the site
- [ ] Provide information for developers to continue learning

### Resources

* [Jekyll](https://jekyllrb.com/docs/datafiles/)
* [Liquid](https://shopify.github.io/liquid/basics/introduction/)
* [SCSS](https://sass-la

[2021-01-23 23:33] NivenPrasad commented on #121
Include the following elements:
Title
Link
Content
Used-IN
Artist
Provider
Provider-Link
Image-URL
Alt
Type

[From HfLA Website doc](https://docs.google.com/document/d/17AbUtj9aIA8G88O8AVJnyL1jz4cNQ3x740cmzO-2yzk/edit
)

[2021-01-24 08:15] Olivia-Chiong commented on #24
Have sent @salice a request for current available information and documentation so we can work on it if she is not free.

[2021-01-24 08:17] Olivia-Chiong commented on #123
Progress: Still testing status update
Blocks: Away camping this week
Availability: None
ETA: 2/4

[2021-01-24 19:50] NivenPrasad commented on #133
[PR](https://github.com/100Automations/futureautomations/pull/15) opened

[2021-01-24 19:57] NivenPrasad opened #135 "Update Jekyll Gather Data Types automation md to include Languages and Technologies"
### Overview
We need to include the languages and technologies included in the Jekyll Gather Data Types automation.

### Action Items
Determine which languages and technologies were used in this automation
Update md file to reflect these

### Resources/Instructions
[Jekyll Gather Data Types md file](https://github.com/100Automations/Website/blob/master/_automations/jekyll-gather-data-types.md)

[2021-01-25 18:04] NivenPrasad opened #136 "Wiki Page Update - Add Template .md pages to Wiki"
### Wiki Page
We need to add a template of .md files as a page to the 100Automations/website repo Wiki

### Questions
- HfLA has one template on its page but we have multiple

### Suggestions
- [ ] Standard issue template
- [ ] Suggest a guide template
- [ ] Wiki improvement template
- [ ] Write-bio content creator template
- [ ] Write bio site builder template

### Any other information
[Hack for

[2021-01-25 18:20] NivenPrasad opened #137 "Check existing automations for Languages"
### Overview
We need to check that existing automations list languages

### Action Items
- [ ] Check pre-commit starter kit automation and update automations markdowns if necessary
- [ ] Check True GitHub contributors automation and update automations markdowns if necessary
- [ ] Check Gather Types GitHub contributors automation and update automations markdowns if necessary

### Resources/Instruct

[2021-01-26 22:39] NivenPrasad commented on #96
@darpham is making good progress. Aiming to finish sometime first week of February.

[2021-01-26 23:26] NivenPrasad commented on #6
Revised the OKR schedule to include a new KR called "Build a well functioning website design, development and product team by December 15, 2020". This breaks up the "Launch 100 Automations" KR and some the personnel related tasks to flow into this new KR.

[2021-01-27 21:57] mdothman commented on #111
## Update
1. These documents will need revision post implementation
2. There are still styles and ux features that need implementation
3. The layouts for guides and automations needs to be created.

[2021-01-27 23:43] NivenPrasad commented on #130
---
title: Self-Evaluating A New Automation Idea
description: Research and questions for helping you move forward with your automation
status: coming soon
display: true
---

# Self-Evaluating A New Automation Idea

## Try writing a short description that explains your automation
In just a sentence or two, explain the repetitive thing you have to do, and the benefit of automating it. Your descripti

[2021-01-28 00:04] NivenPrasad opened #138 "Communication (style) Guide for Document Creation"
### Overview
The documents that come out of our project need to have a consistent look and feel that has been coordinated with HfLA org leadership to maintain brand consistency both in our project and with other projects in the HfLA portfolio.

### Action Items
- [ ] Review the existing examples of project Communication Guides
- [ ]  Copy to your project google drive and edit to reflect your proje

[2021-01-28 00:24] superbunker commented on #120
swapped "internal" and "external"

seems good enough for now

[2021-01-28 00:24] #120 closed

[2021-01-28 00:28] superbunker commented on #121
Added specific to do items to guide... haven't done them yet.
Should have it by Saturday

[2021-01-28 00:56] NivenPrasad opened #140 "Create a landing page for email"
### Overview
We need to create a landing page so that people can insert their emails to be notified of website launch.

### Action Items
Design
- [x] Create Landing Page for email collection to notify people of website launch.

Product
- [x] Set up the MailChimp account and share with Design via 1Password
- [x] Re-direct DNS #4

### Resources/Instructions
[Civic Tech Index Landing Page](http://civ

[2021-01-28 00:58] ExperimentsInHonesty commented on #4
DNS is now resolving to the readme properly again.

[2021-01-28 01:13] nahyungkim1220 commented on #62
Updates:
- Included brief description of automations Sophia worked on in her Bio
- Directions on including a list of skills in Bio

Next steps: chat with Sophia and Tim and fact-check with them

[2021-01-30 19:57] NivenPrasad commented on #140
@CamilaArias I've just created Mailchimp account for us and the details are stored in 1Password.

[2021-01-30 21:16] NivenPrasad commented on #130
Status: In progress
Blockers: None
Availability: Available
Eta: By end of Monday to leave time for review by product on Tue or Wednesday if possible and then ready for team to see on Wednesday.

[2021-01-30 21:25] NivenPrasad commented on #130
@mdothman @ExperimentsInHonesty Q for development - will including screenshots in the overview or for that matter, guides, pose any issues from a development standpoint?

[2021-01-30 21:42] superbunker commented on #121
- Added creative commons requirements for image credits, and established Readme as best spot. (More specific H4LA image metadata might not be best for project image containing modified images?)
 - Added image credit guidelines to Resources section
 - Re-arranged sections from general to more specific (design, images, rights/attribution)

[2021-01-30 21:47] nahyungkim1220 commented on #55
Paragraph 4 has now includes what 100 Automations does to share the weight of maintenance.

[2021-01-30 22:22] superbunker commented on #44
Just have to remind myself to do this -- will try to do it later today

[2021-01-30 22:24] Olivia-Chiong commented on #96
@darpham is aiming to finish this weekend or early next week.

[2021-01-30 22:24] superbunker commented on #132
Didn't get to wiki page yet -- should have that set up later today.
But a little concerned that this overall thing might be too wooly for MVP?

[2021-01-30 22:25] mdothman commented on #111
Progress: Guide layout, and Read Me link for automation,
Blocks: Splitting up components for styling.
Availability: I should be fully available monday and tuesday to finish
ETA:  2/3/2021

[2021-01-30 23:11] Olivia-Chiong commented on #140
Design has been approved as below:
![image](https://user-images.githubusercontent.com/75456721/106370282-5bc08380-630d-11eb-9be0-963b0db9cd69.png)

https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=1632%3A0

[2021-01-30 23:28] Olivia-Chiong commented on #130
Screenshots can be used in the guides and they will be saved in /assets/images/guides/guidename

[2021-02-03 05:27] mdothman commented on #111
I have update the _Class Names_ document to reflect the architecture of the 100 Automations styling framework. Recommend we move forward with styling our page and continue development.

[2021-02-03 23:32] NivenPrasad commented on #140
Have created one but need a little help "finessing" it as current iteration doesn't reflect Figma design accurately - esp. subscribe button and other elements. Once have that, probably won't take much more and will be ready by Saturday 2/6

[2021-02-03 23:50] NivenPrasad commented on #130
Completed the draft in above comment but have not had a chance to get it reviewed (have been unwell last couple of days). We also need to confirm whether this would be better in the Future Automations wiki as opposed to a Overview/Guide (too long for an Overview was a good call-out so maybe whether it should be a Guide vs in the Wiki or both).

[2021-02-04 00:03] superbunker commented on #44
Sorry, I should have asked this sooner...
The Automation Proposal link will open a new github issue with the template text in it?

[2021-02-04 00:17] nahyungkim1220 commented on #62
Update: Changed Bio to include their open-source volunteer activities (suggestion: the bios can be updated to include automation writing experience when we have more automation authors).

[2021-02-04 00:25] superbunker commented on #132
Refocused on just auditing the markup and basic structure. There's not a ton of changes, so I'll just review them here.

Guides using "standard" markup:
 - _creating-good-readmes-for-automations.md_
 - _prep-automation-for-publication.md_
 - _self-evaluating-new-automation-idea.md_
 - _writing-articles-for-automations.md_

Three guides have some non-standard markup:

_writing-short-descriptions-fo

[2021-02-04 00:54] NivenPrasad commented on #111
CSS framework built. Issue being closed.

[2021-02-04 00:54] #111 closed

[2021-02-04 00:58] NivenPrasad opened #141 "Set up home page in development"
### Overview
We need to set up the home page in development.

### Action Items
- [ ] Set up Home Page in development based on CSS framework that's been set up
- [ ] Review with team

### Resources/Instructions

[2021-02-04 01:27] NivenPrasad commented on #140
Add an About section.

[2021-02-04 01:54] NivenPrasad commented on #85
We need to edit the readme file and @mdothman will update the Wiki file for our architecture.

[2021-02-04 01:59] NivenPrasad opened #142 "Add Wiki to Readme file"
### Overview
We need to add the link to our Wiki to the Readme file so that it is up to date.

### Action Items
- [ ] Edit readme file to include link to Wiki

### Resources/Instructions
[Readme](https://github.com/100Automations/Website/blob/master/README.md)

[2021-02-04 02:13] nahyungkim1220 commented on #55
The press release is done!! Currently looking for pictures (Logo, TGC)!

[2021-02-04 02:15] mdothman commented on #27
I would like someone who knows at least: CSS, SASS, Javascript, and HTML. It would be awesome if I found someone who knew: Material Design Lite, Jekyll, YAML and JSON.

[2021-02-04 18:30] NivenPrasad commented on #121
@susantangux can you confirm the Guide for readability/sense from your perspective or otherwise confirm it looks good?

[2021-02-05 19:35] susantangux commented on #121
I have reviewed the Image Guide and it looks really good. I have the following comments/suggestions:

1. Section 1 title suggestion - "Finding Free Images to Avoid Copyright Infringement." The sites listed are all free sites so if people stick to them they'd be fine. I worry if they get non-CC0 images from other sources, they could potentially get into trouble and we'd have to explain the differen

[2021-02-06 19:38] mdothman commented on #134
I will have a final document ready by 02/09/2021.
Progress: I have a clearly structured website with not a lot of folders or files.
Blockers: Scheduling, Development, Brevity, and Clarity;

[2021-02-06 20:46] NivenPrasad commented on #130
This has been broken up into 2: (1) Guides for Ideators and (2) Guide for Builders to be workshopped in the Future Automations Wiki.

[2021-02-06 21:02] NivenPrasad commented on #140
Mailchimp Landing Page editor doesn't allow adding more pages with the free version we have. Updated [landing page](https://us7.admin.mailchimp.com/landing-pages/edit?id=27085) to have an About button that goes to project page in HfLA.

[2021-02-06 21:08] superbunker commented on #44
added the following at the end of evaluation guide:

## Propose your automation
Once you're ready, fill out the [Automation Proposal](https://github.com/100Automations/futureautomations/issues/new?assignees=&labels=documentation%2C+review&template=-automation-proposal.md&title=%5BAutomation+Name%5D+Proposal) which will add your automation as a Future Automations issue.

Made pull request

[2021-02-06 21:10] superbunker commented on #132
Process question: would it be better to edit the guides in my fork of Website and PR that, or individually edit/PR each edited guide?

[2021-02-06 22:12] Olivia-Chiong commented on #132
Please create individual PRs for each and tag @Olivia-Chiong or @NivenPrasad for review.

[2021-02-06 22:18] Olivia-Chiong commented on #55
@nahyungkim1220 Use this [guide](https://github.com/100Automations/Website/issues/121#issuecomment-759843226) to get better images

[2021-02-06 22:20] nahyungkim1220 commented on #62
Issue #62 - need to contact Kian for his bio example

[2021-02-06 22:20] Olivia-Chiong commented on #96
@darpham
Progress:
Availability:
Blockers:
ETA:

[2021-02-06 23:56] mdothman opened #146 "Create a button for the Automation Card"
### Overview
We need to create and style a button for the Automation card so it looks like the design in Figma.

### Action Items
- [ ] Create a button for our Automation Card
- [ ] Make sure it is big, blue, and centered as per the design

### Resources
[Figma](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=243%3A363)
![image](https://user-images.githubuser

[2021-02-07 00:13] Olivia-Chiong opened #147 "Create new design for Getting Started section"
### Overview
We need to create new design for the getting started section so it fits with the rest of the page

### Action Items
- [x] Create new getting started section
- [x] Change text to be provided by Product
- [x] Change illustrations to be gender neutral or swap gender for idea and build
- [ ] Send 3 options to Product for useability testing
- [ ] Remove dependency on #125 when done

### Re

[2021-02-07 00:15] Olivia-Chiong commented on #147
Change "You have your own idea and you want to build it yourself." to "You have an idea for an automation and want to submit your idea."
Change "Suggest Idea" to "Submit Idea"
Change "You want to build an automation from scratch but don’t have your own idea." to "You want to build your own approved automation idea or you want to pick an automation from an existing list of approved ideas."

[2021-02-07 00:18] mdothman opened #148 "Fix the positioning on the footer element"
### Overview
Positioning on the footer element needs to be fixed.

### Action Items
I created a footer, but the text is condensed all the way to the left. The Figma designs has items centered.
- [ ] Center Text and link items
- [ ] Insert the Hack for LA icon into the footer.

###
[Figma](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=243%3A363)
![image](htt

[2021-02-07 00:35] #142 closed

[2021-02-08 21:44] mcspach commented on #148
<img width="1245" alt="Screen Shot 2021-02-08 at 11 38 50" src="https://user-images.githubusercontent.com/38964454/107284841-f57de400-6a23-11eb-9617-b6907f6e57a4.png">
<img width="501" alt="Screen Shot 2021-02-08 at 11 39 30" src="https://user-images.githubusercontent.com/38964454/107284847-f747a780-6a23-11eb-92ed-35f363dbc8bc.png">

-Footer is now arranged in responsive flexbox format, matching F

[2021-02-08 21:45] nahyungkim1220 commented on #62
Heard back from Sophia! Updated her example. Currently getting in touch with Kian for one example of how someone would talk about their automation.

[2021-02-09 07:25] susantangux commented on #121
I've reviewed "Creating a Good Project Image" guide and it looks good! My only comment is regarding "How to Credit Images" - current guide lists 4 items for image credit: 1) Title, 2) Creator, 3) Linked Source, and 4) License, but Niven requested adding the following elements also (from HfLA Website doc):

1. - Content
2. - Used-IN
3. - Provider
4. - Provider-Link
5. - Image-URL
6. - Alt
7. - Type

[2021-02-10 00:34] mdothman commented on #134
# 100 Automations Architecture

## Overview

__PLEASE READ JEKYLL DOCUMENTATION [HERE](https://jekyllrb.com/)__

100 Automations site Architecture can be broken down into a __Model View Control__ paradigm.
1. Model: Collections
2. View:` _sass`
3. Control: Jekyll

### Collections

We have two folders for our collections: `_guides`, and `_automations`.

#### _guides

`_guides` contain content in a

[2021-02-10 19:23] #133 closed

[2021-02-10 22:33] susantangux commented on #147
There are 3 options to review, each with 2 versions - difference being the illustrations for ideas guy and building gal. See attached.
![Getting Started_Option 1A](https://user-images.githubusercontent.com/78511203/107581418-e6766d80-6bac-11eb-8b99-8fd4ed2d17f3.png)
![Getting Started_Option 1B](https://user-images.githubusercontent.com/78511203/107581419-e70f0400-6bac-11eb-9f33-08c9d8235694.png)
!

[2021-02-10 22:49] superbunker commented on #132
Made markup changes to _writing-short-descriptions-for-automations_. Mostly just changed headings to properly nest.  PR #153

Made markup and some content structure changes to _suggest-guide-for-100Automations_  PR #154

[2021-02-10 23:59] CamilaArias commented on #147
Changed the text strings. I don't know if those are the "text provided by Product" or something else needs to be added. Can't join today's meeting, but Susan shared the illustrations she worked on and if you choose a set of them today, we'd have the three different layouts to test.

[2021-02-11 00:06] CamilaArias commented on #20
Still very busy with work this week, but I will get back to working on this again this weekend onwards. I will break it up in smaller tasks, components and phases and track it on Figma, will post update then.

[2021-02-11 00:30] nahyungkim1220 commented on #55
New zombie photo has been added!
If people don't like the photo, here are [other options](https://docs.google.com/document/d/1TavzRT1sFNvK2cm5UvkMu3dTOU2ytJ89xOg568ZL8Ys/edit?usp=sharing).
(We could also choose to not have a zombie/ intermittent photo).

[2021-02-11 00:55] Olivia-Chiong opened #155 "Clearly define what automations are"
### Overview
We need to define what automations are and put the definition on the website so developers can better understand whether their project is an automation

### Action Items
- [ ] Define what automations mean
- [ ] Include it in the website, Wiki and Readme

### Resources/Instructions

[2021-02-11 01:04] NivenPrasad commented on #140
Keep link in About Us. Send link to @ExperimentsInHonesty so that we can point DNS there.

[2021-02-11 01:23] NivenPrasad commented on #148
- [ ] Revise so that orgs stay on same lines as themselves.
- [ ] Adjust line height to condense the text.

[2021-02-11 01:29] mdothman commented on #85
Progress: None
Blockers: School work
Availability: 02/11/2021
ETA: 02/11/2021

[2021-02-11 01:29] NivenPrasad commented on #146
[PR here](https://github.com/100Automations/Website/pull/151)

[2021-02-11 01:38] Olivia-Chiong commented on #147
@susantangux please use illustrations 1 and 4 based on todays meeting. Then mock up the 3 pages for us to push out for testing.

![image](https://user-images.githubusercontent.com/75456721/107594393-b1771480-6bc6-11eb-8b50-47bc59dcc39c.png)

[2021-02-13 08:54] superbunker commented on #132
revised _community-support-for-automations.md_
Some notable formatting changes, gentle content edits, and a proposed End of File denotation
PR #157

[2021-02-13 08:55] superbunker commented on #132
revised _community-support-for-automations.md_
Some notable formatting changes, gentle content edits, and a proposed End of File denotation
PR #157

[2021-02-13 17:34] NivenPrasad commented on #132
Nice work @superbunker. Now approved #153 and #154. Inclined to have @ExperimentsInHonesty or @Olivia-Chiong review #157 given extent of changes/HTML edits in there.

[2021-02-13 18:26] Olivia-Chiong commented on #155
Draft: Automations are packages of code that help developers to save time by preventing effort duplication. We want to get code out of code bases into replicable packages that can then be used in other projects.

(Should we include some examples?)

[2021-02-13 18:43] NivenPrasad commented on #96
Hi @darpham, are you able to please give another quick update on this? Happy to sync up to work together on this sometime if preferred!
Progress:
Availability:
Blockers:
ETA:

[2021-02-13 19:14] Olivia-Chiong commented on #24
Sent Sophia this message today -

Hey Sophia, happy long weekend! Wanted to check in with you to find out where you stand currently on this issue. If you don't have time to work on it, could you give me some guidance on what is required so I can get someone to help on it please? Thank you!

[2021-02-13 19:54] susantangux commented on #147
3 Landing Page Options for Testing:
### **Option 1**
![Landing Page_Option 1](https://user-images.githubusercontent.com/78511203/107859982-d56a6e00-6df1-11eb-8434-7100bd4c492a.png)

### **Option 2**
![Landing Page_Option 2](https://user-images.githubusercontent.com/78511203/107859985-d69b9b00-6df1-11eb-9de5-e634ab7e041b.png)

### **Option 3**
![Landing Page_Option 3](https://user-images.githubuser

[2021-02-13 20:52] nahyungkim1220 opened #158 "Write Guide - How to Write a Press Release"
### Overview
Create a guide for future content creators/marketing team members on how to write a press release for 100 Automations

### Action item
- [x] Write a guide
- [x] Get it reviewed by product
- [ ] Get it reviewed by marketing

### Resources
[Write a Press Release](https://github.com/100Automations/Website/issues/55)

[2021-02-13 21:40] mdothman commented on #85
# CONTRIBUTING

If you have ssh keys installed skip to [How to Contribute](#how-to-contribute)

## Overview

Make sure you have created a github account.

1. (Windows) Install Bash (MAC) use terminal
2. Set Up SSH keys [Windows](#windows), [Mac](#mac)
3. Fork and clone
4. `git checkout -b develop`
5. `docker-compose up`
6. Develop
7. `git add file-name.html`
8. `git commit -m "I made this change i

[2021-02-13 22:08] Olivia-Chiong commented on #134
Page uploaded to https://github.com/100Automations/Website/wiki/Site-Architecture.

[2021-02-13 22:09] Olivia-Chiong commented on #85
@mdothman will add some screenshots for this before we update it.

[2021-02-13 22:11] Olivia-Chiong commented on #148
@mcspach and @mdothman please meet with @drubgrubby in the coming week to talk about the suggested revisions. Thanks!

[2021-02-13 22:47] Olivia-Chiong commented on #147
@susantangux will change top Contribute button to orange and send the above 3 options for usability test.

[2021-02-13 22:55] Olivia-Chiong commented on #62
PR approved and merged.

[2021-02-13 22:55] #62 closed

[2021-02-13 23:04] Olivia-Chiong commented on #55
Option 1
![image](https://user-images.githubusercontent.com/75456721/107863931-bcbb8180-6e0c-11eb-8bbf-c3ef42df0716.png)

Option 2
![image](https://user-images.githubusercontent.com/75456721/107863923-b0cfbf80-6e0c-11eb-8750-566db9e00989.png)

Option 3
![image](https://user-images.githubusercontent.com/75456721/107863916-a3b2d080-6e0c-11eb-939a-daae123417bf.png)

[2021-02-13 23:08] susantangux commented on #147
Updated Versions for Testing (w/ Orange CTA Buttons at Top):
### **Option 1**
![Landing Page for Testing_Option 1](https://user-images.githubusercontent.com/78511203/107863990-23409f80-6e0d-11eb-936d-6d4d956ae5c7.png)

### **Option 2**
![Landing Page for Testing_Option 2](https://user-images.githubusercontent.com/78511203/107864001-2c317100-6e0d-11eb-8bc8-4e41964423d7.png)

### **Option 3**
![Land

[2021-02-14 03:20] Olivia-Chiong commented on #140
Revised Mailchimp landing page and have pointed DNS to 100automations.org

[2021-02-14 03:20] #140 closed

[2021-02-15 22:16] nahyungkim1220 commented on #126
Do you know how to get things done faster?

You may be a developer who is annoyed with a program, or a project manager with a brilliant idea you want to see built out. No matter who you are or your technical skills, your ideas are valuable to the open-source community! As an Ideator at 100 Automations, you can make life easier for thousands of others, and be recognized for your contributions.

Her

[2021-02-16 20:34] #148 closed

[2021-02-17 05:26] nahyungkim1220 commented on #126
Question: Did we opt out of using a template to submit automation ideas? (just to make sure I'm writing the right directions by guiding ideators to GitHub).

[2021-02-17 10:07] susantangux commented on #100
![100 Automations Favicon](https://user-images.githubusercontent.com/78511203/108188581-96c00680-70c4-11eb-9a9b-5bc4202d64ab.jpg)

Different favicon options w/ different branding colors and background shapes. Included Hack for LA logo for reference.

[2021-02-17 20:08] susantangux commented on #100
I personally prefer options 16-19. I like the fact that the background is rotated like Hack for LA to show that 100 Automations is part of the H4LA family. Option 15 is the same concept but I don't like the color combination as much.

[2021-02-17 22:56] CamilaArias commented on #66
Name: Camila Arias

Bio: I'm a Jack of all Trades, I like learning and experimenting in different disciplines. I enjoy solving problems for people and making things work better, and getting involved in any of the phases of building those solutions. I've got a background in Electronics and Programming, so when I began studying Multimedia Design in Uni, I coded games, art installations, augmented re

[2021-02-18 00:25] NivenPrasad commented on #121
The list above (Content to Type) was originally included for reference but it was subsequently decided, after further work by @superbunker and then discussion amongst the team, that the final guide didn't need to include those items.

[2021-02-18 00:41] #146 closed

[2021-02-18 00:50] Olivia-Chiong commented on #20
@CamilaArias is putting together the list of tasks to do here - https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=243%3A363
and we can convert some into issues.

S - no need to think, quick task that takes 5-10 mins
M - needs a bit of thinking and then working for 45 mins - 60 mins
L - Needs thought process before working on it, could take 1-2 hours
XL - Ambigu

[2021-02-18 00:51] #66 closed

[2021-02-18 00:57] Olivia-Chiong commented on #147
@Olivia-Chiong will run usability testing with the white button options.

[2021-02-18 00:59] #44 closed

[2021-02-18 00:59] Olivia-Chiong commented on #44
Fixed with a PR.

[2021-02-18 01:01] Olivia-Chiong commented on #121
Changes merged, issue closed

[2021-02-18 01:01] #121 closed

[2021-02-18 01:03] mdothman opened #160 "Get rid of inline `style` tags"
### Overview

100 Auotmations website contains some inline style tags that in best practice are absent. These styles will not show up otherwise. @mcspach has previously incorporated styling without the use of inline styles. See issue #148.

![styletags](https://user-images.githubusercontent.com/56901689/108289003-78005500-7142-11eb-96b1-8ad25fed52c9.jpg)

### Action Items

[x ] - Remove inline `st

[2021-02-18 01:06] Olivia-Chiong commented on #100
We like 16, 18 and 19. @ExperimentsInHonesty please give your comments

![image](https://user-images.githubusercontent.com/75456721/108288917-49827a00-7142-11eb-84d0-840069cae627.png)

![image](https://user-images.githubusercontent.com/75456721/108288952-5b641d00-7142-11eb-824b-f626afcd8396.png)

[2021-02-18 01:10] Olivia-Chiong commented on #100
@susantangux could you mock these up into a browser window tab like below in both light and dark mode please.

![image](https://user-images.githubusercontent.com/75456721/108290362-12fa2e80-7145-11eb-8ce7-a8cd7f2d243b.png)

[2021-02-18 01:16] Olivia-Chiong commented on #55
team has chosen option 2 and @Olivia-Chiong will download it for @nahyungkim1220 to include in the press release.

[2021-02-18 01:28] Olivia-Chiong commented on #126
@nahyungkim1220 we will be using a form instead of opening an issue directly.

[2021-02-18 01:31] Olivia-Chiong commented on #130
We need to convert this to markdown.

[2021-02-18 01:41] Olivia-Chiong opened #161 "Redirect domain URL to index.html on gh-pages"
### Overview
We need to frame the domain URL to index.html on gh-pages.

### Action Items
- [x] Create a landing page repository
- [x] Upload a index.html into it that frames Mailchimp
- [x] connect 100automations.org to the repo and activate gh-pages on it.

### Resources/Instructions
[Mailchimp Link](https://mailchi.mp/6f150ef215c6/100automations)
[Iframe resource](https://github.com/hackforla/w

[2021-02-18 22:14] ExperimentsInHonesty commented on #161
@mdothman I added a index.html blank page on the repo and the domain name is pointing to it.  You can replace that with the index.html with an iframe.

[2021-02-18 23:38] mdothman commented on #161
Here is what I've done so far.

![screencapture-file-C-Users-Beelzebub-Desktop-Professional-landingpage-index-html-2021-02-18-15_35_13 (1)](https://user-images.githubusercontent.com/56901689/108435916-4c8f7000-71ff-11eb-9bc1-0c815007b062.png)

[2021-02-18 23:46] mdothman commented on #161
@ExperimentsInHonesty here is the [pr](https://github.com/100Automations/landingpage/pull/3)

[2021-02-19 00:16] Olivia-Chiong commented on #147
Usability testing set up at this link - https://app.usabilityhub.com/do/fb79b666faa1/b9b7

[2021-02-19 08:05] Olivia-Chiong commented on #161
@mdothman it's been merged. Thank you so much, looks good!

[2021-02-19 08:05] #161 closed, assigned to mdothman

[2021-02-19 21:32] ExperimentsInHonesty commented on #140
FYI - how we created the landing page:
- Hosting Plan after launch: gh-pages
- Landing page: https://100automations.org
- Repo: https://github.com/100Automations/landingpage
- index.html code used: https://github.com/100Automations/landingpage/blob/master/index.html-
- Mail Chimp: https://mailchi.mp/6f150ef215c6/100automations
- Logistical details: We created a index.html page on a repo and pointe

[2021-02-20 00:43] susantangux commented on #100
4 Favicon Options in Light & Dark Mode w/ 2 tab states (active & inactive) within light and dark mode:

![Favicon 11](https://user-images.githubusercontent.com/78511203/108575929-9c8a3780-72d0-11eb-9fd0-7d261eba2b81.jpg)
![Favicon 16](https://user-images.githubusercontent.com/78511203/108575928-9c8a3780-72d0-11eb-9d00-9fbf568070c1.jpg)
![Favicon 18](https://user-images.githubusercontent.com/785112

[2021-02-20 16:49] mcspach opened #162 "Create a dropdown for needs help button on automation cards"
### Overview
Each Automation card needs the button in upper lefthand corner to dropdown list of all roles that are needed on the project.

### Action Items
- [x] Make button clickable, and list hidden when page loads.
- [x] Add list of 'needs help' roles that toggles when button is clicked.

### Resources/Instructions
Use Figma if needed.

<img width="352" alt="Screen Shot 2021-02-20 at 8 49 13 AM

[2021-02-20 17:05] mcspach commented on #160
@NivenPrasad @Olivia-Chiong It doesn't seem like I have the clearance to self-assign, or change anything in the righthand column of issues on this project board.
Do you know if that can be changed?
Thanks.

[2021-02-20 19:02] Olivia-Chiong commented on #160
@mcspach I've updated your permissions, I think it should be fixed now, but let me know if its not.

[2021-02-20 20:51] NivenPrasad commented on #130
---
title: How to build an automation
description: There are many ways to get involved in building an automation. This guide sets out how to get involved in automation building, depending on what level you are and how you'd like to get involved.
status: coming soon
display: true
---
# How to build an automation

## Want to Build an Automation?

You can help build automations that are at different

[2021-02-20 21:25] NivenPrasad commented on #130
Status: In progress
Blockers: None
Availability: Available
Eta: Draft ready for review by Wednesday 02/24

[2021-02-20 21:54] superbunker commented on #132
Drafted a guide to guide formatting in the wiki:
https://github.com/100Automations/Website/wiki/Guide-Template

[2021-02-20 21:56] mcspach commented on #160
@Olivia-Chiong thank you. Working now.

[2021-02-20 22:15] Olivia-Chiong commented on #147
77% have chosen option 1 which is 3 columns for the getting started portion.

[2021-02-20 22:17] Olivia-Chiong commented on #147
@susantangux please provide some color options for the illustrations so we can pick top 3 for usability testing.

[2021-02-20 22:20] Olivia-Chiong commented on #24
@superbunker can you please change the logo to 744 by 300 please.

[2021-02-20 22:23] Olivia-Chiong opened #163 "Create new header images for true github and jekyll"
### Overview
We need to resize the header images to match the correct dimension which is 744 by 300

### Action Items
Please update the follow logos to 744 by 300
- [ ] true git hub contributors
- [ ] jekyll

### Resources/Instructions
[Document where logos were created](https://docs.google.com/presentation/d/14WJKOktisvBOkNYq9kgVT9dJnoGhFUqKZ8ZnLE6coMU/edit#slide=id.p)

[2021-02-20 22:32] Olivia-Chiong commented on #132
Refer to this markdown https://github.com/hackforla/website/wiki/Template-of-a-project.md-file

[2021-02-20 22:38] Olivia-Chiong commented on #96
@NivenPrasad can you reach out to Prashant to follow up on this please? Thank you.

[2021-02-20 22:39] Olivia-Chiong commented on #24
@salice any chance we could meet up this week to talk about this? I'm also reaching out to you on Slack.

[2021-02-20 22:41] Olivia-Chiong opened #164 "Update new automation image size"
### Overview
We need to update the new automation image size (744 by 300) across all documentation that mentions it

### Action Items
- [x] guide for image creation
- [x] automation template

### Resources/Instructions

[2021-02-20 22:46] Olivia-Chiong commented on #100
@susantangux please edit with the following changes

1. Orange rotated background with single white gear
2. No background with orange gear
3. No background with blue and orange gear

[2021-02-20 22:48] Olivia-Chiong commented on #162
@mcspach please reference to Figma when you are working on this. The dropdown should be on the right.

[2021-02-20 22:55] Olivia-Chiong opened #165 "Create video for how to take and present screenshots"
### Overview
We need to have a video that shows how to take and present screenshots as a project standard

### Action Items
- [ ] create a video to show the steps
- [ ] upload it to the google drive and link into the Wiki

### Resources/Instructions

[2021-02-20 23:15] Olivia-Chiong opened #166 "Typescale for mobile"
### Overview
We need to create the type scale for mobile

### Action Items
- [x] Create the relevant typescale size for mobile

### Resources/Instructions
https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=1432%3A998

[2021-02-20 23:18] Olivia-Chiong opened #167 "Update components in Figma"
### Overview
We need to update the components on the design to get ready to handoff to development team

### Action Items
- [ ] clean components from other pages
- [ ] make component checklist

### Resources/Instructions
[Figma](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=1432%3A998)

[2021-02-21 01:02] ExperimentsInHonesty commented on #86
@Olivia-Chiong
Please
- [ ] Add me to this issue when you are done with the compilation
- [ ] Add a the link to this issue #67

[2021-02-23 22:09] Olivia-Chiong commented on #55
Image for @nahyungkim1220 action
![6h6q](https://user-images.githubusercontent.com/75456721/108914743-acf82600-75e0-11eb-8515-c8cb45fddd91.jpg)

[2021-02-23 22:36] Olivia-Chiong commented on #100
@susantangux just saw the new options you posted in Figma. Could you do option 6/13 without the background so we can see how it looks?

[2021-02-23 22:41] susantangux commented on #100
Sure! Will do!

[2021-02-24 06:26] superbunker commented on #24
shazam

![ghpch-744x300](https://user-images.githubusercontent.com/47950704/108957321-22d2b080-7626-11eb-8ef7-a904652af20b.png)

[2021-02-24 07:00] mcspach commented on #162
UPDATE: Dropdown is on the right. It is now clickable, and reveals (or hides) a list of needed roles when its clicked.

@CamilaArias and @susantangux  --- This is not identical to the Figma, but the way it is currently designed with the flag coming outside the automation card and then the dropdown list appearing in front of the card will take some work. Is this a sufficient substitute, or do I nee

[2021-02-24 07:24] susantangux commented on #100
**5 Options:**

![Favicon 26](https://user-images.githubusercontent.com/78511203/108962628-e440f400-762d-11eb-943f-7c803b01a70c.jpg)
![Favicon 27](https://user-images.githubusercontent.com/78511203/108962862-37b34200-762e-11eb-9e4c-dad1a19c9071.jpg)
![Favicon 28](https://user-images.githubusercontent.com/78511203/108962888-3f72e680-762e-11eb-8e74-92ebdde90819.jpg)
![Favicon 29](https://user-images

[2021-02-24 08:14] susantangux commented on #147
**5 Color Options:**

![Green Landing Page](https://user-images.githubusercontent.com/78511203/108968092-2de10d00-7635-11eb-9f55-dddec2cbe08e.png)
![Purple Landing Page](https://user-images.githubusercontent.com/78511203/108968101-320d2a80-7635-11eb-9e22-9d840edb0b68.png)
![Pink Landing Page](https://user-images.githubusercontent.com/78511203/108968121-39343880-7635-11eb-8411-0e9b817d8b70.png)
![R

[2021-02-24 23:33] superbunker commented on #164
PR #168 - in "good project image" guide changed first line of design tips to add image size

PR #169 - in "prep automation" guide, corrected size, added note about display size, removed old example images

[2021-02-25 00:22] NivenPrasad commented on #130
Made some progress but got waylaid with some other work. Should have a complete draft by Saturday.

[2021-02-25 00:23] NivenPrasad commented on #165
Status: In progress
Blockers: None
Availability: Available
Eta: Ready by Saturday 02/27

[2021-02-25 00:41] henlatourrette commented on #162
@mcspach will reposition the button above the card - and make the border radius of the card in that corner will be zero - square.

[2021-02-25 00:45] henlatourrette commented on #20
Close this issue when all the desing issues have been created.

[2021-02-25 00:54] NivenPrasad commented on #100
Votes on 02.24:
26 - 4
27 - 2
29 - 4
18 - At a larger size (dynamic sizing pending)
@NivenPrasad to set up Usability Hub for 26, 27, and 29

[2021-02-25 01:08] NivenPrasad commented on #147
Team voted for purple, green and blue for Usability Hub. Next step to test usability - @NivenPrasad to set up.

[2021-02-25 01:21] NivenPrasad commented on #96
Reached out to Prashant on 2/22 on Slack and he said he and Darren are working on this and would have the outstanding items ready next two weeks.

[2021-02-25 01:28] superbunker commented on #24
an unsquished tentacle for the wider format
![gpch-744x300-0224](https://user-images.githubusercontent.com/47950704/109089179-aa233100-76c5-11eb-86cd-00e9ecedae02.png)

[2021-02-25 01:32] NivenPrasad opened #170 "Research on re-sizing tool"
### Overview
We need to research building or integrating a tool for auto-image resizing that automation creators can use for their automation graphics.

### Action Items
- [ ] Research on open source resizing tools we could use
- [ ] Research on whether build own vs integrate
- [ ] Review with team

### Resources/Instructions

[2021-02-25 01:33] NivenPrasad opened #171 "Create Installation Requirements Guide in contributing.md"
### Overview
We need to add an installation requirements guide to the Contributing.md file for both Windows and Mac users.

### Action Items
- [ ] Add installation requirement guide to our Contributing.md
- [ ] Review with team

### Dependency
#85

### Resources/Instructions
[SSH Guide in Create Wiki Issue](https://github.com/hackforla/product-management/issues/25)

[2021-02-25 06:11] CamilaArias opened #172 "Design System | Create "Needs Help" CardTab component"
## Overview
Create a Figma component for the `Help Needed` tab that is added on `Automation Cards` that have specified the help they need. Evaluate ticket at the end to potentially use this format for future component creation or as a guide for creating components on our Design System.
Recommended to watch resources first if needed to learn about auto-layout, components and variants.

## Action It

[2021-02-25 07:44] susantangux commented on #100
**Updated Favicon 29**
![Favicon 29_updated](https://user-images.githubusercontent.com/78511203/109119919-2a638980-76fa-11eb-9175-43bb0b5fa109.jpg)

[2021-02-26 01:04] henlatourrette commented on #105
I think I was able to create the file. It told me that since it didn't have any conflict with any existing branch it could be merged automatically. I clicked on the green "merge" button and it think it already closed this issue as well. I'm reopening now so that we can check it together @Olivia-Chiong

[2021-02-27 07:18] superbunker commented on #132
created [guide_template.md](https://github.com/100Automations/Website/wiki/guide_template.md) and cleaned up the [ Guide to the Guide Template](https://github.com/100Automations/Website/wiki/Guide-to-the-Guide-Template)

[2021-02-27 07:31] superbunker commented on #164
Checking the guides, I didn't see other references to a specific size aside from the two above.

A higher level comment: I think I'd be best to target this type of formatting advice to contributors who already have an image in hand or in mind, and who already have some basic familiarity with how to do it. Having 100 Automations create project images would be a nice value-add for contributors who d

[2021-02-27 20:58] NivenPrasad commented on #100
Usability Hub test here: https://app.usabilityhub.com/do/24089a86036a/104b

[2021-02-27 21:02] NivenPrasad commented on #147
Adding the blue one here:

![image](https://user-images.githubusercontent.com/61798667/109400168-1e074880-7915-11eb-9527-a43ec4057e16.png)

[2021-02-27 21:07] NivenPrasad commented on #147
Usability test here: https://app.usabilityhub.com/do/ab9952fa013d/39b

@Olivia-Chiong @henlatourrette Can you test if it looks ok? We may need to update the pre-commit hooks cards for the green and purple sections and re-upload.

[2021-02-27 21:19] nahyungkim1220 commented on #55
Zombie image has been added to [Draft 6](https://docs.google.com/document/d/1Rr3ueR6lTIAwcDGrEqyS0HJVIjmqlGRaldrcMkCMcGA/edit).
Press release is done!

[2021-02-27 22:09] nahyungkim1220 commented on #126
Condensed the opening line & added a bit more structure to the instructions.

[2021-02-27 22:36] Olivia-Chiong opened #174 "Revise Guides wireframe design"
### Overview
We need to revise the guides wireframe design to reflect the new menu engineering is going to implement

### Action Items
- [ ] Engineering will provide screenshots for current menu options
- [ ] UI/UX will review the menu structure and provide a redesign

### Resources/Instructions
@akibrhast please include screenshots here

[2021-02-27 22:43] Olivia-Chiong commented on #174
Once @akibrhast has included the screenshots, we will wait for discussion with @superbunker before moving on towards redesign.

[2021-02-27 23:11] Olivia-Chiong opened #175 "Create poll on Slack to check if people know what favicon is"
### Overview
We need to find out if people know what a favicon is

### Action Items
- [x] Set up a poll on Slack to test if people know what a favicon is

### Resources/Instructions

[2021-02-27 23:29] susantangux commented on #147
Updated Images for Getting Started Usability Testing:
![Option 1 Purple Getting Started_R](https://user-images.githubusercontent.com/78511203/109403208-79830780-7910-11eb-9c87-03a81688d903.png)
![Option 2 Green Getting Started_R](https://user-images.githubusercontent.com/78511203/109403217-84d63300-7910-11eb-8737-5ba59aa69de7.png)
![Option 3 Blue Getting Started_R](https://user-images.githubuserco

[2021-02-27 23:30] NivenPrasad commented on #85
@NivenPrasad to update screenshots.

[2021-02-27 23:31] ExperimentsInHonesty commented on #55
added a link to the final draft into issue [Marketing: Create a guide to making a press release for your open source project](https://github.com/hackforla/knowledgebase-content/issues/119)

Added this note for Henry https://github.com/hackforla/product-management/issues/134#issuecomment-787202716

This issue hackforla/marketing#55 can be closed once we confirm that all the work prescribed in above

[2021-02-27 23:36] NivenPrasad commented on #147
@NivenPrasad to update tests and publish on Monday 03/1

[2021-02-27 23:39] susantangux commented on #100
Please review this image for Favicon testing. Once approved, I'll proceed with the other 2 options.
![Favicon 26 (1)](https://user-images.githubusercontent.com/78511203/109403390-ffec1900-7911-11eb-97aa-642433bb2d5d.jpg)

[2021-02-27 23:41] #105 closed

[2021-02-28 07:23] susantangux commented on #100
**Updated Images for Favicon Usability Tests:**
![Favicon 26_Usability Test](https://user-images.githubusercontent.com/78511203/109410823-95a79880-7952-11eb-990e-84d7eac99223.jpg)
![Favicon 27_Usability Test](https://user-images.githubusercontent.com/78511203/109410826-9b04e300-7952-11eb-8dff-fee84166680b.jpg)
![Favicon 29_Usability Test](https://user-images.githubusercontent.com/78511203/10941082

[2021-03-01 23:15] mdothman commented on #171
## Issue

SSH keys are an installation requirement for contributing. To include a ssh guide would be equivalent to guiding the reader through the entire installation process. Please change the issue to  installation requirements guide.

## Reasoning

For the purposes of explaining how to set up ssh keys the reader will need to have git bash installed. Git bash is the command line terminal used for

[2021-03-02 00:48] mcspach commented on #162
New positioning for the button and list elements.
<img width="469" alt="Screen Shot 2021-03-01 at 4 36 27 PM" src="https://user-images.githubusercontent.com/38964454/109579437-ba645300-7aad-11eb-8567-20ae30f98f2f.png">
<img width="447" alt="Screen Shot 2021-03-01 at 4 36 32 PM" src="https://user-images.githubusercontent.com/38964454/109579472-ccde8c80-7aad-11eb-8af2-d2dce9742987.png">

[2021-03-02 06:58] akibrhast commented on #174
<details>
<summary>Screenshot</summary>

![image](https://user-images.githubusercontent.com/32349001/109610067-3f755980-7afa-11eb-8b54-20e26ad9ee05.png)

</details>

[2021-03-02 21:59] henlatourrette commented on #55
I've created the new issue to collect Marketing Assets for 100 Automations here:

[Marketing Issue hackforla/marketing#36](https://github.com/hackforla/marketing/issues/36)

And I have added the [Press Release](https://docs.google.com/document/d/1Rr3ueR6lTIAwcDGrEqyS0HJVIjmqlGRaldrcMkCMcGA/edit) as a link from the Marketing Assets checklist.

[2021-03-03 17:46] akibrhast opened #177 "Add new flag `-I` to docker-compose.yml"
### Overview
We should add the `-I` tag to the docker-compose.yml file as this would reduce the build time by a lot. Especially as the project size and scope increases. Build time can often take up to 30 to 40 secs for any changes made. This flag would allow to reduce the build time by approximately 65%.

### Action Items
- [ ] Replace the line: ```   command: jekyll serve --force_polling --livere

[2021-03-03 18:21] akibrhast opened #179 "Replace footer url to be inside within liquid link tags"
### Overview
Currently the footers are not rendering correctly on guide pages. On navigating to any guide page the the build complains about path not found, and the footer images does not render correctly. Please refer to the drop downs below to see what is happening.

<details>
<summary>Error Message</summary>

[code]

</details>

<details>
<summary>Broken Footer Render on Guide Pages</summary>

[2021-03-03 19:14] akibrhast commented on #135
@NivenPrasad Where within the https://github.com/100Automations/Website/blob/gh-pages/_automations/jekyll-gather-data-types.md would one go about adding the language?

[2021-03-03 20:13] akibrhast commented on #103
@Olivia-Chiong Why is this issue still open? Given that the docker pull request made my @mdothman has already been merged.
https://github.com/100Automations/Website/pull/113

[2021-03-03 20:23] mcspach commented on #160
<img width="650" alt="Screen Shot 2021-03-03 at 12 11 22 PM" src="https://user-images.githubusercontent.com/38964454/109867049-ed782500-7c1a-11eb-9e49-1cbfe2ffb6bf.png">
These inline styles were not required. The specificity of cascading styles is already working.
You can see the element attributes in the screenshot.
Code removed [style="font-family: Poppins; color="white"]

[2021-03-03 20:32] Olivia-Chiong commented on #103
@NivenPrasad do you know why Dean was unassigned from this and this was put in the Prioritized Backlog?

[2021-03-03 20:39] akibrhast commented on #103
My 2-cents of guess is because the original pull request made by @mdothman was closed since that was a duplicate it also never linked to this issue to being with. The dockerization that was merged however also did not link to this issue. Thus this was never closed even though the pull request was merged.

Duplicate: #108 Closed
#113 Pull request that dockerized this repo/site but did not link to t

[2021-03-03 21:40] mdothman commented on #85
## Issue

Setting up SSH keys in order to contribute varies depending on your operating system. I will need to be writing separate instructions for Windows, Mac, and Linux users for setting up ssh keys. I suggest we create a new document called INSTALLATION.md.

## Reasoning

Having access to all programs is crucial for development. In order to ensure our developers have all the necessary tools to

[2021-03-03 21:49] mdothman commented on #171
## Issue

Setting up SSH keys in order to contribute varies depending on your operating system. I will need to be writing separate instructions for Windows, Mac, and Linux users for setting up ssh keys. I suggest we create a new document called INSTALLATION.md.

## Reasoning

Having access to all programs is crucial for development. In order to ensure our developers have all the necessary tools to

[2021-03-04 00:13] Olivia-Chiong commented on #103
@akibrhast it's not closed cos because no developer has confirmed the 3rd action step in the issue instructions has been done.

- [x] Test forking the repo as if you are a new developer. Confirm it works using instructions from Hack for LA website.

If you can confirm, we can complete the action item and close this issue.

[2021-03-04 00:31] akibrhast commented on #103
Confirmed. Made a pull request as well!

[2021-03-04 01:14] akibrhast commented on #174
Consider a layout where this wouldnt happen for the toc in mobile
![image](https://user-images.githubusercontent.com/32349001/109895339-0b667980-7c5d-11eb-9ed2-2539bce565e3.png)

[2021-03-04 01:36] #103 closed

[2021-03-04 02:24] NivenPrasad commented on #147
@CamilaArias @susantangux

### Looks like Blue is the winner!

![image](https://user-images.githubusercontent.com/61798667/109901251-bfb8cd80-7c66-11eb-9976-81b7c06a1c29.png)

[2021-03-04 02:26] #147 closed

[2021-03-05 09:05] #179 closed, assigned to akibrhast

[2021-03-05 09:06] #160 closed, assigned to mcspach

[2021-03-06 08:55] superbunker commented on #107
Read through the Hack for LA CoC and github community health file docs. Could use more guidance on if we'd just be swapping out "Hack for LA" as "100 Automations" or if there's deeper edits we need to make?

[2021-03-06 09:02] Olivia-Chiong commented on #107
No edits required, just put in the code of conduct file similar to what it shows [here](https://github.com/civictechindex/CTI-website-frontend/blob/main/CODEOFCONDUCT.md) on Civic Tech Index

[2021-03-06 18:41] akibrhast commented on #170
For windows , there is a tool called 'windows power tools' that's open source on GitHub which allows for mass image resizing.

For a more fully featured image editing tool that is also open source and cross platform I would recommend using [GIMP](https://www.gimp.org/),[INKSCAPE](https://inkscape.org/)

### Resources
Demo - https://docs.microsoft.com/en-us/windows/powertoys/image-resizer
Installat

[2021-03-06 21:36] mcspach commented on #170
Hey guys, after seeing Akib's comment I am confused about his issue.

I would be happy to discuss in the meeting.

[2021-03-06 21:41] superbunker commented on #107
File created.  pr #183

[2021-03-06 22:19] Olivia-Chiong commented on #162
@mcspach will be updating the style of the card to be closer to the Figma component.

[2021-03-06 22:42] henlatourrette commented on #107
Code of Conduct file created.

[2021-03-06 22:42] #107 closed

[2021-03-06 22:51] henlatourrette commented on #132
Assign back to @superbunker when dependency met.

[2021-03-06 22:53] henlatourrette commented on #164
Image size changes have been made on template.

[2021-03-06 22:53] #164 closed, assigned to nobody

[2021-03-06 23:00] NivenPrasad commented on #130
First draft ready for review by product. Please bullet point general comments and point out typos in bullet point format as a comment in this issue.

[2021-03-06 23:04] Olivia-Chiong commented on #175
![image](https://user-images.githubusercontent.com/75456721/110224040-2dded980-7e8d-11eb-8187-fae706645a2a.png)

[2021-03-06 23:04] #175 closed, assigned to Olivia-Chiong

[2021-03-06 23:11] #177 closed, assigned to akibrhast

[2021-03-06 23:13] henlatourrette commented on #174
@CamilaArias will create an issue to create component for the table of contents on desktop and mobile, and clean up design with constraints and spacing for the whole page

[2021-03-06 23:17] mcspach commented on #170
There are a few ways of implementing a solution for this issue.

1. Add a link to a free online image editing tool that can crop the image and resave with the right resolution.

-  Some options include Adobe PhotoshopExpress, Fotor, and Ipiccy
-  I'm not sure what the average person's learning curve would be since they are all quite easy for me to use.
- [Ipiccy](https://ipiccy.com/) would be my c

[2021-03-06 23:35] henlatourrette commented on #55
The press release is now on the marketing board.

[2021-03-06 23:35] #55 closed

[2021-03-06 23:40] henlatourrette opened #185 "Send Marketing Assets to Marketing Board"
### Overview
We need to send the marketing assets to the marketing board.

### Action Items
- [ ] Find all of the marketing assets.
- [ ] Link assets on the [marketing Board](https://github.com/hackforla/marketing/issues/36).

### Resources/Instructions
[Marketing Board](https://github.com/hackforla/marketing/projects/2#card-56342274)

[2021-03-06 23:44] Olivia-Chiong opened #186 "Set up Code Climate & additional linters"
### Overview
We need to set up code climate and relevant linters for the project.

### Action Items
- [x] Set up code climate
- [x] activate relevant linters
- [ ] test with dev team

### Resources/Instructions
[Code Climate](https://codeclimate.com/repos/60440ac454c1ff014d000056/)

[2021-03-06 23:47] Olivia-Chiong commented on #186
I have activated code climate and activated [SCSS-Lint](https://github.com/sds/scss-lint)

Code climate does not support HTML, but will kick in when we have javascript code.

@akibrhast will review the linter settings and let us know if any changes are required.

[2021-03-07 00:01] Olivia-Chiong opened #187 "Creating .vscode file for configuration"
### Overview
We need a .vscode file for standardizing configuration for the project.

### Action Items
- [ ] We want to implement a standard for vscode

### Resources/Instructions

[2021-03-07 00:24] akibrhast commented on #187
This is the default `settings.json` file for visual studio code that resides in the root of the workspace directory within the folder `.vscode` .

The default visual studio settings is defined here https://code.visualstudio.com/docs/getstarted/settings .

My personal opinion is only overriding these two settings. More can be added on an as need basis.

[code]
<details>
<summary>Default visual stud

[2021-03-07 01:05] akibrhast commented on #170
@mcspach The ipiccy link is broken  other than that, I just tried using it and it is indeed super intuitive and easy to use.

Also cropper.js seems super cool! I am thinking if you are planning on 'building and integrating' something that might be the way to go? It's not as if the requirements are super tight, right?

- Image must be within X*Y and X1*Y1 pixels ?
- Image must meet a X and Y resolu

[2021-03-07 01:58] #187 closed, assigned to akibrhast

[2021-03-07 02:48] susantangux commented on #170
Is this issue related to the project card image? If so, there was some back and forth on the image size during a previous meeting. In Figma it is 372x150. Jason spoke about 744x300 but I think it was before the idea of a cropper came about? @superbunker @CamilaArias Please confirm.
Also - was wondering if the cropping outline will have the rounded corner in the upper left hand corner? @mcspach @ak

[2021-03-07 04:33] mcspach commented on #170
@akibrhast thanks for the feedback.
- link is fixed in above comment.
- yes, the requirements you listed are correct. 1. aspect ratio 2. resolution 3. format

@susantangux thanks for the reminder on proportions.
- If the image only reaches 372x150, I recommend we choose that size for smaller files.
- As far as the corners, the border radius will be done in CSS when the page loads so no need to add

[2021-03-07 05:07] superbunker commented on #170
The image needs to be 744x300, but will display at half that size so it stays sharp on retina screens. This could be a problem with an automated image cropping/formatting system, since a smaller image would need to be up-res'ed, making it worse quality.

[2021-03-07 16:00] akibrhast commented on #170
<br>
<br>

Given the above comments from ye all. Can we make this conclusion ?
- _A submitted image will start being considered as a valid image if and only if the image size is 744x400 pixels ?_

<br>
<br>

## Resources
https://github.com/100Automations/Website/blob/gh-pages/_guides/creating-good-project-images.md

[2021-03-07 20:33] akibrhast opened #189 "A proposal for streamlining the process of adding a new guide page OR project page/card."
### Dependency
- Post MVP

## Tentative Steps

1. Create an endpoint with a form, and https://quilljs.com/
2. In the form make these fields required. [title,description,status,display] and also ask for their github username
3. Let them write out their article/guide page in the quiljs section.(we could also do a template renderer here)
4. On submit ensure that the github username supplied in the fo

[2021-03-08 02:17] susantangux commented on #172
@CamilaArias @mcspach Hi Camila - I've updated the "Needs Help" card tab component set and added some documentation. Please review. Upon your approval, Matthew will be able to implement. Thx!

[2021-03-08 02:54] susantangux commented on #172
@CamilaArias @mcspach
Here's updated homepage with new project cards (square corner in upper right) and card tabs
![Homepage Mockup](https://user-images.githubusercontent.com/78511203/110268088-f39d3700-7f75-11eb-8d44-4dbf2314d484.png)

[2021-03-08 04:54] CamilaArias commented on #172
LGTM @susantangux
Let's just add that the toggle between states happens when you click on the tab, and the colour styles used, like in the `labels` slide.

[2021-03-08 05:24] CamilaArias opened #191 "Tidy up Guides page and create components on the DS"
## Overview
Completion of this issue will tidy up the Guides page design with final spacing and constraints, and design and create components for the table of contents.

## Action Items

- [x] Create table of contents component
   - [x] Create component for desktop. Title is "In this guide" and each subsequent item should use the `secondary` colour to show it's a clickable item. H2 and H3 headings

[2021-03-08 05:39] CamilaArias opened #192 "Design mobile version of Getting Started section"
### Overview
Design mobile version of Getting Started section

### Action Items

- [x] Create and add mobile design where each column from desktop is stacked instead. Use existing styles and illustration containers should be same size. Mind the grid.

### Resources/Instructions
[Figma](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=2187%3A25037)

[2021-03-08 07:56] susantangux commented on #172
@CamilaArias Done! BTW- how would people know that "Needs Help" tab is clickable? Do we need to think about that? LMK when you think it's ready to hand off to Matthew. Thx!

[2021-03-08 16:29] mcspach commented on #170
The above comment seems correct to me.

I am expecting this will lead to a new issue which involves changes to the 'creating-good-project-images guide':
- all project images submitted must now be 744x400px
- Preferably they should be at 72ppi resolution and in png format (@superbunker is this correct?)
- We need to include a link to Ipiccy in the guide and probably a screenshot with easy instructi

[2021-03-08 17:24] akibrhast commented on #186
We will need to have `codeclimate.yml` file in the root of our project for version control and fine tuning settings and configs.

As demonstrated here
https://github.com/civictechindex/CTI-website-frontend/blob/main/.codeclimate.yml
<br>
<br>

I am unable to view the linter settings @Olivia-Chiong . I don't think I have the necessary permissions
![image](https://user-images.githubusercontent.com/3

[2021-03-08 20:53] superbunker commented on #170
The project image guide has the size under "general design tips." But as far as I can tell, ppi will be ignored — it will be displayed at an effective 144ppi, no matter the saved value.

That guide is currently at a fairly high level (design, sourcing, attribution) with the expectation of at least some graphics savvy, in particular other Hack4LA designers who might be jumping in for a quick projec

[2021-03-09 02:08] NivenPrasad commented on #189
@akibrhast - this looks awesome. Maybe we can test it with [a guide that we're currently writing](https://github.com/100Automations/Website/issues/130)?

For use with automation cards, perhaps we can test with the automation that Darren is about to complete soon.

On the Guides vs Article clarification - [here is a list of guides that we currently have](https://github.com/100Automations/Website/wi

[2021-03-09 21:59] susantangux commented on #191
@CamilaArias
Question - In the Guides with Sections page in Figma, there are no H2 and H3 headings, only H5. What to do?

I've created 3 versions of Table of Contents for the desktop, with different type size combinations. I went with the content from Akib's guides page since he said it's from an existing page, just to see how long the table of contents gets. It's pretty long. Please review the 3

[2021-03-09 22:15] nahyungkim1220 commented on #158
### What is a Press Release?
Press releases are announcements, official statements, or interesting news a company or brand releases about itself. They provide information about your company to anyone who wants to write about your company (journalists, reporters, anyone in media). Press releases can efficiently promote an event or the release of a new product across different publishers with little

[2021-03-09 23:01] nahyungkim1220 commented on #158
Draft 1 is finished and feels like it could be more succinct & clear.
Please give feedback on clarity & if the guide is missing any directions for first-time press writers!

[2021-03-10 01:25] #106 closed

[2021-03-10 05:44] CamilaArias commented on #191
@susantangux there's should be at least three levels of headings in the guides, but anyway, we won't use the same headings we use on the website, we would have a different set of headings for the guides, with the same logic people will expect from writing the markdown, H1 is the biggest and H6 the smallest. Then we can see how to unify them and say, if someone puts H1 in our guide, is an H3 in our

[2021-03-10 19:47] mcspach commented on #162
<details><summary>screenshot-button</summary>
<img width="392" alt="Screen Shot 2021-03-10 at 11 45 13 AM" src="https://user-images.githubusercontent.com/38964454/110688111-14dc6e00-8196-11eb-9bff-f645ed1f2d4d.png">
</details>
<details><summary>screenshot-dropdown</summary>
<img width="394" alt="Screen Shot 2021-03-10 at 11 44 54 AM" src="https://user-images.githubusercontent.com/38964454/11068807

[2021-03-11 00:01] superbunker commented on #128
Confirming this is a full list of all the body parts of the card (with a few questions):
- Needs Help (list options?)
- Project Image
- Status (list options?)
- Languages/Frameworks
- Title
- Project Description (word count?)
- ReadMe file
- "As seen on/Used by"

[2021-03-11 00:43] henlatourrette commented on #100
With only 24 responses from the usability test, we've decided to ask for more responses leaving only the alternatives number 1 and 3  as options. @Olivia-Chiong  is doing the update and will publish it again in the general channel for more responses.

[2021-03-11 00:47] henlatourrette commented on #172
This is completed.

[2021-03-11 00:47] #172 closed, assigned to susantangux

[2021-03-11 00:52] henlatourrette commented on #174
@superbunker  will  put a guide that is more representative for the purpose of formating and  @akibrhast can run  it through the code so we could see what it looks like before bring it to design.

[2021-03-11 00:58] henlatourrette commented on #189
Product will have a discussion about this issue before we could move forward with next steps.

[2021-03-11 01:01] henlatourrette commented on #162
@Olivia-Chiong  will take a look at the pull request to merge it.

[2021-03-11 01:06] henlatourrette commented on #170
@superbunker will incorporate the selected tool into the resources of the image guide.

[2021-03-11 01:13] henlatourrette commented on #31
@mcspach will be working on this.

[2021-03-11 08:40] Olivia-Chiong commented on #128
@superbunker yes, that looks accurate and yes, I think we should list the options.

[2021-03-13 00:14] akibrhast commented on #174
<details>
<summary>Self Evaluating a New Automation Idea</summary>

![image](https://user-images.githubusercontent.com/32349001/111051177-1ec4d200-841f-11eb-8787-7dfeeb124953.png)

</details>

<details>
<summary>Creating A Good Project Image</summary>

![image](https://user-images.githubusercontent.com/32349001/111011346-0beec680-8367-11eb-84ec-5faf2c6c3b95.png)

</details>

[2021-03-13 18:13] #162 closed, assigned to mcspach

[2021-03-13 20:04] henlatourrette commented on #185
Progress: So far, I've created the [issue ](https://github.com/hackforla/marketing/issues/36) on the [marketing board](https://github.com/hackforla/marketing/projects/2) and added the [Press Release](https://docs.google.com/document/d/1Rr3ueR6lTIAwcDGrEqyS0HJVIjmqlGRaldrcMkCMcGA/edit). Waiting for other assets to be ready so I can add them as well.

Blockers: Nothing, just waiting for other assets

[2021-03-13 21:50] superbunker commented on #128
Still working on the graphic for this. Should have it by wednesday.

[2021-03-13 21:54] superbunker commented on #170
Didn't get to revising the guide yet, but will have this done before wednesday

[2021-03-13 22:08] Olivia-Chiong commented on #85
@mdothman Could you please provide

Progress:
Blocks:
Availability:
ETA:

[2021-03-13 22:13] nahyungkim1220 commented on #126
Move into Review after it's been revised.

[2021-03-13 22:14] Olivia-Chiong commented on #158
Sent this to be reviewed on the marketing board https://github.com/hackforla/knowledgebase-content/issues/119

[2021-03-13 22:20] henlatourrette commented on #100
We've decided to go with option 3 (the two gears). @akibrhast will upload it to the site.

[2021-03-13 22:23] henlatourrette commented on #100
We're starting with a 32 pixel square and investigating the options for larger sizes.

[2021-03-13 22:42] akibrhast commented on #174
@akibrhast Redo screenshots using root16px-- something something to do with rem on paragraphs. Look at hack4la stuff and double check with @CamilaArias

[2021-03-13 22:47] Olivia-Chiong commented on #130
@akibrhast can you take a look at the screenshots here and parse it into the guide?

[2021-03-13 22:48] henlatourrette commented on #185
I'll search the google drive and Figma for the Logo, social media links, so to add them to the asset list as well.

[2021-03-13 22:51] henlatourrette commented on #189
@akibrhast is researching and will update us on the issue again.

[2021-03-15 15:52] akibrhast commented on #174
I would like some assistance regarding this, cause I am a bit unclear on what to do next

[2021-03-15 15:54] akibrhast commented on #186
Where do we want to go next with this?

[2021-03-16 21:26] Olivia-Chiong commented on #24
spoke to @salice and she is busy with her job and Out in Tech mentorship. She will be available to work on this after end of March. To check in with her at the beginning of April.

[2021-03-16 21:35] #100 closed

[2021-03-16 21:40] Olivia-Chiong commented on #174
@akibrhast We need to set the root for the page to be 16 px. That way we can use REM to size up the fonts as needed. Does that make sense for you? If not, could you book a time with me to discuss this? Thanks.

[2021-03-16 22:22] mcspach commented on #31
UPDATE
No progress because I've just been too busy with moving into my new apt.
I will plan on getting some work in over the next few days.

[2021-03-16 23:48] henlatourrette commented on #130
I understand that there are two routes depending on whether I would submit an automation idea or I would build the automation.

For the case of submitting an idea:
- To keep the same tone as in the builder's guide, I would begin by saying "You can propose your idea through the workflow tool we have created for this purpose..." or something similar. And then add/or include the content from the [Wik

[2021-03-17 05:01] akibrhast commented on #174
Conceptually I understand I think @Olivia-Chiong . But what I do not understand is , where do I set the root of the page in context of this projects hierarchy .
![image](https://user-images.githubusercontent.com/32349001/111417304-f73e6580-86bb-11eb-968d-f3a3843b5558.png)
????

- Should I set it in an arbitary scsss file?
- Should I create a _typography.scss file like hackforla and put it in there

[2021-03-17 05:04] akibrhast commented on #189
We don't have MVP yet. This proposal is definitely not MVP.

- I would like to put this in the icebox for the moment till we have MVP and a live site with more traffic in both user base and developer base.

[2021-03-17 05:48] superbunker commented on #174
@akibrhast For right now, I think we just need a demo that uses a base 16px font. You can set that by making the the body font size 16px.

[2021-03-17 22:55] NivenPrasad commented on #165
Status: In progress
Blockers: None
Availability: Been
Eta: Ready by Saturday 03/20

[2021-03-17 23:07] superbunker commented on #170
added tools sub-section to resources -- pr #203

[2021-03-17 23:59] henlatourrette commented on #20
Proposing a working session to create all issues on Sat March 20th, 2021.

[2021-03-18 00:25] NivenPrasad opened #204 "Update Site Architecture for project"
### Overview
We need to decide on css framework and update the Site Architecture document.

### Action Items
- [x] Research and decide on CSS framework
- [x] Review with team
- [x] Remove MDL
- [x] Update Site Architecture doc
- [x] publish using MKdocs
- [ ] Test that this answers the questions in the [guides wireframe issue](https://github.com/100Automations/Website/issues/174#issuecomment-80079