[2021-03-18 00:40] mcspach commented on #31
@NivenPrasad @Olivia-Chiong Adding a second card is causing some issues with the card section of our home page.

I can:
1. try and solve these issues within the same pull request by adding new sass.
2. Push these changes to the new markdown file and then create a separate issue for the styling.

Which would you prefer?

[2021-03-18 00:47] Olivia-Chiong commented on #31
Option 2 please, thank you!

[2021-03-18 01:15] mcspach commented on #31
Incoming pull request will have:

- Added new .MD file for True Github Contributors which includes all the project information provided on this issue.
- Image was added to /assets folder and linked to in .MD

I will now open a new issue for fixing CSS for cards on Automations page.

[2021-03-18 01:21] akibrhast commented on #174
UPDATED IMAGE

<details>
<summary>Self Evaluating A New Automation Idea</summary>

![image](https://user-images.githubusercontent.com/32349001/111559291-9ddf4080-8766-11eb-8053-76fd97f7c5ac.png)

</details>

<details>
<summary>Creating a Good Project Image</summary>

![image](https://user-images.githubusercontent.com/32349001/111559334-ae8fb680-8766-11eb-83e3-80e26ab1ee44.png)

</details>

[2021-03-18 02:38] superbunker commented on #128
Progress made, but I had some delays — bird got caught in the chimney, it escaped... into a house full of cats
ETA: post draft before Saturday (baring further wildlife interruptions)

also: noting issue #31 as reference to the various statuses on the card

[2021-03-20 01:30] mcspach opened #206 "Restyle Card Grid on Automations Page"
### Overview
Adding our second Automation revealed some mistakes with our CSS for the automations homepage. We need to refactor the styles to match Figma design.

### Action Items
- [ ] Refactor flexbox div to order cards in row-wrap.
- [ ] Change position attribute on 'Needs Help' tab to make sure it is positioned relative to card rather than parent div.

### Resources/Instructions
[Figma](https:

[2021-03-20 19:47] NivenPrasad commented on #165
![image](https://user-images.githubusercontent.com/61798667/111883748-d52a3900-8982-11eb-802c-ee973134f101.png)

[2021-03-20 19:55] NivenPrasad commented on #85
Alternative screenshots:

![image](https://user-images.githubusercontent.com/61798667/111883939-e6277a00-8983-11eb-957e-286482040628.png)

![image](https://user-images.githubusercontent.com/61798667/111883945-efb0e200-8983-11eb-9081-b83af83ee5b1.png)

[2021-03-20 20:08] NivenPrasad commented on #165
![image](https://user-images.githubusercontent.com/61798667/111884212-c1340680-8985-11eb-9ee6-cc6465b0e8d6.png)

[2021-03-20 20:22] superbunker commented on #128
Draft of the card anatomy image:

![project_card_anatomy-0320_1319](https://user-images.githubusercontent.com/47950704/111884493-318b5980-897f-11eb-8f70-d675115d75af.png)

[2021-03-20 20:47] henlatourrette commented on #185
Progress:
I've added the following assets:
- Social Media
- Website/Demo Site
- Project One Sheet
- Press release written

Blockers: I'm having trouble defining which logo to add - is there an official logo from the Google Drive? I couldn't find anything from the Marketing or the Design folder. I only found the logos related to "Jekyll Gather Data Types" at the Design Folder.

Availability: Two to

[2021-03-20 20:49] NivenPrasad commented on #165
Video uploaded to [100 Automations G Drive here](https://drive.google.com/file/d/1-ZLzmbP6mdtdFxhyzu_CyrBcsBnsZONv/view?usp=sharing)

[2021-03-20 21:36] henlatourrette commented on #165
@NivenPrasad will share the link at the wiki.

[2021-03-20 21:36] #165 closed, assigned to NivenPrasad

[2021-03-20 21:40] henlatourrette commented on #85
@mdothman will put a pull request linked to this issue.

[2021-03-20 21:41] henlatourrette commented on #171
@mdothman will also link this issue in the contributing.md pull request.

[2021-03-20 21:44] Olivia-Chiong commented on #130
My only concern about the length of the headers and how it will translate into the table of contents. As discussed during our meeting on 3/20/21 we will use a [header for mobile](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=2336%3A7929)

Breakpoints discussed

/**
 * Breakpoints
 */
$screen-desktop: 960px;
$screen-tablet: 768px;
$screen-mobile: 480px;

$bp

[2021-03-20 21:45] NivenPrasad commented on #96
Have DM'd Darren in Slack on 3.20 - will follow up in 2-3 days if no response.

[2021-03-20 21:46] Olivia-Chiong commented on #170
PR merged. Issue closed

[2021-03-20 21:46] #170 closed, assigned to superbunker

[2021-03-20 22:05] Olivia-Chiong opened #208 "Create site framework"
### Overview
We need to create a site framework so we can move away from MDL

### Action Items
- [x] Come up with folders hierarchy
- [x] Create scss variables
- [x] Format of variables naming convention
- [x] create typography.scss
- [x] create colors.scss
- [x] create containers.scss (padding, spacing, margin, border, display, grids etc)
- [x] create buttons.scss
- [x] create cards.scss

### Res

[2021-03-20 22:06] NivenPrasad commented on #20
Notes: Design System - too much work - need some more detail from developers. Then do a lean handoff to developers. Design System can come after that. Setting expectations around "design system".

Handoff to include:

1. [Autolayout - for all pages Constraints - for all pages](https://github.com/100Automations/Website/issues/216)
2. [Colors for each of mobile and desktop, Typescale for each of mob

[2021-03-20 22:07] Olivia-Chiong opened #209 "Remove MDL"
### Overview
We need remove MDL and replace with new framework

### Action Items
- [x] Replace MDL class names with site framework names

### Resources/Instructions
REPLACE THIS TEXT -If there is a website which has documentation that helps with this issue provide the link(s) here.

[2021-03-20 22:10] Olivia-Chiong opened #210 "Finalize Guide Page"
### Overview
We need to finalize the guide page layouts and include all components from new site framework

### Action Items
- [x] Get finalised design from UI/UX
- [x] Style guide page according to design

### Resources/Instructions
[Figma](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=2187%3A2227)

[2021-03-20 22:13] Olivia-Chiong opened #211 "Finalize Homepage"
### Dependency
#208 #209
(add issue for design dependency)

### Overview
We need to finalize the front page layouts and include all components from new site framework

### Action Items
- [x] Get finalised design from UI/UX
- [x] Style homepage according to design
- [x] Four sections [Dependencies]
   - [x] Hero - https://github.com/100Automations/Website/issues/212
   - [x] Automations - https://g

[2021-03-20 22:17] Olivia-Chiong opened #212 "Finalize Hero Section for Homepage"
### Overview
We need to finalize the hero section for the homepage.

### Action Items
- [x] Get finalised design from UI/UX
- [x] Style hero section according to design
- [x] Add [working link](https://github.com/100Automations/Website/blob/gh-pages/_pages/creator_overview.md) to "Contribute" button

### Resources/Instructions
[Figma](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automation

[2021-03-20 22:21] Olivia-Chiong opened #213 "Finalize Automations section"
### Overview
We need to finalize the automations section for the homepage.

### Action Items
- [x] Get finalised design from UI/UX
- [x] Style automations cards according to design
- [x] Style automations section according to design
- [x] Add [working link](https://github.com/100Automations/futureautomations/wiki/Use-An-Automation) to "automation implementation"

### Resources/Instructions
[Automa

[2021-03-20 22:24] Olivia-Chiong opened #214 "Finalize the Getting Started section"
### Overview
We need to finalize the getting started section for the homepage.

### Action Items
- [x] Get finalised design from UI/UX
- [x] Style getting started section according to design
- [x] Add working links to the following buttons
   - [x] [Submit idea](https://github.com/100Automations/Website/blob/gh-pages/_pages/submit_idea.md)
   - [x] [Start Building](https://github.com/100Automation

[2021-03-20 22:25] Olivia-Chiong opened #215 "Finalize Guides Section"
### Overview
We need to finalize the guides section for the homepage.

### Action Items
- [x] Get finalised design from UI/UX
- [x] Style guides section according to design

### Resources/Instructions
[Homepage Figma](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=2187%3A2227)

[2021-03-20 22:36] NivenPrasad opened #216 "Create Autolayout - for all pages Constraints - for all pages"
### Overview
We need to create autolayout and constraints for all pages.

### Action Items

- [ ] Create autolayout and constraints for:
  - [ ] Home Page
  - [ ] About Us
  - [x] Guide
  - [x] Press Kit
- [x] Review against current styles
- [ ] Review with development team

### Resources/Instructions
[Figma Board](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node

[2021-03-20 22:43] NivenPrasad opened #217 "Complete Style Guide and Layout"
### Overview
We need to complete the style guide which includes:
- Colors
- Typescale for each of mobile and desktop
- Layout (Grid for mobile and desktop and navigations of footer and header for mobile and desktop)

### Action Items
- [x] Verify all color styles are correct
- [x] Verify typescales are correct for
  - [x] Mobile
  - [x] Desktop
- [ ] Review grid with developers for:
  - [x] Mobile

[2021-03-20 22:45] NivenPrasad opened #218 "Create Components for Developer Specs"
### Overview
We need to add visual specs for all components on each page (example buttons, cards, filters)

### Action Items

- [ ] Add visual specs for all components on each page
  - [ ] Verify example buttons for each page
  - [ ] Verify cards for each page
  - [ ] Verify filters for each page

### Resources/Instructions
[Figma Board]()

[2021-03-20 22:58] NivenPrasad opened #219 "Get exportable assets ready to export to corresponding containers"
### Overview
All exportable assets (images, icons, svg) should be ready to export in their corresponding containers.

### Action Items
- [ ] Review that we have all exportable assets
- [ ] Export all assets to corresponding containers

### Resources/Instructions
[Figma Board](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=1899%3A1)

[2021-03-20 23:18] Olivia-Chiong opened #220 "Update Automation Card template"
### Overview
We need to update the automation card template on futureautomations to ensure the correct information is captured

### Action Items
- [ ] Compare [current template](https://github.com/100Automations/futureautomations/issues/new?assignees=&labels=documentation%2C+good+first+issue&template=create-automation-card-for--automation-name-.md&title=Create+automation+card+for+%5Bautomation+nam

[2021-03-22 00:10] darpham commented on #96
Was paused as I was working on Incubator
After some final tweaks, I'm going to update the read me for both the repo and example

[2021-03-23 21:24] superbunker opened #221 "Fix typo in Getting Started image"
### Overview
Fix typo in center image: HTLM

### Action Items
- [x] replace current image with HTLM --> HTML

### Resources/Instructions
[figma](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=248%3A7443)

<img width="309" alt="Screen Shot 2021-03-23 at 2 22 21 PM" src="https://user-images.githubusercontent.com/47950704/112220282-4ec06200-8be3-11eb-9ccd-98c57

[2021-03-23 21:36] NivenPrasad opened #222 "Create Guide: Workflow Guide for Ideators"
### Overview
This is the issue to create a mark-down file for the "Workflow Guide for Ideators" guide.

### Action Items
Content
- [x] Write a draft outline

Product
- [x] Paste mark-down for the guide instructions in a comment on this issue.
- [ ] Create a mark-down file for this guide and add it to a folder called _guides
   - [ ] Call the file a name with dashes that is as short as possible

[2021-03-23 21:39] NivenPrasad commented on #222
### Workflow Guide for Ideators

## The New Ideas Ice Box
If you have a new idea even in the form of a passing thought, create an issue card and put it here. Don't know what makes a good automation? Don't worry, we've got [a guide to help you](https://github.com/100Automations/Website/blob/master/_guides/self-evaluating-new-automation-idea.md).
![Future Automations Workflow New Ideas Ice Box](http

[2021-03-23 21:41] superbunker opened #223 "create google form to take in new ideas"
### Overview
We need a simple method to take in raw automation ideas and feed them in to future automations

### Action Items

- [x] create a google form tied to 100automations@@hackforla.org
- [x] take them into a google sheet formatted to work with issue fields
- [x] Create GitHub issue using Google Apps Script

### Resources/Instructions
- [this is the issue and content that the Google Form nee

[2021-03-23 21:50] NivenPrasad commented on #116
@Olivia-Chiong @henlatourrette @superbunker Is this issue now redundant considering #125?

[2021-03-23 21:51] NivenPrasad commented on #75
@Olivia-Chiong @henlatourrette @superbunker Is this issue also now redundant considering #125?

[2021-03-23 21:54] superbunker commented on #223
Jason will make google form and sheet, then assign Henry for the zap

[2021-03-23 21:56] #116 closed

[2021-03-23 21:57] #75 closed

[2021-03-23 22:40] henlatourrette commented on #185
Progress: I exported the Logos from the Figma, and added them to the Marketing Assets as a link.
Blockers: None for now. Just waiting for new assets to be created.
Availability: N/A
ETA:  Ongoing as we progress with the Marketing Assets.

[2021-03-23 23:16] susantangux commented on #221
@superbunker Hi Jason - You have eagle eyes! Thank you for catching this! I've fixed the typo for both desktop and mobile.

[2021-03-24 06:59] superbunker commented on #221
@NivenPrasad caught it! I was just practicing making issues.

Thank you for jumping on it so quickly. I think we can close this, but I'll wait till we meet tomorrow.

[2021-03-24 23:22] NivenPrasad commented on #126
Google form for ideas being created in #223 - added this as dependency at top of this issue. Once that is ready - update the relevant section in the guide above and we can review one more time :)

[2021-03-24 23:25] superbunker commented on #128
Sorry -- busy week.
Will have text and draft guide by Saturday

[2021-03-24 23:33] mcspach commented on #206
This issue is not longer relevant with the new ui-kit we are building. I will close the issue.

[2021-03-24 23:33] #206 closed, assigned to mcspach

[2021-03-24 23:47] henlatourrette commented on #85
Related pull request #207

[2021-03-24 23:47] #85 closed

[2021-03-24 23:47] henlatourrette commented on #171
Related to the pull request #207

[2021-03-24 23:47] #171 closed, assigned to mdothman

[2021-03-25 00:04] henlatourrette commented on #31
The pull request #205 will fix this issue.

[2021-03-25 00:28] henlatourrette commented on #174
We have decided on this format for the Guides Table of Contents:

![image](https://user-images.githubusercontent.com/21250505/112400451-29b51780-8ce7-11eb-8ef6-15f8b92e749b.png)

Next Steps:

* @akibrhast can you comment on functionality ?
*  @susantangux to mock a page with screenshot images.

[2021-03-25 04:05] NivenPrasad commented on #174
@susantangux you can use this screenshot for the mockup: ![Future Automations Workflow New Ideas Ice Box](https://user-images.githubusercontent.com/61798667/106541571-46478700-64d0-11eb-80a6-049c6137d0ff.jpg)

[2021-03-26 21:08] henlatourrette commented on #223
I was researching on how to do the Zap part and I have a doubt regarding the Github integration:
Since we need to connect it to a Github account, which account should we use? is there a official 100automations Github account? I couldn't find anything within the 1Password account. Please advise, thanks!
![image](https://user-images.githubusercontent.com/21250505/112692554-e6c98000-8e5d-11eb-82ac-34

[2021-03-27 05:48] susantangux commented on #191
Please review Table of Contents component for desktop and mobile:
![Table of Contents_Desktop Component](https://user-images.githubusercontent.com/78511203/112711398-471fe800-8e85-11eb-8a51-5e6fc32cbeed.png)
![Table of Contents_Mobile Component](https://user-images.githubusercontent.com/78511203/112711399-4a1ad880-8e85-11eb-99dd-fb2109510f6d.png)

[2021-03-27 05:51] susantangux commented on #221
Fixed for desktop and mobile:
![pana](https://user-images.githubusercontent.com/78511203/112711456-c0b7d600-8e85-11eb-87a6-1e910863083d.png)

[2021-03-27 06:04] susantangux commented on #191
Please review updated Guide page with a new version of Table of Contents. On Wed, 3/24, we discussed moving "In This Guide" out of the right column to the top of the content. I will show the 3/24 version vs the 3/26 version for 2 guide pages below:

- **Old version of "Creating A Good Project Image" for desktop - 3/24**

![Old_Creating a Good Project Image Guide_Mar 24](https://user-images.githubu

[2021-03-27 20:39] superbunker commented on #128
A draft of the text. Enclosed below. Could use some suggestions on what further to say for some of the seemingly self-explanitory items:

Created branch with a draft guide:
https://github.com/100Automations/Website/blob/superbunker-project-card-anatomy/_guides/project-card-anatomy

Is there an example of how we handle image hosting with the guides and where images should go?

[2021-03-27 21:21] henlatourrette commented on #223
@akibrhast to set up the Google Form with an script and the GitHub API.
@henlatourrette will put the Zapier implementation on hold.

[2021-03-27 21:27] akibrhast opened #226 "TESTING ISSUE WITH GOOGLE FORM"
MUAHAHAHA

[2021-03-27 21:50] NivenPrasad commented on #97
Press Kit page - team confirmed design is good for MVP.
Next step: Bio Page - @CamilaArias and @susantangux to mock up modal for "View Bio" button

[2021-03-27 21:50] akibrhast opened #227 "TEST muahahaha 😎😎😎😜😜"
I CANT STOP...!!😂😂😂🐒🐒🙀😾😧😲🤑😢😦😖

[2021-03-27 21:56] akibrhast opened #228 "Test Issue (Niven)"
Automation Idea

[2021-03-27 21:57] akibrhast opened #229 "TEST fsdfdsf"
nothing important!

[2021-03-27 21:57] akibrhast opened #230 "TEST Issues go brrrr"
*magic*

[2021-03-27 21:58] NivenPrasad opened #231 "Research and decide on enhanced social share interactions on Press Kit Page"
### Overview
We need to research and create a better social share interaction on the Press Kit Page for memes.

### Action Items
- [ ] Research social share options
- [ ] Review with team
- [ ] Decide on approach

### Resources/Instructions
[Press Kit Page](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=791%3A30)
[Prior research](https://github.com/100Automa

[2021-03-27 21:58] #226 closed, assigned to Olivia-Chiong

[2021-03-27 21:58] #227 closed, assigned to Olivia-Chiong

[2021-03-27 21:58] #228 closed, assigned to Olivia-Chiong

[2021-03-27 21:58] #229 closed, assigned to Olivia-Chiong

[2021-03-27 21:58] #230 closed, assigned to Olivia-Chiong

[2021-03-27 22:02] Olivia-Chiong opened #232 "Create a Google Form for Bios"
### Overview
We need to create a Google Form for automators to submit their bios

### Action Items
- [ ] Create a Google Form for bio informations
- [ ] Create script to automatically open an issue on the 100 Automations website board when bio is created
- [ ] Include appropriate labels for the issues

### Resources/Instructions
REPLACE THIS TEXT -If there is a website which has documentation that

[2021-03-27 22:08] henlatourrette commented on #209
The MDL is already removed, more progress is being done on the site architecture issue -> #204

[2021-03-27 22:11] #209 closed, assigned to nobody

[2021-03-27 22:38] henlatourrette commented on #185
@CamilaArias can you please move the "100 Automations Assets" folder into either Design or Social Media under the main 100 Automations folder?

[2021-03-27 22:47] henlatourrette commented on #174
This is being worked on #191

[2021-03-27 22:47] #174 closed, assigned to akibrhast, superbunker

[2021-03-27 22:51] NivenPrasad opened #234 "Update Create Automation Card Template in the Futureautomations Repo"
### Overview
We need to update the Create Automation Card Template for the the right list of items.

### Action Items
- [x] Compare template against one of the in progress create automation cards
- [x] Update template for what's missing
- [ ] Review with team

### Resources/Instructions
[Create Automation Card Template](https://github.com/100Automations/futureautomations/blob/master/.github/ISSUE_

[2021-03-27 22:59] superbunker commented on #128
Will add lists of statuses to Help and Project Status, with explanations (eg: "refactoring")

Images for guides go in the Assets folder, probably in a new folder, with images named according to the guide.

[2021-03-29 00:10] #31 closed

[2021-03-30 22:36] henlatourrette commented on #185
This is ongoing as we keep adding new assets to the project. I've just updated the Social Media URLs instead of pointing it to the spreadsheet with the account access.

[2021-03-31 20:58] superbunker commented on #223
Form created, still need to tweak some permissions. Akib linked it up.
https://docs.google.com/forms/d/16BebCxeMH031c7prjLdyKa20nLZ4dj7ORFsw6HyaMIQ/edit

[2021-03-31 23:17] superbunker commented on #223
[Idea Submission Form](https://docs.google.com/forms/d/16BebCxeMH031c7prjLdyKa20nLZ4dj7ORFsw6HyaMIQ/edit) created. Akib linked it up to futureautomations.
But I can't change the ownership of the form and sheet — looks like [google made this impossible](https://www.techtimes.com/articles/257610/20210303/google-forms-no-longer-allowed-to-be-transferred-to-other-accounts-as-part-of-new-privacy-protec

[2021-03-31 23:24] superbunker commented on #128
Revised with listed help and development statuses:

## Project Image
A [unique image](https://github.com/100Automations/Website/blob/gh-pages/_guides/creating-good-readmes-for-automations.md) to identify and describe the project
link: good image guide

## Help Needed status
If the project needs a specific type of assistance, it will be listed here
 - Needs Maintenance
 - Needs Support For Users
 -

[2021-03-31 23:56] henlatourrette commented on #97
To just download the Memes images is fine for MVP - instead of each image taking us to a specific page for each image.

[2021-04-01 00:10] henlatourrette commented on #223
Jason is the owner of the form which is shared to the team with "Edit" access.
I'll create a new issue with the pending issues to: "change the Github user who creates the issue to the FutureAutomations board." as right now the user is Akib. I'll close this issue once the related new one is created.

[2021-04-01 00:17] henlatourrette opened #235 "Write Bio - Site Builder: Henry Latourrette"
### Overview
We need some info to put on our site about you, so that we highlight your contributions.

### Action item
- [ ] Provide
   - [x] Name
   - [x] Bio: _A 1-2 paragraph professional bio_
   - [x] Quote:  _A quote from you about automations_
   - [x] Motivations
      - [x] Internal:  _What are your internal motivations for creating the 100 Automations site?_
      - [x] External: _What ar

[2021-04-01 00:25] superbunker opened #236 "Write Bio - Site Builder: Susan"
### Overview
We need some info to put on our site about you, so that we highlight your contributions.

### Action item
- [ ] Provide
   - [ ] Name
   - [ ] Bio: _A 1-2 paragraph professional bio_
   - [ ] Quote:  _A quote from you about automations_
   - [ ] Motivations
      - [ ] Internal:  _What are your internal motivations for creating the 100 Automations site?_
      - [ ] External: _What ar

[2021-04-01 00:26] superbunker opened #237 "Write Bio - Site Builder: Akib"
### Overview
We need some info to put on our site about you, so that we highlight your contributions.

### Action item
- [ ] Provide
   - [ ] Name
   - [ ] Bio: _A 1-2 paragraph professional bio_
   - [ ] Quote:  _A quote from you about automations_
   - [ ] Motivations
      - [ ] Internal:  _What are your internal motivations for creating the 100 Automations site?_
      - [ ] External: _What ar

[2021-04-03 20:13] NivenPrasad commented on #125
@Olivia-Chiong @henlatourrette @superbunker propose we start incorporating these into the PRD instead?
[Project Requirements Summary Issue](https://github.com/100Automations/Website/issues/25)

[2021-04-03 20:37] NivenPrasad commented on #222
The "other things to include in this guide" are captured in [Have an Idea for Automation Guide](https://github.com/100Automations/Website/issues/126)

[2021-04-03 20:51] NivenPrasad commented on #222
Pull request for guide created [here](https://github.com/100Automations/Website/pull/238)

[2021-04-03 21:06] superbunker commented on #128
In progress, working on guide

[2021-04-03 21:08] henlatourrette commented on #25
update requirements for finalized mockups

[2021-04-03 21:09] superbunker commented on #12
In progress, still reading/researching

[2021-04-03 21:14] henlatourrette commented on #125
This issue becomes part of the issue #25 so we are closing it now.

[2021-04-03 21:14] #125 closed

[2021-04-03 21:36] mdothman commented on #208
I will be typing a up a document for explaining the folder hierarchy and variables naming convention to place in site architecture document. Expected to complete by 04/07/2021.

[2021-04-03 22:10] NivenPrasad opened #240 "Update Creator Bio Guide for Ask for Profile Pic Instead of LinkedIn URL"
### Overview
We need to update the guide to ask creators to submit their own profile pic while pointing out most people use their LinkedIn profile pic.

### Action Items

- [ ] Update copy in profile pic section in guide
- [ ] Create pull request

### Resources/Instructions
[Creator Bio Guide](https://github.com/100Automations/Website/blob/gh-pages/_guides/write-your-opensource-automation-creator-

[2021-04-03 22:14] henlatourrette commented on #25
@NivenPrasad to make template of webpage requirements to reflect final pages.

[2021-04-03 22:21] henlatourrette opened #241 "Change the Github user who creates the issue to the FutureAutomations board."
### Overview
We need to have the 100 automations account as a user to create issues from the Google Form.

### Action Items

- [x] GitHub personal access token for the 100 automations account with necessary permissions
- [x] Finalization of what Label  an "Automation Idea Proposal" issue should have
- [x] Finalization of what Projects an "Automation Idea Proposal" issue should be put under
- [x] F

[2021-04-03 22:23] henlatourrette commented on #223
A new issue was created to address the pending task> https://github.com/100Automations/Website/issues/241

[2021-04-03 22:23] #223 closed, assigned to henlatourrette

[2021-04-03 22:27] NivenPrasad opened #242 "Update Site Builder Template to Clarify Internal vs External Motivation"
### Overview
We need to add clarification to the site builder bio template around internal and external motivations.

### Action Items
- [ ] Edit site builder bio template
- [ ] Create pull request

### Resources/Instructions
[Site Builder Bio](https://github.com/100Automations/Website/blob/gh-pages/.github/ISSUE_TEMPLATE/write-bio---site-builder.md)

[2021-04-03 22:33] henlatourrette commented on #25
We need to add the UAT

We can use this as an example: https://docs.google.com/document/d/16VvC0fbaXsvEQkQaVSj8dG3wFEHgErbjJ6H3akSUoVM/edit#

[2021-04-06 20:57] NivenPrasad commented on #23
Some metrics to track on page:
1. Contribute
2. Getting started
3. Visits
4. Guides read
5. Automation ReadMe Button on Homepage
6. Time on page
7. User exit path - where/when are they leaving the page?

Overall metrics:
1. New ideas created
2. Automations vetted for building
3. Automations built
4. Number of automations deployed

Can we track GitHub metrics? E.g. reading time on ReadMe

[2021-04-06 21:50] henlatourrette commented on #23
@superbunker will research on how to track visits to GitHub ReadMes. I will move forward with the Google Tag Manager to have the snippet ready.

[2021-04-06 22:08] henlatourrette commented on #23
Hi! This is how to add the Google Tag Manager Snippet for our Website:

[code]

[2021-04-06 22:53] Olivia-Chiong opened #243 "User Research with Engineering Community of Practice"
### Overview
We need to do research to find out what engineers would expect their user journey to be when considering what automations to contribute to.

### Action Items
- [x] Create draft of questions to be used
- [x] Review draft with team
- [ ] Conduct user research at Engineering Community of Practice

### Resources/Instructions
[List of questions](https://docs.google.com/document/d/1gTL4wddo

[2021-04-07 22:12] mdothman commented on #208
There are several folders in the `_sass` folder: Components, Guide, Includes, and variables.
The components folder will contain re-usable components such as buttons, cards, and the flexbox.

The guide folder will contain the styles for our guides layout. The Includes folder is going to style all of the elements in our includes folder: Header, Footer, Action card, etc.

The Variables folder will co

[2021-04-07 22:15] mdothman commented on #204
I am just now beginning to rewrite the architecture document, but I do not expect it to be completed until we have finalized the site.

[2021-04-07 23:17] superbunker commented on #128
I noticed this wiki page in futureautomations:
https://github.com/100Automations/futureautomations/wiki/Automation-Anatomy

Would this be a duplicate of the guide?

[2021-04-07 23:34] Olivia-Chiong commented on #128
No, this was the holding page when we were doing the website flow mock up.
When the guide is done we probably copy it to the Wiki to have it there as
well.

On Wed, 7 Apr 2021 at 16:17, Jason Brown ***@***.***> wrote:

[2021-04-07 23:38] #222 closed, assigned to NivenPrasad

[2021-04-07 23:41] mdothman commented on #204
I will have the site architecture updated to date, and the architecture will be finalized on site completion.

[2021-04-08 00:05] NivenPrasad commented on #96
Hi @darpham, let me know any updates on progress here. Happy to connect 1:1 if that would help!

[2021-04-08 00:19] NivenPrasad commented on #23
@mdothman could you and the team please insert the above snippet onto the website for testing.

[2021-04-08 00:22] NivenPrasad opened #244 "Create a privacy policy"
### Overview
We need a privacy policy for our website.

### Action Items
- [x] Find template for Privacy Policy
- [x] Customize for our website
- [x] Review with team
- [ ] Add new privacy page to the site onto website
- [ ] review

### Resources/Instructions
[Hack For LA Privacy Policy Draft](https://docs.google.com/document/d/1QzN3g8nMDQVNqg0bD7QTS6eGzTlbn725lnHShfU7Kbg/edit)
[Privacy policy dra

[2021-04-08 05:47] superbunker commented on #128
Created /guides/ directory inside the /assets/images/
Uploaded the most recent project card image
Created guide (pr #245)

[2021-04-09 22:09] henlatourrette commented on #23
The Tag Manager snippet was already added to the Website by @mdothman on Wednesday meeting.

I've now created the "Webstream" on Google Analytics with ID "G-8GD9S32H5N"

![image](https://user-images.githubusercontent.com/21250505/114245314-3e87e100-995e-11eb-967f-c5e445899b93.png)

And have connected it to the Google Tag Manager following Google's instructions:
![image](https://user-images.githubu

[2021-04-11 21:41] akibrhast commented on #237
Name: Akib Rahman
Bio: I am a full stack web developer. With focus an experience in backend
Quote: Automation applied to an inefficient operation will magnify the inefficiency ~ Bill Gates
Motivations:
  - Internal: I want to assist people to build their automation
  - External: A project to add in my portfolio
Picture - Yes you can use my external picture. https://www.linkedin.com/in/akibmr/

[2021-04-11 22:00] akibrhast commented on #241
@henlatourrette @Olivia-Chiong @NivenPrasad

Would it be possible to get an update on these:

- [ ]  Finalization of what Label an "Automation Idea Proposal" issue should have
- [ ]  Finalization of what Projects an "Automation Idea Proposal" issue should be put under
- [ ]  Finalization of the form questions
- [ ]  Finalization of the submitted issues style/looks

[2021-04-13 00:06] #128 closed

[2021-04-15 00:09] henlatourrette commented on #97
Regarding the Press Releases, we would create a list with the "Date, Title, Read, Download" options. "Read" would take the users to a simple page and they would have the option to download it from there as well. @CamilaArias will do a design for this.

[2021-04-15 00:16] henlatourrette commented on #208
The Framework has been created.

[2021-04-15 00:16] #208 closed, assigned to mcspach, mdothman

[2021-04-15 03:37] CamilaArias commented on #97
Here's the design with the PR list - https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=2652%3A2008

And the press release page with specs - https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=2777%3A388

both for desktop

[2021-04-15 04:40] CamilaArias opened #253 "Design a Guides page"
### Overview
Design a guides page to house all the guides for 100A since we already have too many to fit in a section in the homepage.
This is different than the Guide Template page which is for an individual guide.

### Action Items

- [x] Redesign Guides section on homepage to only feature some guides and link to the guides page
- [x] Wireframe some options to review with the team after discussi

[2021-04-15 19:24] mcspach commented on #215
May be waiting on 'development' branch to be merged with 'gh-pages'. But Guide Card Section is complete.

[2021-04-15 19:25] #215 closed, assigned to mcspach

[2021-04-17 18:20] NivenPrasad commented on #241
@akibrhast We can look at this, this weekend and get you the answers.

Btw, I think we need to clarify whether we just have the Google Form or both a Google Form + GitHub issue for automation proposals. Imo we should have both to cater for both users who are and aren't familiar with GH issues. We had a template automation proposal in the futureautomations repo, which looks to have been replaced wi

[2021-04-17 18:30] NivenPrasad commented on #96
I know Darren has done a ton of work on this and related incubator work - I'll review and consolidate so that we can capture how to start packaging into automation for the website.

[2021-04-17 18:31] NivenPrasad commented on #130
Next step: separate Builder's Guide which [has already started in the above thread](https://github.com/100Automations/Website/issues/130#issuecomment-782747714) - make a file in the _guides folder

[2021-04-17 19:33] NivenPrasad commented on #243
Initial intro with Engineering Community went well - we can partner with them for ongoing user research and discovery on our product. Next step is to start rolling out a framework for testing, start doing, and iterate on that framework. Not entirely necessary for MVP imo but can start putting in place.

Here is a [User Research folder](https://drive.google.com/drive/u/0/folders/1SVg5oTbJaqRi3Y_1Wx

[2021-04-17 19:36] NivenPrasad commented on #243
I'll propose next steps to change this issue/add a new issue to be create a User Testing framework and start scheduling research. Also to consider who to be involved? Is this a UX + Product thing? What makes most sense?

Can also dogfood and do some testing with our own developers or do "expert interviews": [See article as starting point](https://medium.com/@grahamhowe/design-sprints-ask-the-exper

[2021-04-17 21:17] henlatourrette opened #255 "Create Team Page"
### Overview
~We need a template Bio so that we can use it to create other bios.~
Make a Team page for MVP.
 Possible post-MVP: individual bios

### Action Items
- [x] Create the Template for the Team Page.
- ~Product team will create a file for each individual Bio.~

### Resources/Instructions

[2021-04-17 21:49] superbunker commented on #241
labels to add for all incoming: documentation, ideation, review

[2021-04-17 22:17] Olivia-Chiong opened #257 "Create md files for overview pages and links"
### Overview
We need to create md files for overview pages and links so developers can link to them

### Action Items
- [x] Create blank guide for Contributor Overview #131
- [x] Create blank guide for https://github.com/100Automations/futureautomations/wiki/Overview-for-Creators
- [x] Create blank guide for
   - [x] [Submit Idea](https://github.com/100Automations/Website/blob/gh-pages/_guides/wor

[2021-04-17 22:30] henlatourrette opened #258 "Create the About Page"
### Overview
We need to create an "About" Page

### Action Items

- [x] Confirm the Design for the "About" page.
- [x] Create the "About" page.
- [x] Finish the final Design of the "About" page.
- [x] Review it with the team.
- [x] add roadmap link
- [x] add button links
- [x] final review

### Resources/Instructions
Link to the Roadmap: https://github.com/100Automations/Website/blob/gh-pages/100-

[2021-04-17 22:33] henlatourrette commented on #258
@mdothman this is the issue for the about page you were working on. Please confirm with @CamilaArias whether there is any important design thing to consider.

[2021-04-20 00:32] henlatourrette commented on #235
**Name**: Henry Latourrette

**Bio**: Hi! I'm a member of the Product Management team here at 100 Automations, and the International Roaming Manager at a TelCo here in Paraguay. I have worked as a Software Engineer and as a GSM Network engineer for 8+ years. A few years ago I've also been a Sales Rep - a fun way to meet new people.

In the early 2000's I went to college for an Electronics Engineer

[2021-04-20 20:12] mdothman commented on #258
@CamilaArias and I have discussed important design factors for consideration. The about page has been created, expected finalization on 4/21/21 for team to review.

[2021-04-20 20:47] mdothman commented on #255
---
first-name: Your first name.
last-name: Your last name.
linkedIn-url: The address for your LinkedIn profile (https://www.linkedin.com/in/jane-doe/).
bio-description: Your bio description and information.
image: We will be placing the image in our assets folder.
---

## Explanation

Bios will be placed in a folder called _bios/ and will be named after each individual (muhi-dean-othman.md, henry

[2021-04-20 20:54] superbunker commented on #257
- [Pages directory](https://github.com/100Automations/Website/tree/gh-pages/_pages)
- [Contributor Overview](https://github.com/100Automations/Website/blob/gh-pages/_pages/contributor_overview.md)
- [Creator Overview](https://github.com/100Automations/Website/blob/gh-pages/_pages/creator_overview.md)
- [Submit Idea](https://github.com/100Automations/Website/blob/gh-pages/_pages/submit_idea.md)
- [

[2021-04-20 21:19] Olivia-Chiong commented on #257
@superbunker went rogue and made the files without using PR, but all blank files are done and uploaded, we can proceed to populate them now.

[2021-04-20 21:19] #257 closed, assigned to superbunker

[2021-04-20 21:40] Olivia-Chiong commented on #244
[Privacy policy draft as compared from TDM](https://docs.google.com/document/d/1yAotINl-o53bNs-XqCsjgLt_iaSfa7HWlyV1OrlNINU/edit)

[2021-04-20 21:45] henlatourrette opened #261 "Create a "Terms and Conditions" page"
### Overview
We need to have a "Terms and Conditions" page. It needs to cover the "idea submission" issue as well as other standard terms and conditions used in similar pages.

### Action Items.
[ ] Find a "Terms and Conditions" template.
[ ] Customize it for our website.
[ ] Review it with the team.
[ ] Upload it to the site.

### Resources/Instructions

https://docs.google.com/document/d/1H7lB8D

[2021-04-20 22:06] henlatourrette opened #262 "Submit Idea Google Form: Checkbox to accept the "Terms And Conditions""
### Overview
We need to add a link to the Terms and Conditions and a checkbox to accept it on the Google Form before the ideators submit their ideas.

### Dependency
#261

### Action Items

- [ ]  Get the Terms and Conditions page ready.
- [ ]  Add a checkbox and a link on the Google Form.
- [ ]  Update the Google Form for Idea submissions.

### Resources/Instructions

[2021-04-22 00:09] superbunker commented on #191
it's done!

[2021-04-22 00:09] #191 closed, assigned to susantangux

[2021-04-22 00:11] superbunker commented on #232
Putting this on hold for a bit

[2021-04-22 00:15] NivenPrasad commented on #130
Status: In progress
Blockers: Working this week
Availability: Available
Eta: By Saturday Apr 24

[2021-04-24 00:27] Olivia-Chiong commented on #158
Marketing is reviewing and combining it into a guide.

[2021-04-24 21:21] superbunker opened #265 "check fonts and contrast for ADA"
### Overview
Check fonts and color contrast for ADA compliance, aiming for WCAG 2

### Action Items

- [x] Use an accessibility check tool (in FIgma if possible) to find any errors.
- [x] Fix easy errors,
- [x] For tricky to solve ones, identify and suggest options
- [ ] ~Run accessibility check on live site~ moving to live site QA issue: #343

### Resources/Instructions
[figma a11y plugin](https:

[2021-04-24 21:30] superbunker opened #266 "write descriptive alt text for all the memes"
### Overview
Add descriptive text to all memes. Dependent on creating the markdown files for the memes

### Action Items

- [x] describe each of the memes in ADA compliant terms
- [x] add description to appropriate spot in the necessary file (TBD)

[2021-04-24 21:33] superbunker opened #267 "ensure all images have descriptive alt texts"
### Action Items

- [x] Check all images for ADA compliant descriptive text
- [x] Write any necessary descriptions
- [x] add them to the appropriate file in the appropriate way (TBD)

[2021-04-24 21:55] NivenPrasad commented on #130
See linked pull request. This should also fix #129

[2021-04-24 22:09] NivenPrasad commented on #129
[This pull request](https://github.com/100Automations/Website/pull/268) should close this issue. It's also linked to #130 - for some reason the guide was created within that issue but should have been created here.

[2021-04-24 22:10] NivenPrasad commented on #131
We need to prioritize this guide since it appears on the Home page for MVP.

[2021-04-24 22:19] superbunker opened #269 "Make sure existing automations list their languages"
### Overview
Automations need to have their languages listed in their frontmatter/header. Check and make sure this is the case.

### Action Items

- [ ] Check the automation card markdown files for languages
- [ ] Add them if possible
- [ ] Identify questions

[2021-04-24 22:22] superbunker commented on #269
There is not languages field in the current automation files. One will need to be added to conform with the necessary format. The languages will need to be researched from other files. Format to add a new field—

[code]

I'll add the field to the existing file and try to track down languages.

Should have this by Wednesday.

[2021-04-24 22:27] Olivia-Chiong opened #270 "Prepare for Hack for your mother Hackathon"
### Overview
We need to prepare issues for the Hack for your Mother Hackathon on May 8 2021

### Action Items
- [x] Sign 100 Automations up in Democracy Lab
- [x] Sign 100 Automations up for the hackathon
- [x] Create list of issues to be shared during the hackathon
- [x] Fill in Project scope for Hackathon

### Resources/Instructions
[Event Link](https://www.democracylab.org/events/hackforyourmot

[2021-04-24 22:56] Olivia-Chiong commented on #126
@Olivia-Chiong will review the guide and update to latest workflow.

[2021-04-24 23:00] #129 closed

[2021-04-24 23:00] #130 closed

[2021-04-26 18:48] mcspach commented on #212
-Problem with Z-Index on small screen sizes. We need to make sure the gears appear behind text in this section.
-Otherwise it is good for MVP.

[2021-04-26 18:52] mcspach commented on #211
Almost done. I made a few changes today to solve spacing issues, etc.
1 problem, gears appear above text in hero. I will ask @mdothman for help on that. After that we can ask for final review on homepage and make last changes for MVP. I will push changes to 'development' branch now and wait for next steps.
![image](https://user-images.githubusercontent.com/38964454/116135280-c6bbf500-a685-11eb-889

[2021-04-27 00:36] henlatourrette commented on #257
The "contributor overview" was renamed to "using_an_automation.md"

[2021-04-27 01:29] henlatourrette commented on #131
WIP

**This is how easy it is to implement an Automation on your own project**
In this simple guide, we'll show you step-by-step how to grab one of our projects and making it fit into your own specific needs

The following steps consider you have already chosen the automation that you would like to add to your project.
1. Go read the "ReadMe.md" file of the automation project under the [100 Automa

[2021-04-27 01:34] henlatourrette commented on #131
Hey @NivenPrasad , @Olivia-Chiong , @superbunker , I'm open to suggestions on this WIP guide. I don't know whether I should go deeper on it by detailing each step. And I would also like to know your thoughts on the 4 steps I mention in this guide.

For example, I'm not sure if there's a place where people could ask for help if they are running into trouble with their implementations.

Thanks!

[2021-04-27 03:27] CamilaArias commented on #155
Following up on @henlatourrette message on Slack.

Developers should have a good idea of what automations are? I guess we can craft an explanation that includes why they are important in the context of open-source development, since the definition alone wouldn't provide that much value, it's an everyday term. If the goal of the addition of this explanation is to help developers know if their proje

[2021-04-28 01:00] Olivia-Chiong opened #276 "Tracking Issue for PM CoP"
### Overview
We want to have an issue where all CoP product managers can submit their thoughts and review of the 100 Automations website.

### Action Items
Please view the website at https://100automations.github.io/Website/ and provide your thoughts on the homepage.
1. What do you think the purpose of the website is?
2. How do you think the website can be improved? (Functionality or Design recomm

[2021-04-28 01:50] alexilee commented on #276
1. What do you think the purpose of the website is?
To source developers to work on 100 Automation projects and to get new ideas from the community.

2. How do you think the website can be improved? (Functionality or Design recommendations both welcome)
- Inconsistent/out-of-date fonts (e.g. top right navigation, Creator Overview page, etc.)
- Website layout could be modernized and follow better d

[2021-04-28 01:56] connie-yu-dotcom commented on #276
1. To give developers an opportunity to add to automatons and share.
2.  -The font on the top right nav doesn't match the rest of the site, it should be consistent.
     -Image quality for "jekyll data gather type" is low res and it needs to be improved.
     -the color squares for "Guides" is not homepage consistent. It doesn't fit the site.

[2021-04-28 01:57] mariastudnicka commented on #276
What do you think the purpose of the website is?
To source developers to work on 100 Automation projects and to get new ideas from the community.

How do you think the website can be improved? (Functionality or Design recommendations both welcome)

I'm going to +1 on Alex's comments on inconsistencies in layout and fonts.
I realize I'm not the target audience, I'm not understanding the value propo

[2021-04-28 02:12] Arjayellis commented on #276
1. What do you think the purpose of the website is?
- Source ideas and give developers a place to contribute to automations
2. How do you think the website can be improved? (Functionality or Design recommendations both welcome)
- Mobile is clunky. Dynamic image overlaps with the words and some assets could be resized
- Inconsistency with fonts
- Guides section is a bit "busy" in terms of coloring.

[2021-04-28 02:18] nagesh23nayak commented on #276
First of all great work. Just some comments

What do you think the purpose of the website is?
To help people with getting things getting automated especially for people who have ideas but lack background in development.

How do you think the website can be improved? (Functionality or Design recommendations both welcome)
Need to Add some Use cases which explains by giving example
Reduce content in

[2021-04-28 02:22] DrIffathsultana commented on #276
What do you think the purpose of the website is?
To source developers to work on 100 Automation projects and to get new ideas from the community.

How do you think the website can be improved? (Functionality or Design recommendations both welcome)
- Too much of information on pages.
- Navigation should be more simplified and easier to understand the process as a new user.
- When a user clicks on a

[2021-04-28 02:40] natenateo commented on #276
Hi Brave Reader,
Thank you for all of your hard work and for being willing to ask for feedback!
1. There are three use cases: 1. ideation 2. sr. developer 3. jr. developer.
2. I suggest that you help visitors self-identify into each category.

Ex. What role fits you best?
- Ideator - I have an idea
- Sr. Developer - I can do it myself
- Jr. Develop - I might need help

Hope this helps! Lmk if you

[2021-04-28 22:42] superbunker commented on #221
finally getting around to closing this

[2021-04-28 22:42] #221 closed, assigned to CamilaArias, susantangux

[2021-04-28 23:00] superbunker commented on #132
Propose that we get rid of the footer in all the guides ("END" or "END OF FILE" and the invitation to edit)

[2021-04-28 23:17] superbunker commented on #131
It might be a good idea to take that whole section out of the site for MVP? We don't really have enough actively usable right now for this to be such a prominent part of the site.

[2021-04-28 23:59] mcspach opened #281 "Make all external links open in new window"
### Overview
Find external links and replace with

### Action Items
REPLACE THIS TEXT -

Change links in the following places:
- [x] readme button on cards.
- [x] social media links in the footer.
- [x] links from within getting started, etc.
- [x] links inside of guides.

BONUS POINTS:
- [x] make the hack for la logo in the footer lead to hackforla.org

### Resources/Instructions
https://www.html

[2021-04-29 00:28] superbunker opened #282 "remove "Ready to use some of our automations?" paragraph till post MVP"
### Overview
Just take it on out.

### Action Items

- [ ] Out, I say

[2021-04-29 00:35] superbunker commented on #155
Existing hero text:
_We’re building automations and micro services that improve open source development to assist the wider Civic Tech community. We welcome ideas in all stages - connect with us and let’s build 100 automations_

Change: "automations"
**tools**, code packages, software, neat stuff, gizmos....

Draft:
_We’re supporting tools and micro services to help simplify open source developmen

[2021-04-29 05:04] superbunker commented on #131
This is on hold, per issue #282

[2021-04-29 07:45] superbunker commented on #269
pr: #278 #279 #280

[2021-04-29 07:45] #269 closed, assigned to superbunker

[2021-04-30 08:21] superbunker opened #284 "Remove footers ("end of file" "edit this") from all guides and pages"
### Overview
Let's get 'em on outta there.

### Action Items
- [x] remove footers from all guides that have them
- [x] so. many. pull requests
- [x] merge 'em all

[2021-04-30 17:25] erigilg commented on #276
The purpose of the website? The purpose of 100 automations is to automate recurring activities to make things easier in the civic tech community.

How can it be improved?

I didn't notice there was a menu on the upper right side of the site.
I don't really get what microservices is, what do you mean with let's build 100 automations?
An image, animation or mock up would work great! As an example.
W

[2021-04-30 17:26] kcoronel commented on #276
Great work 100 Automations Team!

_1. What do you think the purpose of the website is?_
The purpose of the site is to give potential volunteers information about 100 automations project and to provide a page to collect ideas and volunteers.

_2. How do you think the website can be improved? (Functionality or Design recommendations both welcome)_

This paragraph is great, I have a slight inclinatio

[2021-04-30 17:26] Andan-Eddy commented on #276
The automations and guides buttons on top right of home page don't seem to work

More "about" this project early would be good- still getting head around purpose- may simply be targeted at sophisticated audience

redundancy in why is there a Needs help: Test card and Jekly Gateher Data types

I thought Contribute was asking for money

stylistically Guides section doesn't fit

Needs Help- is not ob

[2021-04-30 17:28] ggrrettcchhenn commented on #276
- Top navigation a) doesn't seem to be connected (except About) and b) doesn't match the font of the rest of the site
- The grid of Guide buttons at the bottom of the homepage doesn't match the rest of the design (gradient instead of flat, different colors, blue underline)
- Define automation on homepage - the word is used so often and it's not obvious exactly what it means. Are they like plugins?

[2021-04-30 17:39] ag2463 commented on #276
What do you think the purpose of the website is?
To give an overview of the 100 Automations project and to get ideas of things that could be automated.

How do you think the website can be improved? (Functionality or Design recommendations both welcome)
- the menu on the top right was not obvious
- the 'needs help' button was not clear that it was clickable
- Also agree that the fonts/color scheme

[2021-05-01 20:11] NivenPrasad commented on #276
[Synthesized feedback ](https://docs.google.com/document/d/1V1EaQt3ghBrAEjPn1uz-aJuwSfsQsKo6HEloS6faQX8/edit#)by @CamilaArias
(Note there was additional feedback on Friday 4.30 that hasn't yet been incorporated into that feedback doc.)

[2021-05-01 20:41] NivenPrasad commented on #127
---
title: Contributing to an Automation
description: If you want to contribute to an automation, consider these tips.
status: in progress
display: true
---

## What does it mean to contribute

Instead of creating and working on your own automation, you might want to jump in and help on someone else's idea that is already in flight.

Depending on the stage of automation and what level you are, aut

[2021-05-01 21:12] henlatourrette commented on #155
We agree on the draft and the following step should be to incorporate the new text in the final pages -> Figma, developers pages.

@mdothman will change the text in the code.

[2021-05-01 21:20] henlatourrette commented on #282
@mdothman is removing the text from the code for now.

[2021-05-01 21:26] NivenPrasad opened #285 "Write Bio - Site Builder: Matthew Spach"
### Overview
We need some info to put on our site about you, so that we highlight your contributions.

### Action item
- [ ] Provide
   - [x] Name
   - [x] Bio: _A 1-2 paragraph professional bio_
   - [ ] Quote:  _A quote from you about automations_
   - [x] Motivations
      - [ ] Internal:  _What are your internal motivations for creating the 100 Automations site?_
      - [ ] External: _What ar

[2021-05-01 21:34] henlatourrette commented on #214
We will rephrase the text inside each card of the "Submit Your Automation" section. And also, we have to align the text to the Top and Centered.

[2021-05-01 21:46] henlatourrette commented on #218
@CamilaArias will include the actions inside this issue as steps on other issues for each page.

[2021-05-01 21:50] Olivia-Chiong opened #286 "Remove "100 Automations" from guide page titles"
### Overview
We need to remove the "- 100 Automations" from guide page titles in the website. On the tab bar.

### Action Items
- [ ] Check where the header data is being pulled from
- [ ] Remove the "- 100 Automations" from the guide page titles

### Resources/Instructions

[2021-05-01 22:20] henlatourrette opened #287 "Update the Heading on the Hero Section"
### Overview
We need to update the Heading on the Hero Section from "100 Automation"

### Action Items

- [x] Brainstorm alternative headings
- [x] Review them with the team
- [x] Decide on a new heading
- [x] Update the button to "Get Involved"

### Resources/Instructions

[2021-05-01 22:32] henlatourrette opened #288 "Review the Goals and Update them if necessary"
### Overview
We need to revisit the goals and make changes if necessary.

### Action Items

- [ ] Review the current goals
- [ ] Update them if necessarry

### Resources/Instructions

[2021-05-01 22:37] henlatourrette opened #289 "Create a quiz to discover whether you are an Ideator, Builder or Developer"
### Overview
For users to discover their role, we can create a quiz to help them find about their role.

### Action Items

- [ ] Create quiz

### Resources/Instructions
ds

[2021-05-03 17:37] mcspach commented on #212
Still need help solving the z-index issue. Please let me know if you have any suggestions @mdothman.

[2021-05-03 17:41] mcspach commented on #211
Asked cami for some specific instructions on finalizing this page styling, I will do my best to have all the changes made by Saturday.

[2021-05-05 04:41] mcspach commented on #285
### Name
Matthew Spach

### Bio: A 1-2 paragraph professional bio
Full Stack Developer for 100 Automations. After finishing film school, teaching english abroad, and working in the high country of Yosemite, made the career move to software development to apply both creative and technical skills so I could help build awesome products on the web.

### Quote: A quote from you about automations
Like a

[2021-05-05 05:12] mdothman commented on #258
#  Update

## Progress

The  about page is being developed to become more responsive to screen sizes.

### Currently working on:

*  Positioning the gears.
*  Keeping the Acknowledgements title in frame.

### Completed

* The text is entirely mobile responsive.
* The header drawer button has been stylized

[2021-05-05 23:14] henlatourrette commented on #235
I updated the Bio with the last comments. I think it's now ready to go.

[2021-05-05 23:32] henlatourrette commented on #234
Progress: Already working on updating the template but didn't finish it yet. I'm using the "in progress" one as a template.
Blockers: None for now.
Expected Completion Date: This week.

[2021-05-05 23:56] superbunker opened #291 "Fix automation cards on home page"
### Overview
The correctly sized image (github commit hooks) messed up the card layout. The other two cards have the wrong size image.

### Action Items

- [x] Get correctly sized images from Figma for the two cards with old images
- [x] Replace the two old images
- [x] Fix formatting of the cards for new/correct images

[2021-05-06 00:05] henlatourrette commented on #155
The text was updated on the website.

[2021-05-06 00:05] #155 closed, assigned to mdothman

[2021-05-06 00:07] #235 closed, assigned to henlatourrette

[2021-05-06 00:11] henlatourrette commented on #282
Already removed now.

[2021-05-06 00:11] #282 closed, assigned to nobody

[2021-05-06 00:14] superbunker commented on #265
Changes/errors called outr in figma. Still need to decide on solutions.

[2021-05-06 00:18] henlatourrette commented on #270
https://docs.google.com/spreadsheets/d/1dyPfMhk5ZfwWeSySv7ljx9jooFAeh5GNE1lYeOJZVHo/edit?usp=sharing

This is the link for us to schedule our time.

[2021-05-06 00:18] superbunker commented on #287
Considering it done

[2021-05-06 00:18] #287 closed, assigned to henlatourrette, superbunker, NivenPrasad, Olivia-Chiong

[2021-05-06 00:24] henlatourrette opened #292 "Update the "Automations" and "Guides" links from the Menu"
### Overview
The "Automations" and "Guides" links should link to their respective sections on the website.

### Action Items
- [x] Update the Automations link
- [x] Update the Guides link

### Resources/Instructions
...

[2021-05-07 23:13] mdothman commented on #258
# Review

Please see pull request #293

[2021-05-07 23:14] mdothman commented on #292
# Review

Please see pull request #293

[2021-05-08 17:15] henlatourrette opened #296 "Hack for Your Mother Feedback on May 8th, 2021"
### Overview
This issue is to gather information on the feedback we get from the "Hack For Your Mother" Hackaton.

### Action Items
- [x] Write information from the feedback we get at the Hackaton.
- [x] Identify noted bugs and if issues have been resolved yet
- [x] create issues for open bugs

### Resources/Instructions

bugs and issues
- [x] Guides colors look weird - _fixed_
- [x] Swirly white

[2021-05-08 17:18] NivenPrasad commented on #296
**Feedback on Website and Submitting Form**

Really great colors and generally liked the website
Liked the Readme button
Really liked the Submit Your Automation section - very well done - colors, layout, and copy
Guides colors look weird - don't necessarily match the scheme. Blue lines should
Swirly white bit persists when scrolling down
Lot of empty space on a big screen from Hero Page
Didn't rea

[2021-05-08 21:10] superbunker commented on #296
Jean F. Queralt - The IO Foundation JFQueralt@TheIOFoundation.org
https://github.com/TheIOFoundation/ProjectLockdown

Making github into full project management suite
Project Lockdown
https://github.com/TheIOFoundation/ProjectLockdown
too many labels!
labels a good to attach, but become a hindrance in the interface
converting labels to keyword/hashtags

Automation Ideas:

**cross-repo issue flags*

[2021-05-08 22:04] henlatourrette commented on #296
Adding on Jean's suggestions:
- Google Calendar Automator to update calendar to new members.
- Contributions to Wiki doesn't get counted on GitHub. Is this like that?
- Automation to look on GitHub Across Repositories.

[2021-05-11 02:07] henlatourrette opened #298 "Add a Link to Hack for LA at the bottom"
### Overview
We need to link the Hack for LA logo to the HackForLA.org website.
Optional: We could also add a link from the text where it says "Hack For LA".

### Action Items

- [ ] Add a link to the logo image at the bottom of the page.

### Resources/Instructions
HackForLA.org website link: https://www.hackforla.org/

[2021-05-11 02:11] henlatourrette commented on #213
We added a working link to the "automation implementation" text but we removed that text from the home page until we have more automations available.

[2021-05-11 09:10] c-arvind commented on #298
Hi I just added them can you please check?

[2021-05-11 22:57] henlatourrette commented on #234
Hi, I've created the pull request to update the template.
https://github.com/100Automations/futureautomations/pull/36

[2021-05-11 23:12] henlatourrette opened #300 "Site Launch Checklist"
### Overview
We need to plan how to do the Launch.

### Action Items

**Phase 0** -  finish plan
- [x] Finish Plan

**Phase 1** - get ready
- [x] Finish the About Page #258
- [x] Finish the Press Page #351
    - [x] Finish the Team Page #255
    - ~create a PDF for the press release~ - leaving it as a google doc for now
- [x] Finish the "All Guides" page #322
- [x] Finish all the MVP Guides #132 :

[2021-05-12 23:37] superbunker commented on #284
Finally getting around to this. Should have all the PRs in before Saturday

[2021-05-12 23:53] henlatourrette commented on #281
added @superbunker to review the PR

[2021-05-12 23:59] mcspach commented on #211
@mdothman I will complete hero and guide cards, you can take over automation cards. How does that sound?

[2021-05-13 00:01] henlatourrette commented on #204
hi @mdothman please share the updates on this issue. Thanks!

[2021-05-13 00:09] henlatourrette commented on #258
@mdothman is this already finished?

[2021-05-13 00:10] henlatourrette commented on #270
Let's do a review with the whole team.

[2021-05-13 00:27] henlatourrette commented on #300
We are thinking on adding new issues to create logos for the brand new automations we have as proposals.

[2021-05-13 01:32] mdothman commented on #258
I didn't review this with the team, and that is the only thing left on the checklist.

[2021-05-13 01:35] mdothman commented on #211
We should discuss over slack, 10-15 minute call.

[2021-05-13 01:46] mdothman commented on #211
I will pass off Hero Section to @mcspach after I have added mobile styling, and finish the automation section.

[2021-05-15 21:33] NivenPrasad commented on #211
@mcspach You might have seen already but note the Figma update on the guides section at the bottom of the Home page.
cc: @CamilaArias @susantangux

[2021-05-15 22:09] #281 closed, assigned to nobody

[2021-05-18 23:39] henlatourrette opened #315 "Updates on Future Automations"
### Overview
This is to Report the status of the ongoing projects on the Future Automations board.

### Action Items
- [x] Check whether there are new ideas on the Future Automations Board
- [ ] Get them on track and make sure they're moving forward

### Resources/Instructions
[Future Automations Project Board](https://github.com/100Automations/futureautomations/projects/1)

[2021-05-20 00:21] henlatourrette opened #322 "Create a "See all Guides Page""
### Overview
We need to create a new page to list all the available guides

### Action Items

- [x] Create a Guides Page
- [x] Design the Guides Page
- [x] Choose/approve design
- [x] Finish the Guides Page development
- [x] Review it with the team

### Resources/Instructions
- #375

[2021-05-20 00:27] superbunker opened #323 "move the "pages" guides back in to guides"
### Overview
We're now only showing a few (4) guides on the home page, so we won't be double-linking the landing-page guides. So, take the guides currently in the "pages" directory and re-add them to the "guides" directory

### Action Items
- [x] copy the files from _pages to _guides
- [x] #382
- [x] find and change all links that use the "pages" directory, starting with the home page buttons
   -

[2021-05-20 00:32] henlatourrette opened #324 "Fix the Fonts"
### Overview
We need to fix the fonts on the guides

### Action Items
Make it load the Open Sans font.

### Resources/Instructions

[2021-05-22 21:07] superbunker commented on #218
Components created!

[2021-05-22 21:07] #218 closed, assigned to CamilaArias, susantangux

[2021-05-22 21:19] superbunker commented on #300
Will prepare a visual timeline of launch schedule at next product meeting

[2021-05-22 21:23] superbunker commented on #212
z-index issue fixed!
But the wavy whoop-dee-doo has margins left and right exposing the underlying blue

[2021-05-22 21:25] superbunker commented on #23
Discuss this in context of launch plan #300

[2021-05-22 21:35] superbunker commented on #241
User issue is fixed. Still need to do the labels.
Reach out to @akibrhast to help finish this up

[2021-05-22 21:42] superbunker commented on #97
Lookin' close worthy!

[2021-05-22 21:42] #97 closed

[2021-05-22 21:44] superbunker commented on #24
Will ask Sophia if we can do any further needed clean-up

[2021-05-22 21:49] Olivia-Chiong commented on #322
Proposed guide categories:

- How to improve, promote your automation Guides
   - Creating a good project image
   - Community support for automations
   - Creating a good readme
   - Prep automation for publications
   - Write your opensource automation creator bio
   - Writing articles for automations
   - Writing short descriptions for automations
- How to use the website Guides
   - Project ca

[2021-05-22 21:50] superbunker commented on #265
check after soft launch --  see issue #300

[2021-05-22 21:50] Olivia-Chiong commented on #126
Completed

[2021-05-22 21:50] #126 closed

[2021-05-22 21:53] superbunker commented on #132
@superbunker will try to figure out what's going on these days

[2021-05-22 21:59] superbunker commented on #322
Design proceeds!

[2021-05-24 23:17] henlatourrette commented on #300
I just read about this site about press releases that could be useful for promoting our website: https://www.helpareporter.com/

[2021-05-25 14:57] mcspach commented on #324
There is a pull request in with the font import added.

[2021-05-25 23:17] henlatourrette commented on #300
We believe it's a good idea to focus mainly on the HfLA community. So, in order to add new automation we could just go and talk to the other projects and ask one by one about automation they might be requiring or already using that we can have on our repository.

[2021-05-25 23:24] henlatourrette commented on #300
Launch Timeline (Draft 1)

**Phase 0** -  finish plan
- [x] Finish Plan

**Phase 1** - get ready
- [ ] Finish the About Page #258
- [ ] Finish the Press Page #351
    - [ ] Finish the Bio Page #255
- [ ] Finish the "All Guides" page #322

**Phase 2** - Fix All The Things
- [ ] Fix everything that’s _obviously_ broken https://github.com/100Automations/Website/issues/25
   - [ ]  Check the website r

[2021-05-25 23:57] henlatourrette commented on #25
We will open an issue for the UAT and leave it open for a week so that people could audit the site and report any bugs right on that issue.

[2021-05-26 23:54] henlatourrette commented on #25
We need to include Mobile design on the UAT as well

[2021-05-26 23:58] henlatourrette commented on #300
We need to make sure Mobile design is included in the UAT as well.

[2021-05-27 00:10] henlatourrette commented on #300
We need to make a list of the pages that need to be finished for launch -> and to define what's a blocker and what's a nice to have.

[2021-05-27 00:16] henlatourrette commented on #284
All of the merges were done.

[2021-05-27 00:16] #284 closed, assigned to superbunker

[2021-05-29 21:21] NivenPrasad opened #334 "Update the CSS for the guides"
### Overview
We need to fix the CSS styling in the  guide pages.

### Action Items
- [x] Review CSS in  guide pages
- [x] Debug issues
- [x] Update CSS
- [x] Review with team
- [x] Deploy code

### Resources/Instructions
[Website](https://100automations.github.io/Website/)

[2021-05-29 21:39] NivenPrasad commented on #334
@Clue355 - the Guide pages mobile version isn't completely up to date yet so talk to @mdothman when you get the chance about the break points in the mobile version of the individual guides pages.

[2021-05-29 21:56] henlatourrette commented on #214
We agree on Centering the text on the images in the Getting Started section.

[2021-05-29 22:03] henlatourrette commented on #211
We need to remove the "Suggest a Guide" button and leave the "See all guides" button below the "Guides" links. Also, the "Get involved" button needs to be aligned to the paragraph above.

[2021-05-29 22:15] henlatourrette commented on #300
Ideally, we need to take 10mins each meeting to check the plan and see where we are at

[2021-05-29 22:27] #213 closed, assigned to superbunker, mdothman, NivenPrasad, Olivia-Chiong

[2021-05-29 22:27] #324 closed, assigned to mcspach

[2021-05-29 22:30] henlatourrette commented on #276
We need to create issues labeled Bug from the feedback - where applicable

[2021-05-29 22:32] henlatourrette commented on #296
We need to review this issue and create new issues from the feedback.

[2021-05-29 22:32] henlatourrette commented on #25
I will check this and create new issues for Bugs.

[2021-06-01 23:24] henlatourrette commented on #211
We need to fix the lines - there are fewer lines on the figma but on the website there are some orphan words like "it":
![image](https://user-images.githubusercontent.com/21250505/120401896-f1493f80-c30e-11eb-80ed-6545f143548f.png)

[2021-06-01 23:54] henlatourrette opened #335 "Fix "Submit Idea" Guide - "In this Guide""
### Overview
The section called "In this Guide" says "Learn best practice for creating a good project image". But that message is not related to the content. We need to change it to "Learn how to submit an idea".

### Action Items

- [ ] Remove the current paragraph
- [ ] Replace it with the appropriate phrase
- [ ] Review it with the team

### Resources/Instructions
-

[2021-06-01 23:58] henlatourrette opened #336 "Fix "Start Building" Guide - "In this Guide""
### Overview
The section called "In this Guide" says "Learn best practice for creating a good project image". But that message is not related to the content. We need to change it to "Learn how to Start Building an automation".

### Action Items

- [ ] Remove the current paragraph
- [ ] Replace it with the appropriate phrase
- [ ] Review it with the team

### Resources/Instructions
-

[2021-06-02 00:00] henlatourrette opened #337 "Fix "Start Contributing" Guide - "In this Guide""
### Overview
The section called "In this Guide" says "Learn best practice for creating a good project image". But that message is not related to the content. We need to change it to "Learn how to Start Contributing".

### Action Items

- [ ] Remove the current paragraph
- [ ] Replace it with the appropriate phrase
- [ ] Review it with the team

### Resources/Instructions
-

[2021-06-02 00:05] henlatourrette opened #338 "Update "Link to List of Automations" on the "Start Contributing Guide""
### Overview
We need to update the "Link to List of Automations" on the "[Start Contributing Guide](https://100automations.github.io/Website/pages/start_contributing.html)". Right now it's as "Work in progress" but it has to be set to the [actual link](https://100automations.github.io/Website/#ato_grid)

### Action Items

- [ ] Remove the "Work In Progress" words.
- [ ] Add the link to the "Link t

[2021-06-02 22:00] superbunker commented on #323
Note: Using An Automation is not written, just placeholder text right now

[2021-06-02 22:25] superbunker opened #339 "Guides have wrong description text"
### Overview
Every guide's description is "Learn best practice for creating a good project image," which does not match the description text in the files.

### Action Items
- [x] What the hey? (research why they're pulling the wrong text)
- [x] Stahp! (get guides to use their own description)

### Resources/Instructions
example, "[creating a good readme](https://100automations.github.io/Website/gu

[2021-06-02 22:45] superbunker commented on #12
I think we need:
- an overview of what Future Automations is
- how it differs from the website repo
- an overview of the process for automation approval and development (?)
- how new users get access (?)
- the process for an FA item to move to its own repo (?)

Some quick ideas:
FutureAutomations is the hatching ground for new and in-progress automation ideas (not to be confused with the repo for

[2021-06-02 23:42] superbunker commented on #270
working on issues from the notes

[2021-06-02 23:42] #270 closed, assigned to superbunker, Olivia-Chiong

[2021-06-02 23:58] superbunker commented on #291
creating a new issue for the "V"

[2021-06-02 23:58] #291 closed, assigned to CamilaArias, mcspach

[2021-06-03 00:01] henlatourrette opened #340 "Change the V for a Chevron on the "Needs help" button"
### Overview
We need to change the V for a Chevron on the "Needs help" button.

### Action Items

- [x] Get the Chevron image
- [x] Remove the V and replace it with the Chevron

### Resources/Instructions
[Figma](https://www.figma.com/file/zGyhV8Z6sLohatYAnFoxQm/100Automations-Project-Board?node-id=1432%3A998)

[2021-06-03 00:03] henlatourrette commented on #339
Each Guide has now its own issue:
#335
#336
#337

[2021-06-03 00:05] superbunker commented on #339
it was hard coded. for... reasons? should be easy fix.

[2021-06-03 00:09] henlatourrette commented on #258
The only pending issue is to add the URL to the "Check out Roadmap" sentence

[2021-06-03 00:09] superbunker commented on #258
I think I can handle adding this link

[2021-06-03 00:11] superbunker commented on #132
i'm working on it, more or less

[2021-06-03 00:12] superbunker commented on #292
YES!

[2021-06-03 00:12] #292 closed, assigned to mdothman

[2021-06-05 18:22] NivenPrasad opened #341 "Add use cases to About Us page that helps people understand how this project can benefit them"
### Overview
Need to Add some Use cases which explains by giving example.
Ex. What role fits you best?
Ideator - I have an idea
Sr. Developer - I can do it myself
Jr. Develop - I might need help
PMs - I want to work on a project

This could be a good content addition for the about us page, how PMs, ideators, junior builders, senior builders, people with code they could convert into a reusable pack

[2021-06-05 20:58] NivenPrasad opened #342 "Make Google Form Easier to Find and Use"
### Overview
We need to solve for the problem for how a visitor can find and use the Google Form easier instead of having to go through the gateways/friction of having to read guides before being able to start the process of submitting an idea.

### Action Items
- [ ] Discuss with team
- [ ] Scope solution in this issue
- [ ] Convert proposed solution to issue(s) to implement

### Resources/Instru

[2021-06-05 21:00] NivenPrasad commented on #276
All the issues from the synthesized feedback have been converted to issues where applicable. So this issue I believe can now be closed.

[2021-06-05 21:08] superbunker commented on #276
All set!

[2021-06-05 21:08] #276 closed, assigned to NivenPrasad

[2021-06-05 21:14] superbunker commented on #296
Got the bugs turned in to issues or fixed.

[2021-06-05 21:14] #296 closed, assigned to superbunker

[2021-06-05 21:19] henlatourrette commented on #322
Hi @CamilaArias , do you have any feedback on design suggestions for the "See all guides page"?

[2021-06-05 21:21] superbunker commented on #258
I'm goin' in!

[2021-06-05 21:24] henlatourrette opened #343 "QA on Live site"
### Overview
We need to do a check-up on the Live Site

### Action Items
- [x] accessibility
   - [x] #420
   - [x] run test(s) - see accessibility test folder in google drive
   - [x] review results - ongoing, see issue #492
- [x] verify analytics functionality
   - [x] set up (#23)
- [x] Fix the bugs
   - [x] find and indentify
   - [x] prioritize and create issues #433
   - [x] fix - high impac

[2021-06-05 21:24] superbunker commented on #265
moving live site QA to new issue

[2021-06-05 21:24] #265 closed, assigned to susantangux

[2021-06-05 21:30] mcspach commented on #339
This is fixed in my recent pull request #344

It should also be checked when Carlos pushes his changes on the guides page.

[2021-06-05 21:40] henlatourrette opened #345 "Create the Pitch Deck for Presentations"
### Overview
We need to create the Pitch Deck for Presentations prior to our Go To Market. Template needs to include the 100 Automation design colors, fonts and everything.

### Action Items

- [x] Define the audience
- [x] Grab information
- [ ] Create [Pitch Deck](https://docs.google.com/presentation/d/1OD0PY4wB4YdX771Opon6QYHK7bTIgQWiy_8lQp6hQpo/edit#slide=id.p)
- [ ] Review it with the team

#

[2021-06-05 21:51] ruchimahajan78 commented on #345
Will start workin on it right away.

[2021-06-06 14:54] akibrhast commented on #241
@superbunker Hey there, what can I assist with?

[2021-06-06 23:02] superbunker commented on #241
Hey @akibrhast

We'd like these labels added to all the ideas submitted through the form:
documentation, ideation, review,  role: administrative

[2021-06-07 00:39] ruchimahajan78 commented on #345
https://drive.google.com/file/d/1CXxzgY1c5YTrAvGHiQCH7hDJHTc3EFRb/view?usp=sharing

[2021-06-07 00:52] ruchimahajan78 commented on #345
[Pitch Deck](https://drive.google.com/drive/folders/1O5ACGgsDYiPTjbIkMKEdP5sa069BaYa4)

Need information about:

1. Business model
2. Market Opportunity
3. Growth Strategy
4. Metrics
5. Testimonials

[2021-06-08 23:31] #339 closed, assigned to mcspach, Clue355, mdothman

[2021-06-08 23:35] #337 closed, assigned to nobody

[2021-06-08 23:36] #336 closed, assigned to nobody

[2021-06-08 23:51] henlatourrette commented on #345
We can have more information from the Project Inventory:
https://github.com/hackforla/product-management/issues/134

Also, from the Marketing assets:
https://github.com/hackforla/marketing/issues/36

[2021-06-09 16:22] mcspach commented on #340
Do you guys like this or no?

<img width="786" alt="Screen Shot 2021-06-09 at 9 18 37 AM" src="https://user-images.githubusercontent.com/38964454/121392378-2ef82a80-c904-11eb-95a6-b5b9b9f6ad1e.png">

[2021-06-09 17:57] mcspach opened #347 "Finish guides section on homepage"
We need to restyle the guides section to match the new Figma.

- [x] Get new design from Figma
- [x] Remove suggest a guide button and add see all guides button
- [x]  Add padding, resizing, etc to finish guides section

[2021-06-09 17:58] mcspach commented on #347
<img width="1433" alt="Screen Shot 2021-06-09 at 10 30 13 AM" src="https://user-images.githubusercontent.com/38964454/121405160-8d77d580-c911-11eb-95cd-b15580e296d1.png">
<img width="213" alt="Screen Shot 2021-06-09 at 10 29 58 AM" src="https://user-images.githubusercontent.com/38964454/121405171-910b5c80-c911-11eb-91ff-059a7cb52109.png">

[2021-06-09 18:03] mcspach commented on #214
<img width="1320" alt="Screen Shot 2021-06-09 at 10 50 28 AM" src="https://user-images.githubusercontent.com/38964454/121405681-30c8ea80-c912-11eb-88cd-a9a151d53a77.png">
We decided to center the text and that was the last action item. Linked pull request today

[2021-06-09 23:15] superbunker commented on #298
This seems to be done

[2021-06-09 23:37] superbunker commented on #298
Indeed, it is done

[2021-06-09 23:37] #298 closed, assigned to nobody

[2021-06-09 23:39] superbunker commented on #340
FontAwesome isn't working, so this needs to be an uploaded image, or live text (which it is now).

Merging PR but leaving open for further review.

[2021-06-09 23:43] superbunker commented on #347
Can merge PR.

Leaving issue open:
- vertically center text inside the cards
- check the border radius on mobile
- link button (Dependent on creating guides page and getting url)

[2021-06-09 23:51] henlatourrette commented on #234
@NivenPrasad please review my PR with the changes made.

[2021-06-09 23:58] superbunker commented on #212
The button is off to the left edge. It's always something.

The whoopty SVG is lightly glitching — especially visible when slowly resizing the window (at least for me, Safari/Mac)

[2021-06-10 00:11] henlatourrette commented on #322
The design is almost ready.

[2021-06-10 00:17] #214 closed, assigned to mcspach, mdothman

[2021-06-10 00:17] #347 closed, assigned to mcspach

[2021-06-10 00:17] #340 closed, assigned to mcspach

[2021-06-10 00:18] superbunker commented on #334
updated: this for the global guides styles

[2021-06-10 00:21] superbunker commented on #204
Searchable documentation better idea than media/video for this

[2021-06-10 00:24] superbunker commented on #335
re-closeing

[2021-06-10 00:25] #335 closed, assigned to superbunker

[2021-06-10 14:24] akibrhast commented on #241
The following labels has been added to the form
- documentation, ideation, review, role: administrative
@superbunker

[2021-06-12 21:21] superbunker commented on #258
ohhh, I'm the problem.

[2021-06-12 21:23] superbunker commented on #322
We have three options designed. Just gotta pick one.

@mcspach @mdothman  - Can we make an interim page for now so we can link to the guides?

[2021-06-12 21:32] henlatourrette opened #350 "Fix the broken image on "Guides" pages"
### Overview
We need to fix the image at the top right corner on the Guides page.

![image](https://user-images.githubusercontent.com/21250505/121789444-ff674d80-cba3-11eb-8554-46907cb15eb0.png)

### Action Items

- [x] Find out what's the problem with the image not showing up
- [x] Fix the image
- [x] Review it with the team

### Resources/Instructions
Guides Page: https://100automations.github.i

[2021-06-12 21:41] superbunker commented on #322
_Susan doesn't like it!_ (small tweaks)
Also, we need to pick a design. So.

[2021-06-12 21:47] henlatourrette opened #351 "Add Content to the Press Kit Page"
### Overview
It looks empty right now and not ready for MVP

### Action Items

- [x] Add the Memes
- [x] Add the social Media content
- ~Finish the "Bio" Pop-Up functionality~ using LinkedIn
- [x] Finish the layout
- [x] Add URL to the Fact Sheet linking to the OneSheet
- [x] Review it with the team

### Resources/Instructions
One Sheet > https://github.com/100Automations/Website/blob/gh-pages/100

[2021-06-12 21:50] superbunker commented on #241
implementation testing _underway!_

[2021-06-15 23:13] henlatourrette opened #352 "Define a Process to handle the Future Automations"
### Overview
We need to define a clear process that we can follow to develop the automations that get through the future automations funnel.

### Action Items

- [x] Brainstorm Action Items
- [ ] Define Clear process
- [ ] Establish staffing needs
- [ ] Review it with the team

### Resources/Instructions
- guide: [Start Building](https://100automations.github.io/Website/guides/start_building.html)

[2021-06-16 07:15] superbunker opened #354 "Create automation workflow overview"
### Overview
The "automation workflow overview" is linked as a wiki page from the [Start Building](https://100automations.github.io/Website/guides/start_building.html) guide. It is currently blank.

### Action Items
- [ ] figure out what the automation workflow is
- [ ] document it

### Resources/Instructions
- overarching issue: _Define a Process to handle the Future Automations_ #352

[2021-06-16 07:28] superbunker opened #355 "finish the Start Contributing guide"
### Overview
see issue #384

### Action Items
- [ ] figure out what should be in this guide
- [ ] put it there

### Resources/Instructions
- https://100automations.github.io/Website/guides/start_contributing.html

[2021-06-16 07:47] superbunker commented on #258
PR #356

[2021-06-16 07:50] superbunker commented on #158
If there's no response from marketing, we should either publish this or move it to the backlog

[2021-06-16 08:01] superbunker commented on #163
What's the status of this? I can work on project images.

[2021-06-16 08:05] superbunker commented on #6
Does this still need to be open?

[2021-06-16 08:06] superbunker commented on #219
Does this still need to be open?

[2021-06-16 08:08] superbunker commented on #210
Is this redundant? #322

[2021-06-16 08:22] superbunker commented on #286
Looks like this has been fixed?

[2021-06-16 08:27] superbunker commented on #243
We should either revise this for individual user interviews or create a new issue

[2021-06-16 08:29] superbunker commented on #27
We could use some help on this - _Define a Process to handle the Future Automations_ #352

[2021-06-16 08:39] superbunker opened #357 "create "Guide on Creating an Automation Repo""
### Overview
Guide linked from the [Start Building](https://100automations.github.io/Website/guides/start_building.html) but it does not exist

### Action Items

- [ ] figure out what stuff should be in guide
- [ ] make the guide
- [ ] put the stuff in the guide

### Resources/Instructions
- Define a Process to handle the Future Automations #352

[2021-06-16 08:52] superbunker commented on #300
Might be best to move the plan into the initial post, so the to-do items are tracked

[2021-06-16 16:16] akibrhast commented on #342
Just passing by:
imho: Add a button somewhere on the site, [Submit An Automation Idea!](#) 😄

[2021-06-16 18:59] mcspach commented on #334
@Clue355 please leave a comment here with multiple screenshots and a reference to your branch. I dont have much time but here's a few comments:

-There is no breakpoint, so the current styling only works above 700px width.
-Line 16 in guides.html should read not be hard-coded text, it should be {{page.description}}
-When you change that, you may have to refactor lines 100-102 in guides.scss
-Check

[2021-06-16 23:46] henlatourrette commented on #258
After the PR is merged. We need to adjust the "Acknowledgements" text size. @mdothman is going to review the pull request.

[2021-06-17 00:02] henlatourrette commented on #351
Comments from the meeting:
"Fact sheet" should link to the One Sheet
"Logo" should link to google drive where the Logos are
"Press release" should link directly to a Press Release page - still pending in production but already in mock up

[2021-06-17 00:05] henlatourrette commented on #255
The Bios folder for this is included in the PR #353

[2021-06-17 00:11] henlatourrette commented on #322
Provisionally, we picked the Design # 2 (going from left to right). But still needs to have approval from Design team.

[2021-06-17 00:16] henlatourrette commented on #101
It's live and working fine.

[2021-06-17 00:16] #101 closed

[2021-06-17 00:17] henlatourrette commented on #241
it's working now!

[2021-06-17 00:25] henlatourrette commented on #141
niven says we can close this one!

[2021-06-17 00:25] #141 closed

[2021-06-23 23:39] superbunker commented on #258
Can we just open the PDF on its own? I'll look in to this.

[2021-06-23 23:50] henlatourrette commented on #351
As for the Bio Pages, we need to finish the #255 . And we need help with the API to get the Profile pics from LinkedIn. @akibrhast can you give us a hand with this part?

[2021-06-24 00:08] henlatourrette commented on #351
We decided to use GitHub profile pic instead of using the LinkedIn one because there are many blockers with LinkedIn regarding the APIs and stuff. Using the Github one would be much easier.

When we solve the LinkedIn issue we can update it again.

[2021-06-24 00:12] henlatourrette commented on #352
I'll try to come up with some process, considering the already available documentation.

[2021-06-24 00:14] henlatourrette commented on #352
Some ideas from the meeting:
Slack bot to send a message saying that there's a new submission.
Someone to check the new automation.

[2021-06-24 00:18] henlatourrette opened #360 "Create a PDF link for the Press Release"
### Overview
 skip all that new page noise for now, and just link a PDF

### Action Items

- [x] Create a layout for the Press Release Page.~
- [x] Get OK from the design team~
- [x] Review it with the team.~
- [x] Create a PDF for the Press Release
- [ ] Create folder under /assets called /pressreleases
- [ ] put issue back in the ice box with dependency of launch date
- [ ] Change date on pdf
-

[2021-06-24 00:52] superbunker commented on #258
Ayyyy, I figured out GitHub PDF rendering, with a combination of raw file and Google doc viewer.

- Add to beginning of URL: `https://docs.google.com/viewer?url=`
- Add to end of the URL: `?raw=true`

Full URL to display GitHub hosted PDF in-browser:
https://docs.google.com/viewer?url=https://github.com/hackforla/product-management/blob/master/project-one-sheets/100-Automations-Project-One-Sheet.p

[2021-06-26 21:12] henlatourrette commented on #322
The design team is OK with the Design 2 but moving the Suggest a Guide button from the bottom to the top right. And also, they suggest adding categories - that Product team would still need to define the categories.

[2021-06-26 21:22] henlatourrette commented on #352
After reviewing the main guides and everything, I think that the best way to begin working towards this is to:

- either assign a specific time on each team meeting to review the Future Automations Status or
- create different meetings specifically to work towards moving forward with the automation projects.

[2021-06-26 21:30] henlatourrette commented on #334
After the latest Merge, we need to update the width issues and the grey background from the menu.

[2021-06-26 21:46] henlatourrette commented on #351
Regarding the Bios, there are doubts about cases when a person is involved in more than one automation. And a few more other issues. We may need to redefine the Bio cards and the information in there.

The modal for the Bio is a blocker right now. If we remove the "Bio" individual pages from the MVP, it can be faster to finish the press kit.

[2021-06-26 21:57] superbunker commented on #258
Work on them buttons, @mdothman
Also, gigantic Acknowledgements needs to be taken down a peg
~And the random gray line has now been banished~  _reprieve_

[2021-06-30 00:04] henlatourrette commented on #352
[ draft ]
Automation Workflow Process:

Automations can come from different channels:
 - Google Form
 - GitHub

Once the automation is properly submitted, it would appear on the "Future Automations Board" under the "Ice Box" column.
{should a slackbot notify about this event?}

On each Product team meeting (or whole team meeting) there should be a time assigned to review the whole Future Automatio

[2021-06-30 23:33] henlatourrette commented on #315
Status as of Today:

- unclaimed/half-backed ideas -> 6
- idea iteration in process -> 1
- automation signoff -> 1
- unclaimed/prioritized backlog -> 2
- in progress -> 2

[2021-06-30 23:43] henlatourrette commented on #258
The "acknowledgment" size is fixed but there's still an issue with the position because it's' overlapping with the gear. It needs to be moved to the left a little bit.

[2021-06-30 23:50] henlatourrette commented on #351
We decided on removing the "View Bio" button for MVP and change the "Bios" title for just "Team" instead and remove the filters.

@CamilaArias @susantangux can you please check how would this look in the final design?

[2021-06-30 23:57] henlatourrette commented on #322
We have the categories already. We decided on removing the "Suggest a Guide" button and leaving it for Post-MVP

[2021-07-01 00:03] Olivia-Chiong commented on #255
@mdothman I've created the md files where the bio issue is closed, please check and confirm all is good.

[2021-07-01 00:10] superbunker opened #367 "fix guide: creator overview"
### Overview
Something's screwy with the markup of this here guide. Probably the header? Also no sidebar cause no subheads.

### Action Items

- [ ] fix the screwiness

### Resources/Instructions
https://github.com/100Automations/Website/blob/gh-pages/_guides/creator_overview.md

[2021-07-01 00:11] henlatourrette commented on #334
Carlos is doing a Pull Request for @superbunker or @mdothman to review it

[2021-07-01 00:14] henlatourrette commented on #350
it's fixed!

[2021-07-01 00:14] #350 closed, assigned to mdothman

[2021-07-01 00:18] superbunker commented on #212
Button fixed - yay!

The whoopy glitch gray line is only showing up on Safari/Mac (?) and only(?) with window resizing. It's not a major bug. So let's call it good enough for now.

[2021-07-01 00:19] henlatourrette commented on #212
It looks good for MVP

[2021-07-01 00:19] #212 closed, assigned to mcspach, mdothman

[2021-07-01 00:24] henlatourrette commented on #24
It looks good!

[2021-07-01 00:24] #24 closed

[2021-07-01 04:33] superbunker commented on #23
To clean things up a bit, I think we can close this, with the live site testing covered by #342

[2021-07-01 04:53] superbunker opened #368 "fix guide descriptions"
### Overview
In one of the recent merges (#361 i think), guide descriptions got switched back to hard-coded. Switch it back to dynamic

### Action Items
this:  `<p class="p1"> Learn best practice for creating a good project image </p>`
needs to be this:   `<p class="p1">{{page.description}}</p>    `

- [x] change it back

### Resources/Instructions
It's hardcoded in the overall guide layout
https:

[2021-07-01 05:10] superbunker commented on #368
[I hot fixed it](https://github.com/100Automations/Website/commit/d98a54ef04f0da8661d83e4e97943e24ceaa7061#diff-0ad28f847ede6ce803394861b09fcba3cfc10841b3f9c703424b0d1cf31fd9be)

[2021-07-01 06:00] superbunker commented on #352
Re: roles and staffing (#27):

- Who evaluates incoming automations?
   - types of submission:
      - ideas
      - incomplete projects
      - complete packages
   - What are the acceptance criteria for new automations?
- Who makes status changes?
   - in progress
   - own repo
   - listing on home page
   - change in help needed
- Who handles access to individual repos?
- Who works on ideas and

[2021-07-02 06:01] superbunker commented on #367
Looks like some stuff got rolled back to old versions (see #368). We'll need to spot-check the guides for artifacts, eg: footer links to edit guides

[2021-07-03 21:18] henlatourrette commented on #351
For MVP we re leaving the roles below the names, under the bio pages. But we're considering a better home for the bio pages but that's a low priority for the moment.

[2021-07-06 23:30] superbunker opened #370 "create Future Automations status card in main repo review"
### Overview
Would be helpful to have an at-a-glace status of the Future Automations board

### Action Items

- [x] make a card in the review column
- ~link to each FA~ - this gets weird in a note, since it pops out one (and only one) reference
- [x] add status

### Resources/Instructions
https://github.com/100Automations/futureautomations/projects/1

[2021-07-06 23:36] superbunker opened #371 "identify projects to ask for existing automation code"
### Overview
Hoping to get another active automation or two in the bag, identify a few (4-6?) projects to directly ask for existing code we could package.

### Action Items

- [ ] figure out which projects to ask
   - [ ] main Hack for LA site
   - [ ] (other)
   - [ ] (other)
   - [ ] (other
- [ ] ask 'em
- [ ] get those automations rolling

### Resources/Instructions

[2021-07-06 23:39] henlatourrette commented on #23
Analytics is up. We can close this issue.

[2021-07-06 23:39] #23 closed

[2021-07-06 23:50] henlatourrette commented on #345
In terms of audience, we can have different audiences and we can work on different Pitch Decks according to the communication objectives.

Right now, our top priority is to add new projects. Therefore, we will begin working on a Pitch Deck for "Ideators" - focusing on people within the HfLA community.

I created a new file for this [Pitch Deck for Ideators](https://docs.google.com/presentation/d/1

[2021-07-07 23:41] superbunker commented on #258
Acknowledgments overlap fixed itself (?)

Border on the buttons is weird with some browsers (eg: mac/safari)
Buttons are not currently linked - where do they go?

Page seems to be pretty much done otherwise.

[2021-07-08 00:05] henlatourrette opened #373 "Press Kit Embedded Social Media"
### Dependency
review desireablity after [MVP launch is completed ](https://github.com/100Automations/Website/milestone/8)

### Overview
On the Press Kit, we would embed the social media posts.

### Action Items

- [ ] Embed social Media
  - [ ]  Twitter
  - [ ]  Instagram
  - [ ]  Facebook
- [ ] Review them with the team

### Resources/Instructions
d

[2021-07-08 00:08] henlatourrette commented on #351
We created an issue for the change on the section related to Social Media #373

[2021-07-08 00:12] superbunker commented on #360
Henry's putting PDF in "Marketing Assets"

@superbunker will do the linky bit

[2021-07-08 00:13] henlatourrette commented on #360
@superbunker  here's the link for teh PDF:
https://drive.google.com/file/d/1VbxcdnZK9eo-5UwO87kDCg3GhIKK_k4E/view?usp=sharing

[2021-07-08 00:24] superbunker commented on #322
Upon further discussion — Nix the "suggest a guide" button entirely

Add categories as section headings ... is a problem.  There would need to be additional metadata for each guide so they could be pulled in to three separate lists. We don't have that right now. Not _super_ hard, but a bit annoying.

We'll make a new issue for adding category metadata to the headers of the guides.

[2021-07-08 00:28] henlatourrette opened #375 "Add Categories as Metadata for the Guide"
### Overview
In order to Make the All Guides Page list the Guides as categories, we need to add new Metadata values.

### Action Items

- [x] List the categories
- [x] Name them using alphanumerical symbols (used 1,2,3)
- [x] Create the values
- ~Add finalized category titles to guides page~ (see #322)
- [x] Review it with the team

### Resources/Instructions
#322

[2021-07-08 23:30] henlatourrette commented on #315
@superbunker opened a new issue #370 to create an "Automations Status Card" to check the status periodically in some sort of automated manner.

Should we consider closing this issue and focus on the new related issue instead?

[2021-07-08 23:38] henlatourrette commented on #285
Hi @mcspach, only the "quote" section is left. It's almost finished, consider reading the other Bios as examples.

[2021-07-08 23:41] henlatourrette commented on #236
@susantangux, now that we don't have too much demand for design changes. You can consider beginning working on your Bio :) You can check the finished ones for inspiration.

[2021-07-10 20:59] henlatourrette commented on #322
The issue we created to address the metadata requirements was #375

[2021-07-10 21:09] superbunker commented on #258
Button border solid. But now white button is gray. Simple fix!

More importantly, the buttons don't go anywhere. We should... do something about that.
- First needs to link to a "landing page" guide - probably the Creator Overview: https://100automations.github.io/Website/guides/creator_overview.html
- Website link goes to H4LA home page for 100 automations: https://www.hackforla.org/projects/100-

[2021-07-10 21:42] superbunker commented on #322
@Clue355 update styles to match figma (the 4th version with category headers)
We may need some hardcoded dummy headers for now.

[2021-07-10 21:43] NivenPrasad commented on #96
Progress: Automation still to be completed
Blockers: Darren availability due to FT work
ETA: Subject to Darren availability

[2021-07-10 21:59] NivenPrasad commented on #96
Hi @darpham, any idea of availability for completing this automation?

[2021-07-10 22:04] henlatourrette commented on #352
Suggestions made by Bonnie:
A simple process could be:
- Talk directly to the Automation Ideators/Creators and do something like a "Customer Success Management" process

[2021-07-10 22:09] superbunker commented on #352
For locating a test case of reusable code Bonnie suggests:

- **Hack for LA site**: _sorting function for JSON objects._ **it's done.** Tyler Thome wrote it
- Food Oasis: **John Darragh** <-- prob has most time

Top Suggestions:
- 311 Data: Adam Kendis (front end)
- Engage: **Eli Selkin**
- Expunge Assist: Gretchen (PM) - reach out for name of tech lead
- VRMS: **Alex Anakin** (tech lead), **Jason

[2021-07-10 22:11] NivenPrasad commented on #127
Can one of the product team please review the above?

[2021-07-10 22:14] superbunker commented on #315
Automation idea: automate this.
In the meantime... @superbunker can just make the card

[2021-07-10 22:21] henlatourrette commented on #370
I'll send the automation idea using the form.

[2021-07-10 23:14] susantangux commented on #166
Completed. Please close.

[2021-07-10 23:14] #166 closed, assigned to nobody

[2021-07-11 01:19] superbunker commented on #132
Bonnie: "Some of the guides look different than other guide pages.  That should not be possible if we are using collections properly.  Please make an issue to review with a bug label to figure out why and fix."

[2021-07-11 02:17] superbunker commented on #132
moved Guide Review to main issue for easier tracking

[2021-07-11 02:47] superbunker commented on #300
Added finishing all the MVP guides to the checklist

[2021-07-11 02:52] superbunker commented on #360
If we leave this hosted on the Google Drive, it automatically opens in the Docs viewer, so we don't need to be tricky with the link -- can just link it.

But... the press release is currently dated XX/XX. Once we establish a date, we'll need to create a new PDF. If that's in the gDrive, it'll get a new URL.

Options:
- move the PDF to a location in the website repo, link it with the docs viewer tr

[2021-07-12 01:40] superbunker commented on #132
Proposed change to all guides: take out the H1 title from the content, since it repeats the H1 title in the header

[2021-07-13 00:00] #368 closed, assigned to superbunker, mdothman

[2021-07-13 00:15] superbunker commented on #323
The syntax for the links references them in numerical order by alphabetical filename:
`{{ site.pages[4].url | relative_url }}`

Is there a reason this would be preferable to linking the filename directly? It seems that if we add new guides to the directory, the numbered order would change

[2021-07-13 00:19] superbunker commented on #370
@NivenPrasad created a static note for this. There isn't a built-in way to display project status in another project, so a manual status card is probably it for now. The idea for an automated status card can be tracked in Future Automations

[2021-07-13 00:19] #370 closed, assigned to superbunker

[2021-07-13 00:27] superbunker commented on #210
Clarification: this is for the individual guide page layouts. #322 is for the "all guides" page.

I think this one can be closed.

[2021-07-13 00:30] superbunker commented on #12
Moving this to the backlog while we work on #352

[2021-07-13 00:32] superbunker commented on #367
Working on this in #132 as a consolidated guides formatting issue

[2021-07-13 00:32] #367 closed, assigned to superbunker

[2021-07-13 00:35] superbunker commented on #163
Handing this back to design

[2021-07-13 23:23] henlatourrette commented on #351
Instead of Bios, we can leave "Team" for MVP and that would be just a page with no Bios but with the team members.

[2021-07-14 00:17] henlatourrette commented on #345
[Draft - Presentation Script]

Work In Progress

* Agenda:
     - What is 100 Automations
     - Who we are
     - Project Goals
     - Why?
     - How to Get Started
     - Final Message

- What is 100 Automations
   - Web-based ecosystem hosting automation projects and connecting them with ideators, developers, and contributors.
   - (a GitHub nexus)
   - We’re supporting tools and micro service

[2021-07-14 01:01] superbunker opened #381 "creator overview guide: write description, remove footer"
### Overview
Guide does not currently have a description and still has old EoF. Add former, remove latter

### Action Items
- [ ] write description
- [ ] remove footer

### Resources/Instructions
- https://100automations.github.io/Website/pages/creator_overview.html

[2021-07-14 01:10] superbunker commented on #381
This isn't an issue with the guide page. It's because some links still go to the old "pages" version.

[2021-07-14 01:10] #381 closed, assigned to superbunker

[2021-07-14 01:13] superbunker opened #382 "flag all the "pages" guides so we know we're looking at the wrong thing"
see title

[2021-07-14 01:18] superbunker commented on #382
done

[2021-07-14 01:18] #382 closed, assigned to superbunker

[2021-07-15 00:06] henlatourrette commented on #322
We can refer to [Olivia's comment](https://github.com/100Automations/Website/issues/322#issuecomment-846467657) to update the final category assignation for each guide

[2021-07-15 00:15] henlatourrette commented on #322
The new update after the Pull Request looks fine. Please let's also remove the Suggest a Guide button. We may need to update the design on Figma as well @susantangux

[2021-07-15 00:19] superbunker commented on #132
Carlos gunna take a swing at the weird CSS, in particular the goofy right margin of the content and smooshing the sidebar off screen when theres fixed width content

[2021-07-17 19:20] NivenPrasad commented on #210
@superbunker Agree!

[2021-07-17 19:27] NivenPrasad commented on #237
My first reaction is that this bio is a little short. Akib is not participating at HfLA as he focuses on a new job - so I'm wondering whether we can use his LinkedIn profile description to bolster this bio a little bit, run it past him, and finalize.

[2021-07-17 21:25] superbunker commented on #258
@superbunker will take a swing at these links

[2021-07-17 21:40] superbunker commented on #360
We'll just leave it as a google doc till further notice

[2021-07-17 21:42] superbunker commented on #132
Carlos, still swingin'

[2021-07-17 21:47] superbunker commented on #352
Niven contacted Ava, will partner up in the near future

[2021-07-17 22:33] superbunker commented on #345
user personas: https://github.com/100Automations/Website/projects/2

[2021-07-17 22:35] superbunker opened #384 "Write instructions for someone contributing existing automation"
### Overview
We need step by step instructions for how someone with an existing code can add it to 100 Automations

### Action Items
- [x] write up what we think the process might be
- [x] publish as guide(s)

### Resources/Instructions
- https://100automations.github.io/Website/guides/start_contributing.html
- https://100automations.github.io/Website/guides/start_building.html
- #354
- https://gi

[2021-07-17 22:47] susantangux commented on #322
Finished updating All Guides Page in Figma per Olivia's proposal. I also made all verb tenses consistent. Right now some of them are in present tense, some in present participle, such as "**write** your opensource automation creator bio" and "**writing** articles for automations." I turned them all into present tense.

[2021-07-17 22:48] superbunker opened #385 "fix guide: Preparing Your Automation for Publication"
### Overview
broken headings, goofy sidebar, hr misinterpreted by jekel.

### Action Items
- [x] fix broken headings
- [x] ensure logical sidebar
- [x] remove all HR's

### Resources/Instructions
- https://100automations.github.io/Website/guides/prep-automation-for-publication.html
- https://github.com/100Automations/Website/edit/gh-pages/_guides/prep-automation-for-publication.md

[2021-07-17 22:52] superbunker opened #386 "remove second H1 title from all guides"
### Overview
The H1 in the content of the guide repeats the H1 title in the header.

### Action Items
- [x] Remove H1 title from body content of all guides
  - [x] community-support-for-automations.md
  - [x] creating-good-project-images.md
  - [x] creating-good-readmes-for-automations.md
  - [x] creator_overview.md - different title, changed to bold
  - [x] prep-automation-for-publication.md
  -

[2021-07-17 22:58] superbunker opened #387 "fix guide: Good Readme - clarify code formatting"
### Dependency
Determining if this is still a part of the process #469

### Overview
The "code" formatting looks like it might be a mistake. Clarify that it's purposeful

### Action Items
- [ ] Figure out best way to clarify the overall code block style (eg: background or border)
- [ ] Change style
- [ ] Review

### Resources/Instructions
- https://100automations.github.io/Website/guides/creating-

[2021-07-17 23:07] superbunker commented on #360
Might be best to close this and open a new issue post-MVP for making press release pages

[2021-07-17 23:30] superbunker opened #388 "Proposal: remove "Using An Automation" till post-MVP"
### Overview
This guide is a blank file. We don't currently have enough usable automations to write an effective guide for this. It may not even be necessary to have its own guide, since each repo will need to contain instructions for this?

Note: guide not showing up on "All Guides" page because it doesn't have a category

### Action Items
- [ ] Product makes a decision
   - [ ] If yes, delete th

[2021-07-17 23:33] superbunker commented on #323
path for relative links across collections: `/Website/guides/filename.html`

NOTE: When making relative links in gh-pages, the links will be wrong in the md file (“blob/gh-pages”) because jekyll hasn’t processed them yet, so they're relative to the repo, not the site. Which means that as far as I can tell, relative links can’t be tested in the code — only on the live post-jekyll page.

Deleting al

[2021-07-18 00:00] superbunker opened #389 "fix guide: Preparing Automation - broken links"
### Overview
Links to 404:
- See our Guide to Writing About Your Automation
- See our Guide to Supporting Your Automation with Community

### Action Items
- [x] link: Writing About Your Automation
- [x] link: Supporting Your Automation with Community

### Resources/Instructions

- https://100automations.github.io/Website/guides/prep-automation-for-publication.html
- https://github.com/100Automatio

[2021-07-18 00:11] superbunker opened #390 "fix all absolute links in the guides"
### Overview
Cross-linked guides currently use the absolute URL of the development site (eg: [Creator Overview](https://100automations.github.io/Website/guides/creator_overview.html) ). When the site goes live, these links break. We need to replace them with relative links.

[example link to /guides/filename.html](/Website/guides/filename.html)

### Action Items
- [x] establish jekyll syntax for r

[2021-07-18 23:19] superbunker commented on #390
Guide links changed. Putting issue up for review as a final check before closing.

[2021-07-18 23:44] superbunker commented on #258
Links added.

Final review and move to done.

[2021-07-18 23:46] superbunker commented on #253
The all-guides page is live. I believe this issue can be closed.

[2021-07-18 23:48] #210 closed, assigned to nobody

[2021-07-19 00:23] superbunker commented on #386
New problem: the "In This Guide" description is styled like an ordinary paragraph. Without the repeated title, it bleeds directly into the content. Possible solutions:

- new separator in the markdown content (easy, but messy and annoying to change)
- new CSS for the description section: shrink/enlarge/bold/border, etc (pretty easy, just gotta pick a look)
- move the description to the sidebar (co

[2021-07-19 00:31] superbunker commented on #387
Best to do this with CSS rather than hacking something in the contents

[2021-07-19 02:21] superbunker commented on #386
Here's how using the current title style for the description would look:

<img width="1605" alt="Screen Shot 2021-07-18 at 7 19 54 PM" src="https://user-images.githubusercontent.com/47950704/126093617-4d8eeb81-03ae-4bc2-8646-c8eff3038396.png">

[2021-07-19 19:27] superbunker commented on #323
links on the home page and in the guides have been changed

[2021-07-19 23:05] henlatourrette commented on #352
I was reviewing the documentation looking for a Step by Step process that we can send Ava to. And I found that we don't have the page for "Workflow Guide for Ideators" but we do have an issue with the information already there -> #222

Therefore, I think that what we need to do first is: Create the Page for "Workflow Guide for Ideators" and then send her to the "Submit Idea" guide, where she would

[2021-07-20 22:55] henlatourrette commented on #127
Reviewed: It looks more than fine to me. Is there already a Guide Page for this?

[2021-07-20 23:28] henlatourrette commented on #390
It looks fine!

[2021-07-20 23:28] #390 closed, assigned to superbunker

[2021-07-20 23:31] henlatourrette commented on #388
I vote for just deleting the guide for now.

[2021-07-20 23:34] henlatourrette commented on #253
This one is done! we're closing it!

[2021-07-20 23:34] #253 closed, assigned to nobody

[2021-07-20 23:41] henlatourrette commented on #6
It looks fine and useful. We may need to update them since we didn't fulfill the time-based objectives but the OKR are good.

[2021-07-20 23:41] #6 closed

[2021-07-20 23:42] henlatourrette commented on #315
We created a note and it is already in the Review column. We can close this one.

[2021-07-20 23:42] #315 closed, assigned to henlatourrette

[2021-07-20 23:44] henlatourrette commented on #127
Jason suggests using this guide as a replacement for the "Builders Guide"

[2021-07-21 01:30] NivenPrasad commented on #384
Steps to add an existing automation to 100 Automations:

1. Create a new repository under the 100 Automations - [quick link here](https://github.com/organizations/100Automations/repositories/new)
2. Ensure the repository contains, at a minimum:
- A Readme
- Licence: we use the GNU General Public License v2.0 at Hack for LA [**Double-check this**]
- A Code of Conduct.md
- A Security.md
- A Support.

[2021-07-21 01:49] NivenPrasad commented on #384
Ready for review by product and UI/UX team

[2021-07-21 23:45] superbunker commented on #258
yaaaaaay

[2021-07-21 23:45] #258 closed, assigned to superbunker, mdothman

[2021-07-21 23:57] superbunker commented on #386
gunna open an issue for this

[2021-07-22 00:10] henlatourrette opened #392 "Create a template for Presentation Decks"
### Overview
We need a template that includes the 100 Automation design colors, fonts and everything.

### Action Items

- [ ] Check the design style
- [ ] Make the template
- [ ] Review it with the team

### Resources/Instructions
figma

[2021-07-22 00:13] henlatourrette commented on #392
This would be useful for issue #345

[2021-07-24 21:47] mdothman commented on #334
- [x] Header needs styling for mobile: Title should be smaller and span entire page.
- [x] Side Margins need to be reduced.
- [x] Nav menu drawer needs to be created for mobile.

[2021-07-24 22:53] superbunker commented on #386
We made this change during the meeting. Shazam.

Some guides with extra long descriptions need to have them edited down - working on it.

[2021-07-24 23:00] superbunker commented on #384
@ExperimentsInHonesty I think this issue most directly addresses what you were describing.

The meta-issue (issue of issues) for the Future Automations process is #352

[2021-07-24 23:15] superbunker commented on #386
- [x] Supporting Your Automation with Community (too long)
- [x] Start Building (too long)
- Start Contributing (not written)
- [x] How to suggest a guide for 100 Automations (rewrite)
- [x] Write a Short Narrative Description about Your Automation (extra sentence)
- [x] Creating a Good Project Image (reword)
- [x] Creating a Good Read.me for Your Automation (too long, punctuation, capital)
- [x]

[2021-07-24 23:47] superbunker commented on #386
Repeated title is gone and description subhead is in pretty good shape.
Calling it a day.

[2021-07-24 23:47] #386 closed, assigned to superbunker

[2021-07-24 23:50] superbunker commented on #132
The weird with issue seems to have been dealt with, at least on desktop.

[2021-07-25 00:09] superbunker commented on #323
Added big link to the actual guides as a last warning.
Give it anther week and the pages directory can go.

[2021-07-25 00:14] superbunker commented on #385
"as seen on" had wrong heading level
"(you can list all that apply)" shouldn't be in heading

[2021-07-25 00:16] superbunker commented on #385
guide is in much better shape. closing

[2021-07-25 00:16] #385 closed, assigned to superbunker

[2021-07-25 00:18] superbunker commented on #375
Categories (1,2,3) are fully functional on the all guide page

This is now a content and organization issue.

[2021-07-25 00:26] superbunker commented on #375
Categories (1,2,3) are fully functional on the all guide page

This is now a content and organization issue, so closing this and moving discussion back over to #322

[2021-07-25 00:26] #375 closed, assigned to henlatourrette, superbunker

[2021-07-26 22:53] henlatourrette commented on #322
I reviewed and approved the PR.

@Clue355 , regarding your concern about not "all" of the guides showing on the list, that's just because they're not ready for publication or we decided to leave them "off" for the moment. The new "categorization" feature allows us to do that.

By saying that there are Guides with more than one category, which one/s are you referring to?

[2021-07-27 23:33] henlatourrette opened #395 "Swap the usage of "Build" and "Contribute""
### Overview
We currently use "build" to describe adding to an existing project and "contribute" to describe adding already-written code. For clarity, we'll reverse this throughout the site, so "build" refers to creating/adding a new project, and "contribute" refers to working on an existing project.

### Action Items

- [ ] locate all instances of this usage
   - [x] Home page calls to action

[2021-07-28 23:37] superbunker commented on #322
Ohh yeah

[2021-07-28 23:37] #322 closed, assigned to Clue355

[2021-07-29 23:33] superbunker commented on #217
This looks complete. Moving to review to confirm.

[2021-07-29 23:42] superbunker commented on #384
Per #395 we're swapping the usage of "build" and "contribute." So content would probably fit best as an addition to the "Builder's Guide" (formerly contributor's guide) from https://github.com/100Automations/Website/issues/127#issuecomment-830691542

[2021-07-30 00:16] superbunker opened #397 "Establish Guide categories"
### Overview
The categories don't match the current guides very well. Come up with better-fitting categories (map to the workflow?) and sort the guides appropriately

### Action Items
- [x] come up with draft categories (getting started, working, other)
- [x] first pass recategorization
- [x] review discuss

### Resources/Instructions

[2021-07-30 02:29] mdothman commented on #351
Website is displaying design standards

[2021-07-31 05:55] superbunker commented on #384
Content has been added to the "Start Building" guide.

[2021-07-31 21:13] #217 closed, assigned to CamilaArias, susantangux

[2021-07-31 21:16] superbunker commented on #323
DONE

[2021-07-31 21:16] #323 closed, assigned to superbunker

[2021-07-31 21:18] superbunker commented on #127
Added to Contributors guide.

[2021-07-31 21:18] #127 closed

[2021-07-31 21:20] superbunker commented on #243
Link to the templates from a new issue

[2021-07-31 21:21] superbunker commented on #219
They're totally exportable

[2021-07-31 21:21] #219 closed, assigned to CamilaArias, susantangux

[2021-07-31 21:22] superbunker commented on #234
Looks done

[2021-07-31 21:22] #234 closed, assigned to henlatourrette

[2021-07-31 21:23] #388 closed, assigned to henlatourrette, superbunker, NivenPrasad, Olivia-Chiong

[2021-07-31 21:23] superbunker commented on #397
Good enough for now

[2021-07-31 21:23] #397 closed, assigned to superbunker

[2021-07-31 22:06] henlatourrette opened #402 "Adjust Style on Press Kit Page after Screen Width of 1700 pixels"
### Overview
Adjust Style on Press Kit Page after Screen Width of 1700 pixels

### Action Items

- [ ] - Press release title
- [ ] - Social Media Posts Title
- [ ] - Contact text mix up with the images of the waves
- [ ]

### Resources/Instructions
[Press Kit Page](https://100automations.github.io/Website/press-kit/press-kit-index)

[2021-07-31 22:16] superbunker commented on #300
Checking off Press page, although there is a layout bug with wide screens #401

[2021-07-31 22:19] henlatourrette commented on #352
Bonnie suggested that the process we use should be:

- Send people to our website.

[2021-08-02 20:00] superbunker commented on #388
#131 in icebox

[2021-08-05 23:59] superbunker commented on #395
Change has been made site wide. Will keep eye out for further instances

[2021-08-05 23:59] #395 closed, assigned to superbunker

[2021-08-06 00:08] superbunker commented on #373
not gunna do this for MVP

[2021-08-06 00:10] superbunker commented on #351
We're going to keep the memes scrolling rather than batching out into paged array (bleh)

[2021-08-06 00:10] #351 closed, assigned to mdothman

[2021-08-06 00:15] superbunker commented on #255
Team page looks good — just take off the drop shadow from the top and replace with something subtle. Say, 1px border of slightly darker gray

[2021-08-06 23:46] superbunker commented on #384
If there's no edits to the contributor's guide for now, I'd like to close this

[2021-08-06 23:46] superbunker commented on #355
Actively woking on this in #384

[2021-08-06 23:46] #355 closed, assigned to nobody

[2021-08-06 23:58] superbunker commented on #389
fixed

[2021-08-06 23:58] #389 closed, assigned to superbunker

[2021-08-06 23:59] superbunker commented on #132
Guide formatting finalized. Major bugs and quirks fixed.

[2021-08-06 23:59] #132 closed

[2021-08-07 00:01] superbunker commented on #300
We're down to small bugs and quirks (eg: team page top border, mobile menu behavior.)
Phase 1 development is done.

[2021-08-07 00:19] superbunker opened #407 "Fix guides title wrapping"
### Overview
The titles of the guides wrap aggressively at smaller screen sizes, pushing titles out of the header. They need to be responsive and readable at all sizes.

### Action Items
- [ ] design a responsive solution
- [ ] implement CSS for mobile and desktop
- [ ] review/confirm

### Resources/Instructions
- Possible options: vertical center, progressively shrink line spacing/font...
- Title

[2021-08-07 00:20] superbunker commented on #407
Example:
<img width="1162" alt="Screen Shot 2021-08-06 at 5 05 33 PM" src="https://user-images.githubusercontent.com/47950704/128581706-d83f3801-7673-4ce4-917c-245978db1392.png">

[2021-08-07 21:16] henlatourrette commented on #255
Susan suggests adding more padding at the bottom and make left and right margins the same so that cards are centered.

[2021-08-07 21:32] henlatourrette commented on #407
@Clue355 is working on an update that would solve this issue on the next PR. We'll check again once it's merged.

[2021-08-07 21:57] henlatourrette opened #408 "Update Mobile Version of All Guides page"
### Overview
We need to Update Mobile Version of All Guides page

### Action Items

- [x] Update Figma
- [ ] Update Page according to Figma
- [ ] Review it with the team

### Resources/Instructions
n/a

[2021-08-10 23:15] superbunker opened #410 "User Acceptance Test"
### Overview
confirm that requirements have been met, per Website Requirements Gathering Summary

### Action Items

[User Acceptance Test]

[Functional Requirements](https://docs.google.com/document/d/1GvI9SssKWr0ewXgjM9qCEB8rSgmKyQpiLKZt2PbGafM/edit#heading=h.t6osam3rfu7)

(https://docs.google.com/document/d/1GvI9SssKWr0ewXgjM9qCEB8rSgmKyQpiLKZt2PbGafM/edit#heading=h.8tpdukri3qvt)

**Main Website

[2021-08-11 20:05] superbunker commented on #407
I think this is the merged change. Looks like we'll need to work on this some more...

<img width="953" alt="Screen Shot 2021-08-11 at 1 03 51 PM" src="https://user-images.githubusercontent.com/47950704/129095635-434f191b-650c-4a64-a88a-de76eebb848b.png">

[2021-08-13 00:00] henlatourrette commented on #352
* Send people to our website (ideators/builders/contributors).
* Perform a weekly check to see whether there are new proposals or repositories submitted to the pipeline.
* For each new automation, verify that the processes are being followed according to the guides.
* If necessary, get in touch with the people submitting the automation proposals.

[2021-08-13 00:23] henlatourrette opened #411 "the "Github pre-commit hooks" automation card is taller than the other ones"
### Depedency
#438

### Overview
The "Github pre-commit hooks" automation card is taller than the other ones

### Action Items

- [x] Find what's the problem
  - [x] actually verify it
- [ ] Solve it
- [ ] Review it with the team

### Resources/Instructions
If you are not seeing this on your screen, In order to replicate it you can try adding additional words to the Automation title until it appea

[2021-08-17 22:46] henlatourrette commented on #345
The pitch deck is kind of finished. But still needs to be reviewed.
I'm looking for feedback regarding the design (logos, text size, and font) - and the words used.

[2021-08-19 23:44] henlatourrette opened #415 "Update Project Status labels to the actual real ones"
### Overview
Currently, the labels are showing random statuses. We need to update them so that they display the actual real status of each project.

### Action Items

- [x] Change "abandoned" test status
- [ ] Research automations to establish actual status
- [ ] Update the "Needs Help" statuses accordingly
- [ ] Review with the team

### Resources/Instructions
![image](https://user-images.githubu

[2021-08-20 00:37] superbunker opened #416 "Figure out files paths on live site"
### Overview
file paths -- wtf??

### Action Items
 - [x] FIX

### Resources/Instructions
check hack4la config files to compare
 - https://github.com/hackforla/website/blob/gh-pages/_config.yml
 - https://100automations.org

[2021-08-20 01:43] superbunker commented on #416
our config:
`baseurl: "/Website"`
`url: https://100automations.github.io `
`repository: 100Automations/Website`

HackForLA config:
`baseurl: ""`
`url: https://www.hackforla.org`

I'm going to try changing ours to match....

[2021-08-20 01:50] superbunker commented on #416
Ayyyyy, that did the trick!

[2021-08-20 22:52] henlatourrette opened #417 "Adjust Images on Guides for the Mobile Version"
### Overview
Right now, if a guide has an image it would go off-screen and all the page would extend to the right.

### Action Items

- [x] Find out why is this happening
- [x] Define a way to adjust the image sizes for the Mobile version so that it won't break the pages
- [x] Fix it
- [ ] Review it with the team

### Resources/Instructions
This is an example: [Project Card Anatomy Guide](https://

[2021-08-21 01:49] #416 closed, assigned to henlatourrette, superbunker, mdothman

[2021-08-21 01:51] superbunker commented on #410
Site is live at domain

[2021-08-21 01:51] #410 closed, assigned to henlatourrette, superbunker

[2021-08-21 04:38] superbunker commented on #407
fixed

[2021-08-21 04:38] #407 closed, assigned to nobody

[2021-08-21 04:39] superbunker commented on #255
Done for now

[2021-08-21 04:39] #255 closed, assigned to mdothman

[2021-08-21 05:24] superbunker commented on #27
- Product Managers: Future Automations, H4LA developer outreach, process design/improvement
- UX researchers: accessibility, usability testing, H4LA developer needs
- Developer(s): code review, refactoring

[2021-08-21 21:29] superbunker commented on #352
@henlatourrette will contact John Darragh on monday

[2021-08-21 21:32] superbunker commented on #408
fixed

[2021-08-21 21:32] #408 closed, assigned to Clue355, susantangux

[2021-08-21 21:34] superbunker commented on #204
@mdothman will drop his draft into a comment here

[2021-08-21 21:35] henlatourrette opened #419 "Path is wrong for all relative internal links"
### Overview
Everything with an internal link needs to have "/Website" removed from the path.

wrong: https://100automations.org/Website/guides/creator_overview.html
correct: https://100automations.org/guides/creator_overview.html

### Action Items
- [x] Home Page
- [x] About
- [x] Press
- [x] All Guides
- [x] each individual guide
   - [x] community-support-for-automations.md - no internal crossl

[2021-08-21 21:36] superbunker commented on #334
closed enough

[2021-08-21 21:36] #334 closed, assigned to Clue355

[2021-08-21 21:38] NivenPrasad commented on #354
Is this done because of #384 ?

[2021-08-21 21:39] superbunker commented on #211
its final

[2021-08-21 21:39] #211 closed, assigned to mcspach, mdothman

[2021-08-21 21:39] superbunker commented on #20
we totally have styles

[2021-08-21 21:39] #20 closed

[2021-08-21 21:43] superbunker commented on #96
Darren is at 6:30pm Thursday VRMS meetings. Might come to ops meetings.

[2021-08-21 22:15] ExperimentsInHonesty commented on #27
@susantangux will make ux role postings.
@henlatourrette will make new pm posting.

Please get these done before next onboarding on Monday 23rd at 6pm

Note for both:  Please put links to them here or if you start a new issue for it, link that issue here

[2021-08-21 22:16] ExperimentsInHonesty opened #420 "Decide what accessibility testing tool we are going to use"
### Overview
We need to do accessibility  testing on the webiste to determine if changes need to be made before formal launch

### Action Items
- [x] Read the article
- [x] Write up (in the comments below) a plan a plan for testing the site.
- [ ] Make new issues to break up the site testing

### Details
There are more than 100 accessibility testing tools.  Figuring out which ones to use can be a

[2021-08-21 22:18] #266 closed, assigned to Clue355

[2021-08-21 22:30] siddharth1704 commented on #419
i  want to work on this kindly assign me this issue

[2021-08-21 22:42] ExperimentsInHonesty opened #421 "guide page menu behavior"
**Describe the bug**
The side menu on a guide does not follow the user down the page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://100automations.org/guides/workflow-guide-for-builders.html
1. Scroll down to notice the menu does not follow you
4. See error

**Expected behavior**
I expect the menu to follow me down the page, and for the section that I am in, to turn bold (on t

[2021-08-22 00:07] mdothman commented on #204
# 100 Automations Site Architecture for Development _Update_

## Overview

Welcome to 100 Automations: a github nexus for open source development. 100 Automations was built using [Jekyll](https://jekyllrb.com/) a Ruby Gem.
In addition to the use of HTMl, CSS, and Javascript; Jekyll uses [Liquid](https://shopify.github.io/liquid/) a template language written in Ruby.

100 Automations uses [Docker](

[2021-08-22 12:18] kbhavre commented on #419
I will try to work on this issue, please assign this to me

[2021-08-23 05:54] superbunker commented on #421
This is a feature request

[2021-08-23 06:49] superbunker commented on #27
per slack,  Susan doesn't seem to have full access to UI/UX posting

[2021-08-24 00:30] henlatourrette commented on #27
Hi! I Posted a Product Manager opportunity in here: https://github.com/hackforla/product-management/projects/8#card-67378302

[2021-08-24 04:46] susantangux commented on #27
Thanks, Jason! I knew you might know something about this.

Best,

*Susan Tang*

On Sun, Aug 22, 2021 at 11:50 PM Jason Brown ***@***.***>
wrote:

[2021-08-24 19:56] mdothman commented on #204
# 100 Automations Site Architecture for Development

## Overview

Welcome to 100 Automations: a github nexus for open source development. 100 Automations was built using [Jekyll](https://jekyllrb.com/) a Ruby Gem.
In addition to the use of HTMl, CSS, and Javascript; Jekyll uses [Liquid](https://shopify.github.io/liquid/) a template language written in Ruby.

100 Automations uses [Docker](https://d

[2021-08-25 07:01] superbunker commented on #419
This should be fixed now.

[2021-08-26 23:43] henlatourrette commented on #419
I was doing a test clicking at all the links randomly and couldn't find any broken one. So, I guess we can consider this one fixed.

[2021-08-26 23:44] henlatourrette commented on #415
They look currently updated now.

[2021-08-26 23:47] henlatourrette commented on #352
I contacted John and he is not sure whether the Github actions they use can be considered "automation". Need to get back to him with something.

[2021-08-26 23:50] superbunker opened #424 "Bug Tracking: Home Page"
### Overview

We need to define the problems with the Home page on the site so that we can fix or delay the fixes until after MVP

### Action Items
- [x] In a comment below: Identify a bug
  - [x] provide a screen shot of problem
  - [x] details on how to replicate
  - [x] provide any appropriate links that would be useful.
- [ ] Product/development will review the bugs, combine related coding int

[2021-08-26 23:51] superbunker opened #425 "Bug Tracking: About Page"
### Overview

We need to define the problems with the About page on the site so that we can fix or delay the fixes until after MVP

### Action Items
- [x] In a comment below: Identify a bug
  - [x] provide a screen shot of problem
  - [x] details on how to replicate
  - [x] provide any appropriate links that would be useful.
- [x] Product/development will review the bugs, combine related coding in

[2021-08-26 23:51] superbunker opened #426 "Bug Tracking: Press Section"
### Overview

We need to define the problems with the Press page on the site so that we can fix or delay the fixes until after MVP

### Action Items
- [x] In a comment below: Identify a bug
  - [x] provide a screen shot of problem
  - [x] details on how to replicate
  - [x] provide any appropriate links that would be useful.
- [x] Product/development will review the bugs, combine related coding in

[2021-08-26 23:51] superbunker opened #427 "Bug Tracking: All Guides Page"
### Overview

We need to define the problems with the "All Guides page" on the site so that we can fix or delay the fixes until after MVP

### Action Items
- [x] In a comment below: Identify a bug
  - [x] provide a screen shot of problem
  - [x] details on how to replicate
  - [x] provide any appropriate links that would be useful.
- [ ] Product/development will review the bugs, combine related co

[2021-08-26 23:51] superbunker opened #428 "Bug Tracking: Guides"
### Overview

We need to define the problems with the Guides pages on the site so that we can fix or delay the fixes until after MVP

### Action Items
- [x] In a comment below: Identify a bug
  - [ ] provide a screen shot of problem
  - [ ] details on how to replicate
  - [ ] provide any appropriate links that would be useful.
- [x] Product/development will review the bugs, combine related coding

[2021-08-27 00:12] superbunker commented on #420
I think we should do more than one tool -- they have different opinions. Maybe 2-3 people could each run a test?

Henry will research the tools -- we'll decide saturday

[2021-08-27 00:18] superbunker commented on #426
@mdothman reports: mobile bug -  _"Contact info is, y'know, kinda squished by the little wave"_

*added to list in #433*
related to https://github.com/100Automations/Website/issues/426#issuecomment-908844584

[2021-08-27 00:21] superbunker commented on #419
yay

[2021-08-27 00:21] #419 closed, assigned to superbunker

[2021-08-27 00:23] superbunker commented on #243
Feedback from Engineering on the demo site has been addressed

We need a new issue for updated user research

[2021-08-27 00:23] #243 closed, assigned to henlatourrette, NivenPrasad, Olivia-Chiong, susantangux

[2021-08-27 00:26] superbunker commented on #384
This guide is now in use as the "Start Building" guide. If there's something further needed, leave a comment

[2021-08-27 00:26] #384 closed, assigned to ExperimentsInHonesty

[2021-08-27 00:27] superbunker commented on #415
Totally updated

[2021-08-27 00:29] superbunker commented on #134
document is created. see #204

[2021-08-27 00:38] superbunker commented on #411
The bug _seems_ to be the second line of the wrapping title. The header is pushed up and the button below farther down. But this header image is also newer than the other two, so the revised format could be involved.

**verify**
Dean cant see the bug (Win/Chome). Jason does (Mac/Safari).

<img width="1255" alt="Screen Shot 2021-09-02 at 4 36 57 PM" src="https://user-images.githubusercontent.com/47

[2021-08-27 00:39] superbunker commented on #424
actively working this bug for the automation cards: #411

[2021-08-27 00:40] superbunker commented on #267
@Clue355 did the memes

[2021-08-27 00:41] superbunker commented on #267
Guide images are probably the biggest accessibility issue. Bleh

@Clue355 is sticking with it!

[2021-08-27 00:53] superbunker commented on #426
@ExperimentsInHonesty: margins dont match figma

---
@superbunker: I think this involved the mobile margins? if so, it's issue #438.  if it was the press page, issue: #451

[2021-08-27 01:11] ExperimentsInHonesty commented on #426
When you click on the link to the logos, it goes to a general design folder https://drive.google.com/drive/folders/1lNXA9jYBauZDz7RgY18-N71jaInZz6ND
It should go to a folder with just the logo assets.

CORRECTED LINK:
https://drive.google.com/drive/folders/1z9nRpZVRotIaTt4e_ng6N7Svtavab0Z6?usp=sharing

**Issue created: #434**

[2021-08-27 01:14] ExperimentsInHonesty commented on #426
The icon/cards are resizing inappropriately when you narrow the browser window size. They should remain the same size background card and either stack or whatever behavior is desired (wouldn't it be cool if we had up to date figmas that explained the desired layout for different screen sizes ![image](https://user-images.githubusercontent.com/37763229/131055823-8a452c14-0892-4dc4-a9c4-76e7c1c2df51.

[2021-08-27 01:16] ExperimentsInHonesty commented on #426
The layout and font color of the press release section does not match the figma
Live page
![image](https://user-images.githubusercontent.com/37763229/131056038-9b792f5b-a473-4736-978f-e5715344925b.png)

figma
![image](https://user-images.githubusercontent.com/37763229/131056174-62968fee-273b-405e-8660-aaf8936303be.png)

Its possible that the font colors are not as selected in the figma throughout

[2021-08-27 01:24] ExperimentsInHonesty commented on #426
The layout of the title should not be stacked and the download button txt should not be stacked when there is plenty of space on the page

If we are on mobile, the elements would get stacked and be smaller but "Download All" never needs to be two lines
![image](https://user-images.githubusercontent.com/37763229/131056661-1ed9b591-5a59-415b-91b6-4ad4f57e7b75.png)

Issue created: #463

[2021-08-27 01:26] ExperimentsInHonesty commented on #426
I have issues with the slider at the bottom, but until we have a new designer on the site, I am just putting a pin in it, so that we can discuss our options then.

[2021-08-27 01:35] ExperimentsInHonesty commented on #426
The spacing between the post squares don't match from the two sections
The space between the buttons for social media and the posts below is larger than is indicated on the figma
![image](https://user-images.githubusercontent.com/37763229/131057487-efcc4e87-322d-4bb8-9c0d-a7a5daac6873.png)

Issue #465 created for this.

[2021-08-28 17:59] mdothman commented on #204
# 100 Automations Site Architecture for Development

## Overview

Welcome to 100 Automations: a github nexus for open source development. 100 Automations was built using [Jekyll](https://jekyllrb.com/) a Ruby Gem.
In addition to the use of HTMl, CSS, and Javascript; Jekyll uses [Liquid](https://shopify.github.io/liquid/) a template language written in Ruby.

100 Automations uses [Docker](https://d

[2021-08-28 18:00] mdothman commented on #204
# 100 Automations Site Architecture for Development *Update*

## Overview

Welcome to 100 Automations: a github nexus for open source development. 100 Automations was built using [Jekyll](https://jekyllrb.com/) a Ruby Gem.
In addition to the use of HTMl, CSS, and Javascript; Jekyll uses [Liquid](https://shopify.github.io/liquid/) a template language written in Ruby.

100 Automations uses [Docker](

[2021-08-28 21:08] henlatourrette opened #429 "Change the Meeting time on gCalendar"
### Overview
We need to change the periodic Wednesday meetings to Thursday at 5 pm PT

### Action Items

- [x] Change the meeting time on the Google Calendar.

### Resources/Instructions

[2021-08-28 21:50] susantangux commented on #424
Homepage desktop and mobile webpage images exported from Figma. Please compare live site to these Figma image files:
<img width="1441" alt="Homepage_Desktop" src="https://user-images.githubusercontent.com/78511203/131231916-076fa7b7-a177-4d5a-b118-27c3af9634cc.png">
<img width="360" alt="Homepage_Mobile" src="https://user-images.githubusercontent.com/78511203/131231920-0db40e10-9786-465b-82e5-72f9

[2021-08-28 21:52] susantangux commented on #425
"About Us" desktop and mobile webpage images exported from Figma. Please compare live site to these Figma image files:
<img width="1440" alt="About Us_Desktop" src="https://user-images.githubusercontent.com/78511203/131231955-127c1837-baca-4e16-ad5c-4f7dad1a0e0b.png">
<img width="360" alt="About Us_Mobile" src="https://user-images.githubusercontent.com/78511203/131231957-64d477a9-110f-4830-969c-75

[2021-08-28 21:54] susantangux commented on #426
"Press" desktop and mobile webpage images exported from Figma. Please compare live site to these Figma image files:
<img width="1440" alt="Press Kit_Desktop" src="https://user-images.githubusercontent.com/78511203/131231968-c5adf566-4144-4844-b697-86823bb1b883.png">
<img width="360" alt="Press Kit_Mobile" src="https://user-images.githubusercontent.com/78511203/131231972-ec92f6e5-4662-40ed-a32d-f15

[2021-08-28 21:54] susantangux commented on #427
"All Guides" desktop and mobile webpage images exported from Figma. Please compare live site to these Figma image files:
<img width="1440" alt="All Guides_Desktop" src="https://user-images.githubusercontent.com/78511203/131231982-87d33d1f-8638-40e3-bd2c-3515d98f93db.png">
<img width="440" alt="All Guides_Mobile" src="https://user-images.githubusercontent.com/78511203/131231984-66f4a152-894b-4c4a-a

[2021-08-28 21:56] susantangux commented on #428
Individual "Guide" desktop and mobile webpage images exported from Figma. Please compare live site to these Figma image files:
<img width="1440" alt="Guide_Desktop" src="https://user-images.githubusercontent.com/78511203/131231995-2c169e85-51b0-4277-9292-61b7d9d4ca99.png">
<img width="441" alt="Gide_Mobile_TOC Collapsed" src="https://user-images.githubusercontent.com/78511203/131231999-0ef8c16d-a0

[2021-08-29 01:07] susantangux opened #431 "Website Usability Testing"
### Overview
We need to test the website for usability

### Action Items
- [ ] Read "How to make a research plan guidance" by Andre 0 (https://github.com/hackforla/knowledgebase-content/issues/138)
- [ ] Read research plan examples for other Hack for LA projects (https://github.com/hackforla/knowledgebase-content/issues/138)
- [ ] Create a draft research plan for 100 Automations

### Resources/Ins

[2021-08-29 01:55] susantangux commented on #27
I posted two roles: 1) UX/UI designer for website accessibility audit, and 2) UX researcher for website usability testing.

- [UX/UI Designer](https://github.com/hackforla/UI-UX/projects/3#card-61744819)
- [UX researcher](https://github.com/hackforla/UI-UX/projects/2#card-67701768)

[2021-08-31 02:14] nahyungkim1220 commented on #426
Thank you for the Figma images, Susan!

One thing I noticed is the button count isn't matching on pc (chrome, windows 10). Wondering if this was intentional to exclude LinkedIn from our socials?

**Figma**
![image](https://user-images.githubusercontent.com/43450074/131430320-2cb4820a-04c8-4b30-a405-1b33bbcbc63e.png)

**Live Page**
![image](https://user-images.githubusercontent.com/43450074/1314302

[2021-08-31 02:22] nahyungkim1220 commented on #426
Apologies! accidentally clicked the "Close with comment" button.

Buttons and words overlap when the browser is minimized (chrome, windows 10).

![image](https://user-images.githubusercontent.com/43450074/131431171-a493ccf7-5908-4adb-a1dc-9cf092926174.png)

[2021-08-31 02:27] nahyungkim1220 commented on #426
Small formatting: Logo and Team buttons could be resized to horizontally align.

![image](https://user-images.githubusercontent.com/43450074/131431565-6c5714d3-26ac-44ed-987e-25833cca5cb7.png)

also noted by bonnie

Issue #466 created for this

[2021-08-31 02:52] nahyungkim1220 commented on #426
Image sizes on PC don't match Figma.

**Figma**
![image](https://user-images.githubusercontent.com/43450074/131433811-bba5bb98-d741-4ae1-9d65-93f7d698d176.png)

**Live Page**
<img src = "https://user-images.githubusercontent.com/43450074/131433949-2ef0b5d3-fd22-4df7-8607-a0b2d0e7cfd9.png" width = "385" />

[2021-08-31 02:53] nahyungkim1220 commented on #426
Image size changes depending on the button in PC. (Wondering if it's intentional to match the post formatting on different socials?)

**Figma**
![image](https://user-images.githubusercontent.com/43450074/131443612-750122f9-7c6b-42f3-a029-992a0165c83a.png)
\
\
**Live Page**
**Facebook**
<img src = "https://user-images.githubusercontent.com/43450074/131434048-7ddf40ec-37d1-492a-8123-0e38ec16c5c9.png

[2021-08-31 03:32] nahyungkim1220 commented on #426
Really minor, but download button font color and design don't match on PC and mobile.

**Figma**
<img src = "https://user-images.githubusercontent.com/43450074/131434554-52c8cba6-4934-4539-9642-186b4e6425fd.png" width = "100" />

**Live Page**
<img src = "https://user-images.githubusercontent.com/43450074/131434400-bb97fdee-2d7a-4c78-8707-4a9d94791dfe.png" width = "100" />

on purpose

[2021-08-31 04:30] superbunker commented on #424
@ExperimentsInHonesty from slack:

On this file we need to change out the url the image is coming from to come  from the repo
https://github.com/100Automations/Website/blob/gh-pages/_guides/project_card_anatomy.md
The image is coming from ![project card anatomy image]https://raw.githubusercontent.com/100Automations/Website/gh-pages/assets/images/guides/project_card_anatomy-0320_1319.png but should

[2021-08-31 05:05] nahyungkim1220 commented on #426
<img src= "https://user-images.githubusercontent.com/43450074/131445621-89ce64c2-3557-46cd-a93a-fb7f25f7dea5.png" width = "200" />
The Press Release button (above) leads to our final draft in google docs. It would be better if it lead to its own page or opened as a pdf. It's probably a placeholder link until our hard launch (date published needs edit), but wanted to leave a note for the future.

F

[2021-08-31 05:06] superbunker commented on #428
from @ExperimentsInHonesty via slack:

On this file we need to change out the url the image is coming from to come from the repo
https://github.com/100Automations/Website/blob/gh-pages/_guides/project_card_anatomy.md
The image is coming from ![project card anatomy image]https://raw.githubusercontent.com/100Automations/Website/gh-pages/assets/images/guides/project_card_anatomy-0320_1319.png but sho

[2021-09-01 23:17] henlatourrette commented on #427
![image](https://user-images.githubusercontent.com/21250505/131757491-7c697636-fd0c-4b38-9cc6-7345d4b32493.png)

The "Guides" title on the top menu is not in Bold as in Figma.
To replicate, you can go to the Guides page and you would not see the "Guides" title in Bold.

**sitewide: nav menu highlighting**
**added to list in #433, issue will be created**

[2021-09-01 23:25] henlatourrette commented on #427
![E5938512-C3FD-45A9-AF61-9752106F8452](https://user-images.githubusercontent.com/21250505/131758082-9e8ad443-c66f-4f65-8150-a388a98292f4.png)

The Hamburger Menu is too small on Mobile.

To reproduce the error, just go to 100automations.org/all_guides from a mobile browser

**Issue created:** #436

[2021-09-02 02:44] nahyungkim1220 commented on #424
Probably really minor, but on PC, noticed the colors for the top buttons don't match between Figma and the live page. (Guides is supposed to be a darker color)

**Figma**
<img src ="https://user-images.githubusercontent.com/43450074/131772517-8e9522d7-9cef-46f1-91ff-ec6b0ae9616f.png" width = "500" />

**Live Page**
<img src ="https://user-images.githubusercontent.com/43450074/131772460-f0f009c4-d2

[2021-09-02 02:55] nahyungkim1220 commented on #424
On mobile (android/chrome), the gap between 100 Automations and Getting Started sections is longer on the live page than Figma.

**Figma**
<img src= "https://user-images.githubusercontent.com/43450074/131774125-64ec2fb7-13b9-4de3-93c6-220054a3b07d.png" width = "300" />

**Live Page**
<img src = "https://user-images.githubusercontent.com/43450074/131774021-043fd888-e05c-4385-8aad-05d2267ead3a.png"

[2021-09-02 02:58] nahyungkim1220 commented on #424
On mobile, the Guides section doesn't match on Figma and the live page.

1) Figma and Live page are compiled in different formatting.
2) Button says "See All Guides" on figma and "Show All Guides" on the live page. Personally, I prefer "See All Guides" - it sounds more user-friendly.

**Figma**
<img src = "https://user-images.githubusercontent.com/43450074/131775810-b15427a2-1742-4d2e-a7bc-ee49e31

[2021-09-02 03:08] nahyungkim1220 commented on #424
At the bottom of the page on mobile, the placement of logo and text alignment for Hack LA is different for Figma and the live page.

(Personally, I prefer the current format as it is on the live page because it differentiates itself from the main content and has a link to Hack for LA. But that's up to the designers!)

**Figma**
<img src = "https://user-images.githubusercontent.com/43450074/1317753

[2021-09-02 04:42] susantangux commented on #427
Great catch, Henry! "Guides" in the upper right hand corner is bolded so that users know which page they're on. In fact, this should happen on the "About" and the "Press" pages too, but not "Automations" because that's just a section of the homepage.

[2021-09-02 04:57] susantangux commented on #427
Mobile - Yes, Henry is right. The hamburger menu is too small on mobile for all pages. Also, the bottom border of the page should have a border radius of 40px (different from 100px for desktop). The mobile footer is also different from Figma.
![81787](https://user-images.githubusercontent.com/78511203/131784254-7c1d725d-2a8e-4561-adcb-f1cbde72b47d.jpg)

**added to list in #433**

[2021-09-02 05:02] susantangux commented on #427
Mobile page's bottom radius and footer in Figma for comparison. See location of text and Hack For LA logo. Social icons should be vertically center justified, and spaced farther apart.
![image](https://user-images.githubusercontent.com/78511203/131784615-b2a77090-833b-4b52-a146-aaeb4958c186.png)

To reproduce the error, simply go to 100automations/all_guides on the mobile browser.
BTW - I updated

[2021-09-02 06:06] superbunker commented on #424
iPhone 6s Safari:

![IMG_0507](https://user-images.githubusercontent.com/47950704/131790763-b1250ae7-54b2-422f-a714-a7495ab35f9c.png)

created issue #438

[2021-09-02 06:06] superbunker commented on #424
iPhone 6s Safari:

![IMG_0508](https://user-images.githubusercontent.com/47950704/131790824-367154a0-4347-4d58-956a-6f2203c52d34.png)

Created Issue #438

[2021-09-02 06:07] superbunker commented on #424
iPhone 6s Safari:

![IMG_0509](https://user-images.githubusercontent.com/47950704/131790859-fbd9896c-4ee4-49e3-8a69-ae21008c5ebc.png)

Issue #438 created from this comment.

[2021-09-02 20:27] Clue355 commented on #425
//On Desktop:

no space to the left of the paragraph on the top section of the page

![Screenshot from 2021-09-02 15-12-15](https://user-images.githubusercontent.com/54788134/131909951-46fa71bb-ecef-4afd-a703-4380fcfa3b47.png)

created issue #439 for this

middle section goals are spaced apart too far

![Screenshot from 2021-09-02 15-12-02](https://user-images.githubusercontent.com/54788134/131910

[2021-09-02 20:38] #267 closed, assigned to Clue355

[2021-09-02 22:41] henlatourrette commented on #428
![397E8E23-92D9-44FF-ADDA-64EC037E1055](https://user-images.githubusercontent.com/21250505/131925013-dbbc8560-86a8-40bf-acc0-570551b797f3.png)
While using the Mobile Safari Browser on my iPhone SE 2020, I see that the bottom of the "guide container" is not centered with the footer. This is happening on all the Guides.

**probably sitewide issue with mobile margins** : #438

[2021-09-02 22:51] henlatourrette commented on #428
![C204B50D-9AC6-45A2-A26D-0C6AD4E97059](https://user-images.githubusercontent.com/21250505/131925567-e6b913dd-3eeb-4a5e-abfc-1d9b086c7bfc.png)

For the Mobile version, when there's an image included, it expands the whole Guide container to the right according to the size of the image.

It is happening on the "Builders' Guide"
https://100automations.org/guides/workflow-guide-for-builders.html

this

[2021-09-02 23:37] superbunker commented on #411
Things to test:
 - cut off title so it doesn't wrap, see what happens
 - add text to other two titles to make them wrap, see what happens
 - make sure all three headers are using the same size/format  image

Posible Solutions:
- character limit all automation titles
- make title two lines high for all
- dynamically shrink text to fit

[2021-09-02 23:58] superbunker commented on #345
Didn't get a chance to work on it this week. Should be able to give it a pass for Saturday

[2021-09-03 00:26] ExperimentsInHonesty commented on #424
Here is what the homepage looks like for me:
Iphone 6plus with chrome browser

See formatting of the title and words and button, but also the hamburger menu is way too tiny.
![16515](https://user-images.githubusercontent.com/37763229/131932299-9faf4c83-a3b0-4a85-8806-bc6bc5f1b6db.jpg)

[2021-09-03 00:30] superbunker commented on #425
These screenshots are responsive desktop, not native mobile

[2021-09-03 00:55] superbunker opened #433 "Make issues from the bug hunt comments"
## Overview
Review the bug hunt comments, correlate associated reports, identify higher priority problems, create issues to address

## Action Items
 - [x] Collect bug reports from the bug tracking issues
   - @henlatourrette : Home and About
   - @superbunker : All Guides and the Guides
   - @sobe-an : Press section
 - [x] List issues here in a comment
    - summarize bug with title-length descri

[2021-09-03 04:55] superbunker commented on #415
But wait....  ARE they updated?
Review with team to confirm.

[2021-09-03 05:15] superbunker commented on #433
@superbunker doing some tracking/correlating/note-taking here

<details>
<summary>note to self:</summary>
this is how you make folding content
</details>

**Sitewide:**
 - nav menu highlighting
 - mobile menu size

Press page buttons
 - change shape on resize
 - at small size, pushes down into line of content below

[2021-09-03 05:16] superbunker opened #434 "Change the link to the logos folder"
## Overview
change the link

## Action Items
- [x] change the link
- [x] review

## Resources/Info
 - Website/_includes/Press/press_action.html
 - https://github.com/100Automations/Website/issues/426#issuecomment-906846930

[2021-09-03 05:29] superbunker commented on #434
changed the link

[2021-09-03 23:42] superbunker opened #435 "Tiny tiny hamburger menu"

[2021-09-03 23:42] superbunker opened #436 "Tiny tiny hamburger menu"
## Description of bug
The mobile menu is comically small.

### Platform/Devices/Browsers
Noted on the All Guides and Home pages, but seems to be an issue sitewide.

## Reference/Info
All Guides (Android)
![E5938512-C3FD-45A9-AF61-9752106F8452](https://user-images.githubusercontent.com/21250505/131758082-9e8ad443-c66f-4f65-8150-a388a98292f4.png)

Home (iOS)
![IMG_0507](https://user-images.githubuse

[2021-09-04 20:34] henlatourrette opened #437 "Bug: Mobile - Big Gap between "100 Automations" and "Getting Started" Sections"
**Describe the bug**
On mobile (android/chrome), the gap between 100 Automations and Getting Started sections is longer on the live page than Figma.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
**Figma**
<img src= "htt

[2021-09-04 20:41] henlatourrette opened #438 "Bug: Mobile - Content Bust-out from the screen"
**Describe the bug**
On Mobile, the Homepage content Bust-out from the screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**

![IMG_0509](https://user-images.githubusercontent.com/47950704/131790859-fbd9896c-4ee4-49e3-8

[2021-09-04 20:50] henlatourrette opened #439 "Bug: Desktop - No Space to the Left of the Paragraph (About Page)"
**Describe the bug**
On Desktop, there's no space to the left of the paragraph on the top section of the page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![Screenshot from 2021-09-02 15-12-15](https://user-images.gith

[2021-09-04 20:50] superbunker opened #440 "Press page button behavior"
## Description of bug
Buttons dynamically resize as squished rectangles. They should remain square.

### Platform/Devices/Browsers
all desktop versions

## Reference/Info
![image](https://user-images.githubusercontent.com/37763229/131055823-8a452c14-0892-4dc4-a9c4-76e7c1c2df51.png)

[2021-09-04 20:50] superbunker opened #441 "Mobile content forced outsize viewport"
duplicate issue: see #438

[2021-09-04 20:53] henlatourrette opened #442 "Bug: Desktop - Middle section goals too spaced apart too far - About Page"
**Describe the bug**
middle section goals are spaced apart too far

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![Screenshot from 2021-09-02 15-12-02](https://user-images.githubusercontent.com/54788134/131910139-9bce4c

[2021-09-04 20:54] #441 closed, assigned to nobody

[2021-09-04 21:09] superbunker commented on #434
yep

[2021-09-04 21:09] #434 closed, assigned to superbunker

[2021-09-04 21:28] superbunker commented on #433
Example of what we're gunna do:

- [ ] This thing is broken : link_to_comment

[2021-09-04 21:35] sobe-an commented on #433
Press Page Bug Issues

- [x] #451 Contact info is distorted when the page dimension is reduced as the page is not responsive. :rocket:
   https://github.com/100Automations/Website/issues/426#issuecomment-906828203,
   https://github.com/100Automations/Website/issues/426#issuecomment-908844584
- [x] Margins don't match Figma. :rocket:
   https://github.com/100Automations/Website/issues/426#issuecom

[2021-09-04 22:17] henlatourrette commented on #433
Home Page Bug Issues

- [x] #438
- [x] #437

[2021-09-04 22:18] henlatourrette commented on #433
About Page Bug Issues

- [x] #439
- [x]  #442
- [x]  #444
- [x]  #445
- [x]  #446
- [x]  #447
- [x]  #448
- [x]  #449

Important to notice: Screenshots taken for the Mobile Bugs were from responsive screen, not mobile.

[2021-09-05 00:54] superbunker commented on #433
### Guides bugs:

- [ ] change image location : #462 (
https://github.com/100Automations/Website/issues/428#issuecomment-908902329 :eyes: )
- [x] bottom border goes offscreen to the right  : https://github.com/100Automations/Website/issues/428#issuecomment-912108957
   - likely related to sitewide (?) mobile margins issue : #438 🚀
- [x] mobile images going way offscreen  :rocket: : https://github.

[2021-09-05 01:10] superbunker commented on #433
### All Guides page bugs

- [x] nav menu highlighting (sitewide) : https://github.com/100Automations/Website/issues/427#issuecomment-910883524
- [x] tiny hamburger (sitewide) :rocket: : https://github.com/100Automations/Website/issues/427#issuecomment-910890624
- [x] #468 mobile: bottom border radius is wrong (sitewide) :eyes: :

[2021-09-09 23:10] henlatourrette opened #444 "Bug: Desktop - Bottom section titles above the paragraphs look too small"
**Describe the bug**
Bottom section titles above the paragraphs look too small.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![Screenshot from 2021-09-02 15-12-40](https://user-images.githubusercontent.com/54788134/131

[2021-09-09 23:13] henlatourrette opened #445 "Bug: Desktop - Botton section large title looks off with the spacing"
**Describe the bug**
Botton section large title looks off with the spacing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![Screenshot from 2021-09-02 15-20-13](https://user-images.githubusercontent.com/54788134/13191074

[2021-09-09 23:21] henlatourrette opened #446 "Bug: Mobile About Page - Paragraph is not above numbers"
**Describe the bug**
paragraph is not above numbers

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![Screenshot from 2021-09-02 15-23-17](https://user-images.githubusercontent.com/54788134/131911243-e0179caf-31b7-44d0-92

[2021-09-09 23:23] henlatourrette opened #447 "Bug: Mobile About Page - Spacing to the left and right of goals look a little small"
**Describe the bug**
spacing to the left and right of goals look a little small

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![Screenshot from 2021-09-02 15-23-52](https://user-images.githubusercontent.com/54788134/131

[2021-09-09 23:35] henlatourrette opened #448 "Bug: Mobile About - Titles are to small or have incorrect alignment."
**Describe the bug**
On Mobile: Titles are to small or have incorrect alignment.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![Screenshot from 2021-09-02 15-24-17](https://user-images.githubusercontent.com/54788134/13

[2021-09-09 23:36] henlatourrette opened #449 "Bug: Mobile About - Icons are not aligned next to each other in a row instead of a column"
**Describe the bug**
Icons are not aligned next to each other in a row instead of a column

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![Screenshot from 2021-09-02 15-24-32](https://user-images.githubusercontent.com/5

[2021-09-10 00:24] superbunker commented on #352
Who has ownership of 100automations (in h4la settings (?) )
- cnk
- darren pham
- bonnie
- jared fowler
- joel parker henderson
- kian baddie
- niven
- olivia
- raudel blazquez munoz
- sophia alice
- tim malsted

currently all members can create repos at 100a

people in the org/we trust : ask them to create private repos
outsiders: we create private repo

[2021-09-10 00:35] superbunker commented on #352
- [ ] @superbunker will create an issue (or redo this one) to focus on builders guide and getting Ava's repo created

[2021-09-10 00:49] henlatourrette commented on #417
![Uploading B5072F55-CA56-44B1-B2AA-8E67391B6D3F.png…]()

[2021-09-10 01:12] henlatourrette commented on #417
![2CCC3345-E2CE-4BA9-AF71-E7ABEEEFFB70](https://user-images.githubusercontent.com/21250505/132782847-226fd4f7-7506-4d01-a819-c8a3fe508092.png)

[2021-09-11 20:49] superbunker opened #451 "Press page contact info overlaps at smaller responsive sizes."
## Description of bug
At smaller responsive sizes (desktop) the contact information overlaps other content

### Platform/Devices/Browsers
seems to be all desktop browsers. verified: windows/chome, mac/safari

## Reference/Info

![image](https://user-images.githubusercontent.com/43450074/131431171-a493ccf7-5908-4adb-a1dc-9cf092926174.png)

[2021-09-14 23:15] superbunker opened #452 "Hey fix this bug"
## Overview
The bug does this bad thing

## Action Items
- [ ] do thing!
- [ ] do the other thing
- [ ] review

## Resources/Instructions
- [look it up](http://google.com)

[2021-09-14 23:16] superbunker commented on #452
just testing

[2021-09-14 23:16] #452 closed, assigned to nobody

[2021-09-14 23:17] superbunker opened #453 "Menu doesn't highlight active page"
## Description of bug
Menu not highlighting the current page

### Platform/Devices/Browsers
- [ ] make it highlight!
- [ ] review

## Reference/Info
sitewide issue (i think)

![image](https://user-images.githubusercontent.com/21250505/131757491-7c697636-fd0c-4b38-9cc6-7345d4b32493.png)

Figma:
<img width="1440" alt="All Guides_Desktop" src="https://user-images.githubusercontent.com/78511203/131231

[2021-09-14 23:21] superbunker commented on #453
hey!

[2021-09-14 23:32] citrusapple opened #454 "Bug: Press Release Page"
**Describe the bug**
The layout and font color of the press release section does not match the figma

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://100automations.org/press-kit/press-kit-index

**Expected behavior**
page matching figma

**Screenshots**
live site
https://user-images.githubusercontent.com/37763229/131056038-9b792f5b-a473-4736-978f-e5715344925b.png
figma
https://

[2021-09-14 23:37] citrusapple commented on #433
testing

[2021-09-14 23:59] citrusapple opened #455 "Bug: Automation cards hack for LA icons do not have hyperlink"
**Describe the bug**
automation cards hack for LA icons do not have hyperlink

**Screenshots**

![image](https://user-images.githubusercontent.com/24448751/133349203-6cdba54f-09c6-4224-8eab-76e213f18167.png)

[2021-09-15 00:00] citrusapple commented on #424
Bug: Automation cards hack for LA icons do not have hyperlink #455

[2021-09-17 00:10] superbunker commented on #417
This solution shrinks the image. We'll need to test it out on some native devices and decide if this is best, or we need a different method.

[2021-09-17 00:12] superbunker commented on #440
Should be good for responsive (a bit of overlap w/ content at very small squish) but needs more testing on native mobile.

[2021-09-17 00:23] superbunker commented on #453
Thought this was a duplicate, but can't find the original. So!

[2021-09-17 00:25] ExperimentsInHonesty opened #456 "Cleanup project board, labels and milestones"
### Overview
We need to be able to sort the board easily in order to track feature development, velocity, and capacity

### Action Items
- [ ] Make sure all issues have the following label categories
   - [ ] role
   - [ ] size
   - [ ] feature
   - [ ] milestone
   - [ ] optional labels: epic, time sensitive, bug
- [ ] Create shortcuts to check to make sure all issues have the correct labels
- [

[2021-09-18 18:01] henlatourrette commented on #352
I propose to move this issue to the prioritized backlog while we focus on other stuff right now.

[2021-09-18 18:03] henlatourrette commented on #345
Let's move this issue to the prioritized backlog while we are focusing on getting the site ready for now.

[2021-09-18 18:04] henlatourrette commented on #96
I'm moving this issue back to the prioritized backlog so that we can focus on it later.

[2021-09-18 18:07] henlatourrette commented on #354
As Niven has mentioned, I believe this issue is already handled under #384 . @superbunker can you take a look at it and confirm?

[2021-09-18 18:12] henlatourrette commented on #29
This one looks to be already up and running:

![image](https://user-images.githubusercontent.com/21250505/133898416-48d1c882-8c6b-46f2-9ea7-68f073e64885.png)

[2021-09-18 18:14] henlatourrette commented on #429
The meeting day and time was changed from Wednesdays @ 4:30 to Thursdays @ 5pm.

[2021-09-18 18:15] henlatourrette commented on #415
Let's check and close this issue if they're already OK now.

[2021-09-18 18:22] henlatourrette commented on #435
This one is duplicated on issue #436 . Since the other one is the one that was assigned to someone, we can close this one.

[2021-09-18 20:48] superbunker commented on #354
The wiki link is no longer in the revised builder's guide

[2021-09-18 20:48] #354 closed, assigned to superbunker

[2021-09-18 20:49] superbunker commented on #352
We won't be able to launch an MVP until users are able to take action.

For now, keeping this in "in progress" (or maybe "review") as an anchor point for other issues on this topic.

[2021-09-18 20:54] superbunker commented on #435
yep. created accidentally from the list i think

[2021-09-18 20:54] #435 closed, assigned to nobody

[2021-09-18 21:09] superbunker commented on #424
issues moved to #433

[2021-09-18 21:09] #424 closed, assigned to henlatourrette

[2021-09-18 21:10] superbunker commented on #425
issues collected under #433

[2021-09-18 21:10] #425 closed, assigned to henlatourrette

[2021-09-18 21:10] superbunker commented on #29
it totally exists

[2021-09-18 21:10] #29 closed

[2021-09-18 21:11] superbunker commented on #429
yay!

[2021-09-18 21:11] #429 closed, assigned to ExperimentsInHonesty

[2021-09-18 21:15] superbunker commented on #415
The current statuses are plausible... but we haven't actually reviewed the code in future automations

[2021-09-18 21:18] superbunker commented on #440
Doing some more testing on mobile

[2021-09-18 21:18] ExperimentsInHonesty commented on #411
Possible Solutions comments

- character limit all automation titles
  - possible but a hassle.  Its already hard to get the authors to create the automations with unique but specific names
- make title two lines high for all
  - seems reasonable
- dynamically shrink text to fit
  - Risks the site accessibility rating going down

[2021-09-18 21:20] superbunker commented on #451
Looks pretty good

[2021-09-18 21:20] #451 closed, assigned to nobody

[2021-09-18 21:22] superbunker commented on #436
Tiny hamburger solution proves elusive.

HackForLA site has a working model.

[2021-09-18 21:29] superbunker commented on #204
site architecture repository:
https://github.com/100Automations/Architecture

[2021-09-18 21:31] ExperimentsInHonesty commented on #438
[Figma for HfLA design system](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3689%3A21144)

see example
Our Toolkit title on https://www.hackforla.org/toolkit/
[code]
https://github.com/hackforla/website/blob/gh-pages/_sass/variables/_typography.scss

[2021-09-21 23:13] citrusapple opened #458 "Bug: Compare live site to Figma image files for desktop and mobile version."
## Describe the bug
"Press" desktop and mobile webpage images exported from Figma. Please compare live site to these Figma image files:

See issue #426
## References
![image](https://user-images.githubusercontent.com/24448751/134259273-8b153033-2af8-4123-92f6-9c89e9e959d0.png)
![image](https://user-images.githubusercontent.com/24448751/134259329-1cde62e1-95ba-42b0-ad8f-31580e83302a.png)

[2021-09-21 23:20] henlatourrette commented on #352
@superbunker suggests to allow HfLA website team members to have access to our repo sort of automatically so that they can add their projects in here as well.

[2021-09-22 00:00] citrusapple opened #459 "Bug: Press Releases Section and download button design discrepancy with Figma, hyper link leads to google docs, not PDF/ own page"
## Describe the bug
Press Releases section and download button design does not match figma (font and design)

See comment1 on [#426] (https://github.com/100Automations/Website/issues/426#issuecomment-906848453)
comment 2 also on [#426](https://github.com/100Automations/Website/issues/426#issuecomment-908869749)

### Resources
live
![image](https://user-images.githubusercontent.com/24448751/1342627

[2021-09-22 22:51] ExperimentsInHonesty opened #460 "Document 100 Automations team meeting times and who Must/Should/Can attend"
### Overview
The Civic Tech Jobs team needs accurate meeting time information from the 100 Automations team to help match your project with available volunteers.

### Action Items
- [x] provide details about the each meeting in a comment by using a copy of the check boxes below
- [x] post a link to this issue on https://github.com/hackforla/CivicTechJobs/issues/35 in a comment letting the civic te

[2021-09-23 00:02] henlatourrette commented on #456
I've now updated the "role: missing" labeled issues to their actual roles.

I have doubts about which feature some more general issues should be labeled with.

[2021-09-24 00:18] henlatourrette commented on #453
it's fixed!

[2021-09-24 00:18] #453 closed, assigned to Clue355

[2021-09-24 00:29] henlatourrette commented on #411
@mdothman is working on figuring out the best solution for the flex box

[2021-09-24 00:36] henlatourrette commented on #440
The box sizes are fine now. but the design is not matching figma. @citrusapple will create a new issue for the figma matching part.

[2021-09-24 00:49] henlatourrette commented on #460
Tuesday - PM meeting
  - [x] day: Tuesday at 4
   - [ ] start_time:
      - [ ] AM
      - [x] PM
   - [x] duration_in_min: 60
   - [x] name_of_meeting:  PM meeting
   - [x] who_must_attend
      - [x] pm
      - [ ] all_leads
      - [ ] design_lead
      - [ ] research_lead
      - [ ] frontend lead
      - [ ] data_science_lead
      - [ ] design
      - [ ] research
      - [ ] frontend

[2021-09-25 04:33] citrusapple opened #461 "Bug: Assets, team, fact sheets icons not displaying properly on mobile"
## **Describe the bug**
Assets icon on press page is not on screen on mobile view

## **To Reproduce**
mobile only

## **Expected behavior**
icons should stack according to figma final page design.

## **Screenshots**
Current state on Andriod/ Chrome:
![Screenshot_20210923-173347](https://user-images.githubusercontent.com/24448751/134757989-df649777-9d47-4f33-a52c-152705b70169.jpg)

figma design:

[2021-09-25 20:58] henlatourrette commented on #417
This is how @mdothman see it
![297FA8D6-7A9E-472C-949F-22A164DE9795](https://user-images.githubusercontent.com/21250505/134785769-922b5989-4aa2-410a-9323-b83fbf624efa.png)

and this is how I see it from my phone (iPhone SE 2020 with Safari and Chrome)

![922A47EF-5AED-43C9-ADE4-3771E42DCB3F](https://user-images.githubusercontent.com/21250505/134785790-8f3549ef-190e-4295-a7c0-ad4bdfec4cd5.png)

[2021-09-25 21:10] henlatourrette commented on #460
Thursday - Team Meeting

- [x] day: Thursday
   - [ ] start_time: 5:00
      - [ ] AM
      - [x] PM
   - [x] duration_in_min: 60
   - [x] name_of_meeting: Team Meeting
   - [x] who_must_attend
      - [x] pm
      - [x] all_leads
      - [x] design_lead
      - [x] research_lead
      - [x] frontend lead
      - [x] data_science_lead
      - [ ] design
      - [ ] research
      - [ ] frontend

[2021-09-25 21:17] henlatourrette commented on #460
Saturday - PM/Org Meeting

- [x] day: Saturday
   - [ ] start_time
      - [ ] AM
      - [x] PM: 2 PM
   - [x] duration_in_min: 120
   - [x] name_of_meeting: Team Meeting ( or just PM/Org Meeting?)
   - [x] who_must_attend
      - [x] pm
      - [ ] all_leads
      - [ ] design_lead
      - [ ] research_lead
      - [ ] frontend lead
      - [ ] data_science_lead
      - [ ] design
      - [ ] re

[2021-10-01 00:38] gstill commented on #420
Review my [accessibility audit finding notes](https://docs.google.com/spreadsheets/d/1D3ImG4TwDG-M7QZepoOaajCRWAVAIBGV_7T4KAWhgSY/edit#gid=0
) then refind the major issues and transfer them into an excel document for the development team to access by Saturday, Oct 2nd.

Images in personal [figma](https://www.figma.com/file/LAPaFDaX2oYz0t46R7Lhyz/100-Automations--Accessibility-Test?node-id=0%3A1)

[2021-10-01 00:43] citrusapple commented on #440
compared Figma and desktop site, design matching.  Mobile display issue (icons not stacking) opened at #461

[2021-10-01 00:43] #440 closed, assigned to citrusapple

[2021-10-01 19:23] citrusapple commented on #47
guides have been written [Readme](https://100automations.org/guides/creating-good-readmes-for-automations.html) and [supporting automation with your community.](https://100automations.org/guides/community-support-for-automations.html)

[2021-10-01 19:24] #47 closed

[2021-10-01 19:44] citrusapple commented on #439
@Clue355 please make paragraph margin for desktop match figma

[2021-10-01 19:51] citrusapple commented on #27
Outdated needs, closing.

[2021-10-01 19:51] #27 closed

[2021-10-01 19:53] citrusapple commented on #357
dependency: need process for creating repo before further developing guides, moving to icebox

[2021-10-01 20:09] citrusapple commented on #360
dependency: need final launch date to finalize press release document into PDF/ page. moving to icebox

[2021-10-02 20:05] henlatourrette opened #462 "Bug: Update Image Source - Guide: Project Card Anatomy"
**Describe the bug**
We need to update the image source on the Project Card Anatomy Guide. Right now it's coming from a comment but the image should be located on the repo.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://100automations.org/guides/project_card_anatomy.html'
2. Check the image source
3. That the URL it's using as the image source is just a comment.

**Expected b

[2021-10-02 20:27] gstill commented on #420
Add a review of the tools stating the pros and cons of each of them in an excelsheet and create a research plan by Saturday, Oct 2nd.

[2021-10-02 20:34] henlatourrette opened #463 "Bug: Press Page - The layout of the title should not be stacked"
**Describe the bug**
The layout of the title should not be stacked and the download button txt should not be stacked when there is plenty of space on the page

If we are on mobile, the elements would get stacked and be smaller but "Download All" never needs to be two lines
![image](https://user-images.githubusercontent.com/37763229/131056661-1ed9b591-5a59-415b-91b6-4ad4f57e7b75.png)

**To Reproduc

[2021-10-02 20:39] henlatourrette opened #464 "Bug: Press Release Section - The layout and font color does not match the Figma design."
**Describe the bug**
The layout and font color of the press release section does not match the figma
Live page
![image](https://user-images.githubusercontent.com/37763229/131056038-9b792f5b-a473-4736-978f-e5715344925b.png)

figma
![image](https://user-images.githubusercontent.com/37763229/131056174-62968fee-273b-405e-8660-aaf8936303be.png)

Its possible that the font colors are not as selected in

[2021-10-02 20:55] henlatourrette commented on #415
I sent slack messages to each of the ones - who seem to me are the project owners - for all three current automation on our main website:
* Pre-commit hooks starter kit, Sophia Alice
* Jekyll Gather Data types, Raudel Blazquez
* True Github contributors, Kian Badie

Still didn't get a reply from any of them but will wait for the following days.
As for the labels situations, they seem to be accurat

[2021-10-02 21:50] ExperimentsInHonesty commented on #411
This issue is being address by fix that will applied to #438 .  Check again after that issue is closed

[2021-10-02 22:16] ExperimentsInHonesty commented on #420
@gstill  will update spreadsheet with category of issue and number of corresponding image in figma.

[2021-10-03 23:59] mdothman commented on #204
# 100 Automations Site Architecture -  _Update_

## [MKDocs Live Site](https://100automations.github.io/Architecture/)

[2021-10-05 23:00] henlatourrette commented on #415
Didn't hear back from Sophia and Kian but I did get to chat with Raudel from the "Jekyll Gather Data Types" project.

Raudel told me that "Akib Rhast" was working on a similar project that accomplished the same goal - However, we can conclude that this project status is still "In development".

We still need to confirm the statuses for Pre-commit and True Github contributors

[2021-10-07 23:21] henlatourrette commented on #352
Ava insisted on adding her project now that it's still fresh on her head. So I asked her to add it to the [Future Automations board](https://github.com/100Automations/futureautomations/projects/1). She did add it [in here](https://github.com/100Automations/futureautomations/issues/40) but she wasn't able to place it into the right column

![image](https://user-images.githubusercontent.com/21250505

[2021-10-07 23:36] henlatourrette opened #465 "Bug: Press Page: Spacing Between Buttons for Social Media and Post Squares don't match Figma"
**Describe the bug**
The spacing between the post squares don't match from the two sections
The space between the buttons for social media and the posts below is larger than is indicated on the figma
![image](https://user-images.githubusercontent.com/37763229/131057487-efcc4e87-322d-4bb8-9c0d-a7a5daac6873.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3.

[2021-10-07 23:42] henlatourrette opened #466 "Bug: Press Page - Resize Logo and Team buttons to horizontally align"
**Describe the bug**
Small formatting: Logo and Team buttons could be resized to horizontally align.

![image](https://user-images.githubusercontent.com/43450074/131431565-6c5714d3-26ac-44ed-987e-25833cca5cb7.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what

[2021-10-07 23:45] henlatourrette commented on #426
This was intentionally since different social media platforms have different image sizes for their posts.

[2021-10-07 23:50] henlatourrette opened #468 "Bug: Mobile Press - bottom radius and footer are different from Figma"
**Describe the bug**
Mobile page's bottom radius and footer in Figma for comparison. See location of text and Hack For LA logo. Social icons should be vertically center justified, and spaced farther apart.
![image](https://user-images.githubusercontent.com/78511203/131784615-b2a77090-833b-4b52-a146-aaeb4958c186.png)

**To Reproduce**
To reproduce the error, simply go to 100automations/all_guides o

[2021-10-08 00:00] superbunker commented on #352
At the last product meeting, we decided/clarified that we have one workflow that everyone follows, and one intake point - the google form. This will require widespread revision of the guides, and perhaps some other UI text. We should probably create another (epic) issue to research and track all the necessary changes.

[2021-10-08 00:41] henlatourrette commented on #461
![8CC2E701-A2DD-40A4-9BA6-700E3540BA96](https://user-images.githubusercontent.com/21250505/136480669-a2d838ba-c8d1-4bbe-bf44-6bfe75871a8e.png)

[2021-10-08 00:44] henlatourrette commented on #461
It's fixed!

[2021-10-08 00:44] #461 closed, assigned to Clue355

[2021-10-08 00:53] henlatourrette commented on #417
I'm the only one who sees the image like that. We will test with other phones.

[2021-10-08 00:57] ExperimentsInHonesty commented on #241
@superbunker can you move the folder into the 100 automations drive

[2021-10-09 20:53] superbunker commented on #241
There are two google accounts: 100automations@gmail.com and 100automations@hackforla.org

The form was made with the 100automations@hackforla.org account. It's located here:
https://docs.google.com/forms/d/16BebCxeMH031c7prjLdyKa20nLZ4dj7ORFsw6HyaMIQ/edit

Looking at the incoming email, that account also seems to have something active at zapier but its behind another password, so don't know what

[2021-10-15 00:15] ExperimentsInHonesty opened #469 "Workflow audit: builder"
### Overview
We need to audit the workflow for the user: builder so that we can make sure that is it ready to launch.

### Action Items
- [x] Go to homepage and define all paths that take you to the builder workflow (in Figma Jam)
- [ ] Identify the discreet steps and put what is missing or other notes on each step

### Resources/Instructions
- [Figma Jam](https://www.figma.com/file/IL9pYQDnj1V0em

[2021-10-15 00:37] ExperimentsInHonesty commented on #439
1. Progress: almost done
2. Blockers: none
3. Availability: good
4. ETA: 10/15

[2021-10-15 00:38] ExperimentsInHonesty commented on #417
@ExperimentsInHonesty will look for small phone iphone 5se

[2021-10-18 20:07] citrusapple commented on #469
Updated [figma Jam](https://www.figma.com/file/IL9pYQDnj1V0emSZK3UECa/workflow%3A-builder?node-id=0%3A1) with 4 paths from home page to "[start building](https://100automations.org/guides/start_building.html)" guide.

Main issues:

-"[Start Building"](https://100automations.org/guides/start_building.html) Guide itself is outdated from defined approval/ build workflow
-"[Creator Overview](https://1

[2021-10-19 23:44] ExperimentsInHonesty commented on #415
@ExperimentsInHonesty will ask sophia if the status on "Pre-commit hooks starter kit, Sophia Alice" is correct
currently:
in use and needs further development
Needs Help: Refactoring, Peer review, Advice

Please advise on current status:

Possible Status of project: (must pick one)
- [ ] In Use And Ready To Deploy
- [x] In Use and Needs Further Development
- [ ] In Use And Being Refactored
- [ ] R

[2021-10-19 23:53] ExperimentsInHonesty commented on #415
added to DS agenda https://github.com/hackforla/data-science/issues/65#issuecomment-947191530

[2021-10-20 22:18] henlatourrette commented on #352
To clarify the Defined Process:

1. All automation proposals should go through the [Google Form.](https://docs.google.com/forms/d/e/1FAIpQLSeGJrU92Tj5Ft763MMWpSwyB6VqctPXzu8WKIy4xTjf1nJg0Q/viewform). People shouldn't directly add proposals as issues on the project board.
2. The product Team will review the [FutureAutomations KanBan Board](https://github.com/100Automations/futureautomations/project

[2021-10-22 00:30] ExperimentsInHonesty opened #473 "Roadmap"
### Overview
We need a roadmap so that we know how to prioritize tasks and how far along we are on the project

### Action Items
- [x] Setup a spreadsheet
- [x]  Define goal of project
- [ ]  Define Objectives
- [ ]  order the objectives in terms of priority
- [ ]  Create milestones
- [ ]  add milestone links to sheet
- [ ]  add current labels to the spreadsheet so that we can identify which of th

[2021-10-23 18:55] henlatourrette commented on #417
This is how it looks from an iPhone XR using Safari.

![9E19741F-257C-4E00-912E-4DC1026BF0BC](https://user-images.githubusercontent.com/21250505/138568199-4f73b794-b8a0-41e2-b784-638deaa599ab.jpeg)

[2021-10-23 18:57] henlatourrette commented on #417
Since the image issue is only happening on some iPhones now, I believe we can consider it less critical and leave it for later by moving this issue to the Ice Box column for now.

[2021-10-23 18:59] henlatourrette commented on #426
Since most bugs were already considered in issue #433, I propose closing this issue.

[2021-10-23 19:00] henlatourrette commented on #428
- Since all reported bugs were already considered in issue #433, I propose closing this issue.

[2021-10-23 19:01] henlatourrette commented on #427
Since all reported bugs were already considered in issue #433, I propose closing this issue.

[2021-10-23 19:03] henlatourrette commented on #433
I went through all the bugs reported in the comments and it seems to me that there's no pending issue to be created from the reported Bugs.

[2021-10-23 19:43] henlatourrette commented on #23
I'ver currently lost access to my 1password account and don't have access to the 100automations Google Analytics tool - so, I cannot check it right now.

[2021-10-26 23:54] henlatourrette opened #476 "Create the Credits Page"
### Overview
We need a Credits page where you can find all the credits for the images and other assets.

### Action Items

- [ ] Create a page that uses yml files as sources
- [ ] Create yml files for all the assets used sitewide
- [ ] Link to the "Credits" page from the homepage
- [ ] Review it with the team

### Resources/Instructions
https://www.hackforla.org/credits/

[2021-10-27 21:42] henlatourrette commented on #352
As an update, there's issue #469 through which we are also doing a full audit on the User Journeys including the different user personas:
* Builder
* Ideator
* Contributor

[2021-10-28 18:52] citrusapple opened #477 "Review and revise the starting point guides"
## Overview
Some of the six _How to Get Started_ guides need urgent revisions so users can move forward. This issue will track the work on the starting point guides, with separate issues for more specific tasks.

## Dependancy

- #469

## Action Items
- [ ] Review the [starting point guides](https://100automations.org/all_guides) for obvious blockers (eg: create a repository), note here in comment

[2021-10-29 00:14] henlatourrette commented on #433
Closing the issue. Bug hunt is done.

[2021-10-29 00:14] #433 closed, assigned to henlatourrette, sobe-an, superbunker

[2021-10-29 00:14] #427 closed, assigned to superbunker

[2021-10-29 00:15] #428 closed, assigned to superbunker

[2021-10-29 00:16] #426 closed, assigned to sobe-an

[2021-10-29 00:25] henlatourrette commented on #473
@ExperimentsInHonesty can you give me access to the HackforLA Website Roadmap (just as a viewer) so that we can use it as an example.

[2021-10-29 00:33] citrusapple commented on #402
update: mobile is working properly.  Still having issues with tablet size or half size desktop, due to not having a tablet design in Figma. Carlos will continue to work on it.

[2021-10-29 00:56] superbunker opened #478 "Write a new Start Building guide"
## Overview
The [Start Building](https://100automations.org/guides/start_building.html) guide should be a welcoming introduction for developers. We need remove instructions for things they can't do yet (like creating a repository) and direct to the same google form used for submitting ideas.

The [Submit Idea](https://100automations.org/guides/submit_idea.html) guide could be used as a starting po

[2021-10-29 03:10] salice commented on #415
Needs additional language support (currently only has Python)

[2021-10-30 20:50] henlatourrette opened #479 "Update [Pre-commit Hooks Starter Kit] card "Needs Help" information"
### Overview
The current "Needs Help" information doesn't show the current requirements.

According to the [Pre-commit Hooks Starter Kit] Automation Owner, the current help requirements are the following:
- Needs Maintenance
- Needs Support For Users
- Needs Peer Review

### Action Items
Update the Needs Help information
Review it with the team

### Resources/Instructions
[Automation Owner's comme

[2021-10-30 21:14] henlatourrette commented on #420
@gstill has finished the audit with all the accessibility testing tools and all the findings are written down in the spreadsheet. We now need to define the next steps regarding the solutions.

Gillian says she needs clarification on what @ExperimentsInHonesty means by "number of corresponding image in figma."

[2021-10-30 21:23] henlatourrette commented on #479
hey, @superbunker do you think you can take on this issue? it seems to be a small and easy one but I don't know how to do it. Or maybe you can show it to me? As I think this can be a regular thing to do in the future as we add more automations.

[2021-10-31 04:25] superbunker commented on #479
@henlatourrette yep, i got it.
It's easy — I'll show you where it is next meeting

[2021-10-31 04:29] superbunker commented on #479
pull request #480

[2021-11-02 21:56] citrusapple commented on #477
reviewed and made comments to [submit ideas guide](https://docs.google.com/document/d/14GvTR5uEtUYg-mphVNV0rSsVWJKZZXWSk4HUniEtnc4/edit#) (i.e. removed verbiage for devs to create new issue directly on project board) as suggested by @superbunker

[2021-11-02 22:52] henlatourrette commented on #415
Confirmed that

- [x] Jekyll Gather Data Types didn't change Status
- [x] Pre-commit Hooks Starter Kit was updated as per feedback from Sophia
- [ ] True Github Contributors Status still needs to be confirmed with Kian Badie

[2021-11-02 23:33] superbunker opened #481 "Revise the Submit Idea guide"
## Overview
We need to revise the Submit Idea guide to avoid developer specific instructions and language.

## Action Items
- [ ] revise new guide -- add below in the comments of this issue
- [ ] keep on revising'!
- [ ] publish that sucker

## Additional Info
- [here's an outline/ draft ](https://docs.google.com/document/d/1Sl9-8LLKGRbgSYzw5nP4XFWVFa-Aya9GILvuuQuIMcA/edit?usp=sharing)
- [workflow

[2021-11-02 23:36] superbunker commented on #481
**[current text of the Submit Ideas Guide](https://github.com/100Automations/Website/blob/gh-pages/_guides/submit_idea.md):**

----
You may be a developer who is annoyed with a program, or a project manager with a brilliant idea you want to see built out. No matter who you are or your technical skills, your ideas are valuable to the open-source community! As an Ideator at 100 Automations, you can

[2021-11-02 23:36] superbunker commented on #481
hey great text!

[2021-11-03 00:03] superbunker opened #482 "Revise the Creator Overview guide"
## Overview
This is the generic landing page for all possible modes of contribution. It currently just points users to the starter guide they want. But since it's the topmost call to action, perhaps it could be more helpful?

## Action Items
- [x] Add current text below in the comments of this issue
- [ ] discuss
- [ ] revise
- [ ] publish

## Additional Info
- source: [Creator Overview](https://g

[2021-11-03 00:05] superbunker commented on #18
This refers to the website architecture with Design MVP milestone.
It's done.

[2021-11-03 00:05] #18 closed

[2021-11-03 00:43] superbunker commented on #482
current Creator Overview text:

---
**Want to know how to start creating automations?**

There are many ways to contribute to the 100 Automations project. Whether you have an excellent idea but don't know how to build, or you have an automation that needs improvement, or you have an idea and are excited to build it here. We have something for you.

## Suggest an Automation
If you have an idea star

[2021-11-03 00:45] superbunker opened #483 "Move the current "start building" content to a new guide"
## Overview
The current content of the Start Building guide is targeted at later, post-approval stages of the process. Create a new guide for this content

## Action Items
- [x] come up with a working title ("Steps for adding an automation")
- [x] create a draft guide [Builder adding automation](https://100automations.org/guides/builder-adding-automation.html)
- [x] add current content here in the

[2021-11-03 00:51] superbunker commented on #483
current content of Start Building:

---

## Steps to add an automation to 100 Automations:

### 1. New Repository
Create a new repository under the 100 Automations - [quick link here](https://github.com/organizations/100Automations/repositories/new)

### 2. Heath Files
Ensure the repository contains, at a minimum:
- A Readme
- Licence: we use the GNU General Public License v2.0 at Hack for LA
- A

[2021-11-04 23:39] henlatourrette opened #484 "Project: 100Automations: Google Drive Migration"
### Overview
We need to Migrate the Files to the Google Shared Drives. Currently they're all under personal Drives.

### Action Items
Move Files to the Shared Drive
Review it with the team

### Resources/Instructions
[Guide on How to Do It](https://github.com/hackforla/knowledgebase-content/issues/66)

[2021-11-06 21:27] superbunker commented on #431
@superbunker add link to the user flow diagram in resources

[2021-11-06 21:51] #439 closed, assigned to Clue355

[2021-11-06 21:51] #402 closed, assigned to Clue355

[2021-11-06 21:51] #436 closed, assigned to Clue355

[2021-11-08 23:14] citrusapple commented on #484
Created copy of existing files to new [shared drive](https://drive.google.com/drive/u/0/folders/0AFXxG16I9WmnUk9PVA).  Would like to get confirmation for what to do with previous drive owned by bonnie.  Should we delete the old copies or just revert access for everyone for the old folder? Once confirmed we can let everyone know on slack channel.

[2021-11-10 00:18] citrusapple commented on #484
PM meeting 11/9 cannot download and upload migrate files from old drive to new shared drive.  Will delete the uploaded files and migration of files will be done owner by owner.

[2021-11-12 00:45] superbunker opened #486 "hide the workflow guides from all guides list"
## Overview
The workflow for incoming contributors is in flux. The two workflow guides do not explain the overall process — they describe the columns of the futureautomations kanban board. For now, we'll take the guides out of the "all guides" list, but leave them online so we can discuss and revise them.

## Action Items

- [x] change category of guides to "0" to remove them from all guides list